// forums - main app styling
// ====================
// NOTE: this file is deprecated, and we should not continue to add to this file. Use other partials as appropriate.

@import "utilities/variables-new_look";

.discussion-body {
  @include clearfix();

  width: 100%;
  border: 1px solid map_get($grays, "300");
  // border: none;
  background: transparent;
  box-shadow: none;

  @include media-breakpoint-up(md) {
    display: flex;
    flex-direction: row-reverse;
  }

  .bottom-post-status {
    padding: 30px;
    font-size: $forum-x-large-font-size;
    font-weight: 700;
    color: $forum-color-copy-light;
    text-align: center;
  }

  .discussion-article {
    position: relative;

    a {
      word-break: break-all;
    }
    p {
      word-wrap: break-word;
    }
  }

  .main-article.new {
    display: none;
    padding: ($baseline*2.5);
  }

  .discussion-reply-new {
    @include clearfix();
    @include transition(opacity 0.2s linear 0s);

    h4 {
      font-size: $forum-large-font-size;
      font-weight: 700;
    }
  }

  .reply-post-control {
    margin-top: $baseline;
  }
}

// ====================

// inline discussion module
.discussion-module {
  .card {
    border: $card-border;
    box-shadow: 0 4px 12px -2px map_get($grays, "300"), 0 -2px 4px -4px map_get($grays, "300");
    color: $dark;

    &:hover {
      text-decoration: none;
    }

    &-header {
      //border-bottom: 1px solid map_get($grays, "300");
      font-size: 1.25*$font-size-base;
      font-weight: $font-weight-normal;
      padding: .75*$font-size-base .5*$font-size-base;
    }

    &-body {
      padding: .5*$font-size-base .5*$font-size-base $font-size-base;
    }

    &-title {
      font-size: 1.125*$font-size-base;
      font-weight: $font-weight-bold;
      line-height: 1.5*$font-size-base;
      margin: 0 0 $font-size-base;
    }

    &-text {
      //font-size: $font-size-md;
    }

    &-footer {
      //font-size: .9375*$font-size-base;
      background: transparent;
      font-weight: $font-weight-semibold;
      padding: .5*$font-size-base;

      p {
        margin: 0;
      }
    }

    p {
    }

  }
  @extend .discussion-body;

  display: block;
  position: relative;
  border-radius: $forum-border-radius;

  header {
    .anonymous {
      font-size: $forum-base-font-size;
    }
  }

  .inline-discussion-topic {
    width: flex-grid(12);
    font-size: $forum-small-font-size;

    .inline-discussion-topic-title {
      font-weight: bold;
    }
  }

  .discussion-module-header {
    @include float(left);

    width: flex-grid(7);
    margin-bottom: ($baseline * 0.75);
  }

  .add_post_btn_container {
    @include text-align(right);

    width: flex-grid(12);
    height: (2 * $baseline);
  }

  div.add-response.post-extended-content {
    margin-top: $baseline;
    margin-bottom: $baseline;
  }
}

.discussion-show {
  @include float(right);

  position: relative;
  top: 3px;
  font-size: $forum-base-font-size;
  text-align: center;

  &.shown {
    background-color: theme-color("inverse");
    color: #e41d37;
  }
}

section.discussion {
  @include clearfix();
}

.edit-post-body {
  width: 100%;
}

.post-cancel {
  float: right;
}

.new-post-article, .edit-post-form {
  .forum-new-post-form {
  //  padding: $baseline;
  }

  .inner-wrapper {
    max-width: map-get($container-max-widths, xl);
    min-width: 760px;
    margin: auto;
  }

  .post-field .field-input {
    display: block !important;
  }

  .field-label .input-radio {
    display: inline-block !important;
  }

  .form-control-sm, .edit-post-title {
    padding: 0.25rem 0.5rem !important;
    font-size: 0.875rem !important;  
    color: #212529 !important;
    border-radius: 0;
    background-color: #fff;
    background-clip: padding-box;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    height: calc(1.7143em + 0.5rem + 2px) !important; 
    border: 1px solid #ced4da  !important;
    border-radius: 0 !important;
  }

  .js-post-title, .edit-post-title {
    width: 100% !important;
  }
}

.xblock-student_view-discussion {
  @extend %ui-print-excluded;
  // Overrides overspecific courseware CSS from:
  // https://github.com/edx/edx-platform/blob/master/lms/static/sass/course/courseware/_courseware.scss#L499
  padding-top: 15px !important;
}

// ====================

// post pagination
section.discussion-pagination {
  margin-top: ($baseline*1.5);

  nav.discussion-paginator {
    @include float(right);

    ol {
      li {
        @include padding-right($baseline/2);

        list-style: none;
        display: inline-block;

        &.current-page span {
          display: inline-block;
          height: 35px;
          padding: 0 ($baseline*0.75);
          border: 1px solid $forum-color-border;
          border-radius: $forum-border-radius;
          font-size: $forum-base-font-size;
          font-weight: 700;
          line-height: 32px;
          color: theme-color("gray-dark");
          text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
        }
      }
    }
  }
}

// .discussion-module