// Layouts for discussion pages
@import "utilities/variables-new_look";

div {

}
div {
  .justify-content-between {
    align-items: stretch;
    flex-flow: row wrap;
    justify-content: space-between !important;  
    line-height: 1.7143;
  }
}

.display-2 {
  font-weight: 600;
} 

@include media-breakpoint-up(md) {
  #content {
    margin: 0 0 $jumbotron-padding-y;
    padding: 3*$font-size-base 0;
  }

  .jumbotron > .container {
    .d-flex {
      align-items: stretch;
      flex-flow: row wrap;

      > aside, > section, > article {

        header {
          display: flex;
          justify-content: space-between;
          
          h1 {
            font-weight: 600;
          }
          
          h2, a {
            font-size: $h6-font-size;
            line-height: 1.7143;
            margin: 0;
            padding: calc(.25em + 1px) 0;
            text-align: left;
          }
        }

        p, li {
          //font-size: 15px;
        }
      }

      > aside {
        border-left: 1px solid map_get($grays, "300");
        flex: 0 0 346px;
        margin-left: $font-size-base * 2;
        order: initial;
        // order: -1;
        padding-left: $font-size-base * 2;

        .list-group-item {
          font-size: $small-font-size;
        }

        h6 {
          font-size: $h6-font-size;
        }

        #basic-data-facets {
          display: block !important;
        }

      }

      > section, > article {
        flex: 1 1;
      }

    }
  }
  main.container {
    .d-flex {
      align-items: stretch;
      flex-flow: row wrap;

      > aside, > section, > article {

        header {
          display: flex;
          justify-content: space-between;

          h2, a {
            font-size: $h6-font-size;
            line-height: 1.7143;
            margin: 0;
            padding: calc(.25em + 1px) 0;
            text-align: left;
          }
        }

        p, li {
          //font-size: 15px;
        }
      }

      > aside {
        border-right: 1px solid map_get($grays, "300");
        flex: 0 0 290px;
        margin-right: $font-size-base * 2;
        order: -1 !important;
        padding-right: $font-size-base * 2;

        .list-group-item {
          font-size: $small-font-size;
        }

        h6 {
          font-size: $h6-font-size;
          line-height: 21px;
          margin-bottom: 0;
        }

        #basic-data-facets {
          display: block !important;
        }

      }

      > section, > article {
        flex: 1 1;
      }

    }
  }

}

@include media-breakpoint-up(lg) {
  .jumbotron > .container {
    .d-flex {
      > aside {
        flex: 0 0 426px;
      }
    }
  }
  main.container {
    .d-flex {
      > aside {
        flex: 0 0 290px;
      }
    }
  }
}

#content {

  .vert {

    .problems-wrapper {

      .problem-header {

      }

      .problem-progress {
        font-size: .875rem;
        font-style: italic;
        margin: 0;
        padding: 0 0 1rem;
      }

      .problem {
        p, li, blockquote, dd {
          font-size: 1rem;
        }

        .wrapper-problem-response {
        }

        [class*="inputtype"] {
          background-color: map_get($grays, "100");
          border: 1px solid map_get($grays, "200");
          margin: 0 0 -1px;
          padding: 1rem;
        }

        fieldset {
          border: 0;
          margin: 0;
          padding: 0;
        }

        legend,
        .problem-group-label {
          font-size: 1.125rem;
          font-weight: $font-weight-semibold;
          margin: 0;
          padding: 0 0 1rem;
        }

        .question-description {
          font-size: .875rem;
          font-style: italic;
          margin: 0;
          padding: 0 0 1rem;
        }

        label {
          &.list-group-item {
            border-color: map_get($grays, "300");
            background: transparent;
            padding: 0;
          }

          &:hover {
            cursor: pointer;
          }

          &.choicegroup_correct {
            /*
            background: rgba(40, 167, 69, .25);
            border-color: rgba(40, 167, 69, .25);
            */
          }

          &.choicegroup_incorrect {
            /*
            background: rgba(255, 193, 7, .25);
            border-color: rgba(255, 193, 7, .25);
            */
          }

        }

        .field {
          &.custom-control {
            align-items: center;
            display: flex;
            padding: 1rem 1rem 1rem 3rem;

            .custom-control-label {
              &::before {
                border: 2px solid map_get($grays, "600");
                left: -2rem;

              }

              &::after {
                left: -2rem;
              }
            }

          }
        }

        .action {
          align-items: center;
          background-color: map_get($grays, "100");
          border: 1px solid map_get($grays, "200");
          border-top: 0;
          display: flex;
          margin-bottom: 1rem;
          padding: 1rem;

          .submit-attempt-container {
            align-items: center;
            display: flex;
            flex-grow: 1;

            .submission-feedback {
              font-size: .875rem;
              margin-left: 1rem;
            }
          }

          .problem-action-buttons-wrapper {
            align-items: center;
            display: flex;

            .problem-action-button-wrapper {
              margin-left: .25rem;
            }
          }

        }

        .notification {
          align-items: flex-start;
          display: flex;
          font-weight: $font-weight-semibold;
          margin-bottom: 1rem;
          padding: 1rem;

          &.error {
            background: rgba(255, 69, 0, .65);
            color: map_get($grays, "100");
          }

          &.general {
            background: rgba(0, 139, 139, .65);
            color: map_get($grays, "100");
          }

          &.warning {
            background: rgba(255, 215, 0, .65);
          }

          &.is-hidden {
            display: none;
          }

          .fa, .fas, .far, .fal, .fab {
            font-size: 2rem;
            line-height: 1.125;
            margin-right: 1rem;
          }

        }

      }

    }

    .wrap-instructor-info {

    }

  }

}

.btn-sm {
  min-width: 8em;
  padding: .25rem .75rem;

  i {
    margin-right: .5rem;
  }
}

.accordion {
  &.level-0 {
    > .card > .card-header {
      background: map_get($grays, "100");

      padding: 0;

      :first-child {

        &[aria-expanded="false"]::before {
          content: "+";
          left: 12px;
        }

        &[aria-expanded="true"]::before {
          content: "\2012";
          left: 12px;
        }

      }
    }

  }

  &.level-1 {
    margin: calc(-1rem - 1px);

    .card-body {
      padding-top: 0;
    }

  }

  .card-header {
    padding: 0;

    :first-child {
      display: block;
      padding: 0;
      width: 100%;

      .btn {
        font-weight: inherit;
        padding: $font-size-base*.75 $font-size-base*2;
        text-align: left;
        width: 100%;

        &-link {
          color: map_get($grays, "900");

          &:hover {
            text-decoration: none;
          }
        }
      }

      &::before {
        display: block;
        left: 4px;
        position: absolute;
      }

    }
  }

  .card-body {
    padding: $font-size-base;

    .list-group-flush {
      border-top: 1px solid map_get($grays, "300");
      margin-left: $font-size-base;
      padding: 1rem 0;

      .list-group-item {
        border: 0;
        padding-left: 0;
        padding-: 1rem;

        &:hover {
          background: transparent;
        }

        &-action {
          color: $red;
        }

        p {
          font-weight: $font-weight-normal;
        }

      }

    }

  }

}

main.container {
  aside {
    order: -1;
    margin-left: 0 !important;

    .list-group-flush {
      .list-group-item {
        border: 0;
        padding-left: 0;
        padding-right: 0;
      }
    }

    h6 {
      font-size: $font-size-base;
      line-height: 21px;
    }
  }
}

.page-content {
  width: 100%;
//  padding-right: 8px;
//  padding-left: 8px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 960px) {
  .page-content {
    max-width: 960px;
  }
}

@media (min-width: 1280px) {
  .page-content {
    max-width: 1280px;
  }
}

.forum-nav-browse-menu {
    margin-left: 0 !important;
}

