<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%! from django.conf import settings %>
<%namespace name='static' file='../static_content.html'/>
<%
course_mode_class = course_mode if course_mode else ''
%>


<div id="container">
    <div id="certificate">
        <section>
            <header>
                <span class="left"><img src="${settings.LMS_ROOT_URL}/static/images/logo-light-bg.svg" width="150"></span>
                <span class="right"><img src="${settings.LMS_ROOT_URL}/static/images/org/${organizer}.png" width="150"></span>
            </header>
            <div id="certificate-content">
                <p class="fancy"><span>Zaświadczenie</span></p>
                <h1 id="person-name">${accomplishment_copy_name}</h1>
                <div id="course">
                    <div id="course-details">
                        <p class="label">Kurs:</p>
                        <h3>${accomplishment_copy_course_name}</h3>
                        <p class="label date">Data uzyskania zaświadczenia:</p>
                        <h4>${certificate_date_issued}</h4>
                    </div>

                    % if certificate_data:
                    <div id="course-instructors">
                        <p class="label">Prowadzący:</p>
                        <ul>
                            % for signatory in certificate_data.get('signatories', []):
                            % if loop.index < 2:
                            <li>
                                <div class="instructor">
                                    <img style="max-width: 100px; max-height: 100px" class="signatory-signature"
                                         src="${settings.LMS_ROOT_URL}${signatory['signature_image_path']}">
                                    <p class="instructor-name">${signatory['name']}</p>
                                    <p class="instructor-position">${signatory['title']}</p>
                                </div>
                            </li>
                            % endif
                            % endfor
                        </ul>
                    </div>
                    % endif
                </div>
            </div>
            <footer>
                <div id="note">
                    <p>
                        Dokument poświadcza ukończenie kursu "${accomplishment_copy_course_name}" na platformie
                        Navoica, którego organizatorem jest ${organizer}.
                    </p>
                </div>
                <div id="link">
                    <a href="${settings.LMS_ROOT_URL}${request.path}">link do zaświadczenia</a>
                </div>
            </footer>
        </section>

    </div>
</div>
<div class="print-footer">
    <button onclick="window.location.href='${settings.LMS_ROOT_URL}${request.path}/pdf?preview=${request.GET.get('preview','')}'" class="action action-print btn-black btn-small" id="action-print-view">
        <span class="icon fa fa-download" aria-hidden="true"></span>
        Pobierz certyfikat [PDF]
    </button>
</div>
<link rel="stylesheet" href="${settings.LMS_ROOT_URL}/static/css/polipedia.css" type="text/css" media="screen"/>
<%include file="/footer.html" />
