<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='../static_content.html'/>
<%
course_mode_class = course_mode if course_mode else ''
%>


<div id="container">
    <div id="certificate">
        <section>
            <header>
                <div>Polski MOOC</div>
                <div>Fundacja Młodej Nauki</div>
            </header>
            <div id="certificate-content">
                <h1 id="person-name">${accomplishment_copy_name}</h1>
                <h2>Zaświadczenie</h2>
                <div id="course">
                    <div id="course-details">
                        <p class="label">Kurs:</p>
                        <h3>${accomplishment_copy_course_name}</h3>
                        <p class="label date">Data uzyskania zaświadczenia:</p>
                        <h4>${certificate_date_issued}</h4>
                    </div>

                    % if certificate_data:
                    <div id="course-instructors">
                        <p class="label">Prowadzący:</p>
                        <ul>
                        % for signatory in certificate_data.get('signatories', []):
                            <li>
                                <div class="instructor">
                                    <div class="instructor-signature">
                                       ${signatory['name']}
                                    </div>
                                    <p class="instructor-name">${signatory['name']}</p>
                                    <p class="instructor-position">${signatory['title']}</p>
                                </div>
                            </li>
                        % endfor
                        </ul>
                    </div>
                    % endif
                </div>
            </div>
            <footer>
                <div id="note">
                    <p>
                        Dokument poświadcza ukończenie kursu ${accomplishment_copy_course_name}, którego organizatorem jest ${accomplishment_copy_course_org}
                    </p>
                </div>
                <div id="link">
                    <a href="">link do zaświadczenia</a>
                </div>
            </footer>
        </section>

    </div>
</div>