<%page expression_filter="h"/>
<%inherit file="accomplishment-base.html" />
<%! from django.utils.translation import ugettext as _ %>

<header id="page-header" class="bg-light">
    <div class="jumbotron">
        <div class="container">
                <h2 class="title">${_("Cannot Find Certificate")}</h2>
                <div class="copy">
                    <p>${_("We cannot find a certificate with this URL or ID number. If you are trying to validate a certificate, make sure that the URL or ID number is correct. If you are sure that the URL or ID number is correct, contact support.")}</p>
                </div>
        </div>
    </div>
</header>
