<%page expression_filter="h"/>
<%inherit file="accomplishment-base.html" />
<%! from django.utils.translation import ugettext as _ %>

<%include file="_accomplishment-introduction.html" />

<%include file="_accomplishment-rendering.html" />
<div style="display: none" class="wrapper-about d-print-none">
    <aside role="complementary" class="about" aria-label=${_("About edX Certificates")}>
        <%include file="_about-edx.html" />
        <%include file="_about-accomplishments.html" />
    </aside>
</div>
