@import "../utilities/variables-new_look";
.discussion {

  // discussion - elements - actions
  // ====================

  // UI: general action list
  .post-actions-list,
  .response-actions-list,
  .comment-actions-list {
    @extend %ui-no-list;

    @include text-align(right);

    .actions-item {
      box-sizing: border-box;
      display: block;
      margin: ($baseline/4) 0;

      &.is-hidden {
        display: none;
      }

      &.is-disabled {
        a {
          pointer-events: none;

          .action-icon {
            display: none;
          }

          .action-label {
            @include padding-right(0);
          }

          &:hover {
            border-color: transparent;

            .action-label {
              color: $forum-color-active-text;
            }
          }
        }
      }
    }

    .more-wrapper {
      position: relative;
    }
  }

  // ====================

  // UI: general actions dropdown layout
  .actions-dropdown {
    @extend %ui-no-list;
    @extend %ui-depth1;

    @include right(0);

    display: none;
    position: absolute;
    top: 100%;
    pointer-events: none;
    min-width: $actions-dropdown-width;

    &.is-expanded {
      display: block;
      pointer-events: auto;
    }

    .actions-dropdown-list {
      box-sizing: border-box;
      box-shadow: 0 1px 1px $shadow-l1;
      position: relative;
      width: 100%;
      border-radius: $forum-border-radius;
      margin: ($baseline/4) 0 0 0;
      border: 1px solid $forum-color-border;
      padding: ($baseline/2) ($baseline*0.75);
      background: $forum-color-background;

      // ui triangle/nub
      &::after,
      &::before {
        @include right(6px);

        bottom: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }

      &::after {
        @include margin-right(1px);

        border-color: transparent;
        border-bottom-color: $white;
        border-width: 6px;
      }

      &::before {
        border-color: transparent;
        border-bottom-color: $forum-color-border;
        border-width: 7px;
      }
    }

    .actions-item {
      display: block;
      margin: 0;

      &.is-hidden {
        display: none;
      }
    }
  }

  // ====================

  // UI: general action
  .action-button {
    @include transition(border .5s linear 0s);

    box-sizing: border-box;
    display: inline-block;
    border: 1px solid transparent;
    border-radius: $forum-border-radius;
    color: map_get($grays, "900");

    .action-icon {
      display: inline-block;
      font-size: $forum-small-font-size;
      height: 1.5rem;
      //width: $baseline;
      width: 1.5rem;
      border: 1px solid $forum-color-border;
      border-radius: $forum-border-radius;
      text-align: center;
      color: map_get($grays, "900");

      .icon {
        @include margin-right(0);

        vertical-align: middle;
      }
    }

    .action-label {
      @extend %t-copy-sub2;

      display: none;
      vertical-align: middle;
      padding: 2px 8px;
    }

    &:hover, &:focus {
      .action-label {
        display: inline-block;
      }

      .action-icon {
        @include border-radius(0, $forum-border-radius, $forum-border-radius, 0);
      }
    }

    // specific button styles
    &.action-follow {
      .action-label {
        color: map_get($grays, "900");
      }

      &.is-checked, &:hover, &:focus {
        .action-icon {
          background-color: map_get($grays, "900");
          border: 1px solid map_get($grays, "900");
          color: $white;
        }
      }

      &:hover, &:focus {
        border-color: map_get($grays, "900");
      }
    }

    &.action-vote {
      .action-label {
        opacity: 1;
      }

      &.is-checked, &:hover, &:focus {
        .action-icon {
          background-color: map_get($grays, "900");
          border: 1px solid map_get($grays, "900");
          color: $white;
        }
      }

      &:hover, &:focus {
        border-color: map_get($grays, "900");

        .action-label {
          color: map_get($grays, "900");
        }
      }
    }

    &.action-endorse {
      &.is-checked, &:hover, &:focus {
        .action-icon {
          background-color: map_get($grays, "900");
          border: 1px solid map_get($grays, "900");
          color: $white;
        }
      }

      &:hover, &:focus {
        border-color: map_get($grays, "900");
        background-color: $forum-color-background;

        .action-label {
          color: map_get($grays, "900");
        }
      }
    }

    &.action-answer {
      &.is-checked, &:hover, &:focus {
        .action-icon {
          border: 1px solid map_get($grays, "900");
          background-color: map_get($grays, "900");
          color: $white;
        }
      }

      &:hover, &:focus {
        border-color: map_get($grays, "900");
        background-color: $forum-color-background;

        .action-label {
          color: map_get($grays, "900");
        }
      }
    }

    // more drop-down menu
    &.action-more {
      position: relative;

      &:hover, &:focus {
        border-color: theme-color("dark");
        background-color: $forum-color-background;

        .action-icon {
          border: 1px solid theme-color("dark");
          background-color: theme-color("dark");
          color: theme-color("inverse");
        }

        .action-label {
          opacity: 1;
          color: map_get($grays, "900");
        }
      }
    }
  }

  // ====================

  .actions-dropdown {

    // UI: secondary action
    .action-list-item {
      @extend %t-copy-sub2;

      @include text-align(right);

      display: block;
      width: 100%;
      padding: ($baseline/10) 0;
      white-space: nowrap;
      color: theme-color("secondary");

      &:hover, &:focus {
        color: $link-color;
      }

      .action-icon {
        @include margin-left($baseline/4);

        display: inline-block;
        width: ($baseline/2);
        color: inherit;
      }

      .action-label {
        display: inline-block;
        color: inherit;
      }

      // CASE: checked
      &.is-checked {
        // CASE: pin action
        &.action-pin {
          color: map_get($grays, "900");
        }

        // CASE: report action
        &.action-report {
          color: map_get($grays, "900");
        }

        // CASE: hover for any action
        &:hover, &:focus {
          color: $link-color;
        }
      }
    }
  }

  .action-button, .action-list-item {
    .action-label {
      @include float(left);

      .label-checked {
        display: none;
      }
    }

    &.is-checked {
      .label-unchecked {
        display: none;
      }

      .label-checked {
        display: inline;
      }
    }
  }
}

#seq_content {

  .btn-outline-light {
    background: map_get($grays, "100");
    border-color: map_get($grays, "300");
    color: $red;
  }

  h2.unit-title {
    color: $dark;
    display: flex;
    font-size: 1.75rem;
    font-weight: $font-weight-semibold;
    line-height: 1.4286;
    margin-bottom: 1.2857em;
  }

  .bookmark-button i {
    margin-right: .5em;
  }

  .wrap-instructor-info {
    float: right;
    justify-content: flex-end;

    &.studio-view {
      margin-bottom: 1rem;
    }

    .instructor-info-action::before {
      /*
      content: "\f121";
      font-family: "Font Awesome 5 Free";
      margin-right: .5em;
      */
    }
  }

  .vert {
    border-top: 1px solid map_get($grays, "300");
    margin: 2rem 0;

    &::after {
      clear: both;
      content: "";
      display: block;
    }

    .xblock {

      h3 {
        font-size: 1.375rem;
        font-weight: $font-weight-semibold;
        line-height: 1.6363;
        margin: 1.6364em 0 .8182em;

        &::before {
          content: "";
          display: block;
          width: 80px;
          height: 4px;
          background: teal;
          margin-bottom: 8px;
        }
      }

      h4 {
        font-size: 1.1875rem;
        font-weight: $font-weight-semibold;
        line-height: 1.6842;
        margin: 1.8947em 0 .9474em;

        &::before {
          content: "";
          display: block;
          width: 80px;
          height: 2px;
          background: teal;
          margin-bottom: 8px;
        }

      }

      h5 {
        font-size: 1.125rem;
        font-weight: $font-weight-semibold;
        line-height: 1.7778;
        margin: 2em 0 1em;
      }

      h6 {
        font-size: 1rem;
        font-weight: $font-weight-semibold;
        line-height: 1.75;
        margin: 2.25em 0 1.125em;
      }

      p {
        color: map_get($grays, "800");
        font-size: 1.125rem;
        line-height: 1.7778;
        margin: 1em 0;
      }

      ul, ol {
        font-size: 1.125rem;
        margin-bottom: 1em;
      }

      li {
        color: map_get($grays, "800");
        font-size: 1.125rem;
        line-height: 1.7778;
        margin: 0;
      }

      blockquote {
        background: map_get($grays, "100");
        font-size: 1.375rem;
        font-style: italic;
        line-height: 1.6363;
        margin-bottom: 1.8947em;
        padding: 1rem 4rem;

        p, li {
          font-size: 1em;
        }
      }
    }
  }
}
