@import "../utilities/variables-new_look";

// discussion - elements - navigation
// ====================

// ------
// Discussion Forums Page Header
// ------

// .discussion-board > .page-header {
//   .has-breadcrumbs .breadcrumbs {
//     margin-bottom: ($baseline / 2);
//     font-size: font-size(base);
//     font-weight: font-weight(semi-bold);
//     line-height: $line-height-base;
//   }
// }

*,
*::before,
*::after {
  box-sizing: border-box;
}

.btn-link.all-topics.btn-fake-breadrumbs {
  span {
    // color: $red;
    color: #e41d37;
    text-decoration: none;
    background-color: transparent;
    font-size: .875rem;
    font-weight: 600;
    margin-left: 0;
    padding: 0;
  }
}

.border-top {
  padding: 0 !important;
}

.breadcrumbs {
  margin-bottom: 1rem;
  padding: 0.5rem 0 1.5rem;
  overflow: hidden;
  position: static;
  font-size: .875rem;
  .nav-item {
    margin-left: 0;
  }
  #week {
    color: #6c757d;
    font-style: italic;
  }
  #week::before {
    content: "/";
    margin: 0 1em 0 1em;
  }
}

@media (min-width: 960px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

.container nav[aria-label="breadcrumb"] {
  margin-bottom: $font-size-base * 3;
  overflow: hidden;
  position: static;

  .breadcrumb {
    font-size: .875rem;
    margin: 0 .5em 0 1em;
    padding: 0;
  }
  li.breadcrumb-item::after {
    content: "/";
    margin: 0 .5em 0 1em;
  }

  li.breadcrumb-item:last-child::after {
    content: none;
  }

  .nav-item.breadcrumb:nth-child(1)::before{
    content: "Temat:";
    font-style: italic;
  }

  li.breadcrumb-item:nth-child(3)::before {
    content: "Wpis:";
    font-style: italic;
  }

  li.breadcrumb-item:nth-child(4)::before {
    content: "Wpis:";
    font-style: italic;
  }

}

// -----------
// Browse menu
// -----------
.forum-nav-browse-menu-wrapper {
  border-bottom: 1px solid $forum-color-border;
  // background: theme-color("light");
}

.forum-nav-browse-filter {
  position: relative;
  border-bottom: 1px solid $forum-color-border;
  padding: ($baseline/4);
}

.forum-nav-browse-filter .icon {
  @include right($baseline/4 + 1px + $baseline / 4); // Wrapper padding + border + input padding

  font-size: $forum-small-font-size;
  position: absolute;
  margin-top: -6px;
  top: 50%;
}

.forum-nav-browse-filter-input {
  width: 100%;
}

.forum-nav-browse-menu-item {
  margin-bottom: 0;
}

.forum-nav-browse-title {
  @include text-align(left);

  display: block;
  // width: 100%;
  border: 0;
  border-radius: 0;
  // border-bottom: 1px solid $forum-color-border;
  // padding: ($baseline/2);
  background: transparent;
  box-shadow: none;
  background-image: none;
  cursor: pointer;

  &:hover,
  &:focus,
  &.is-focused {
    // switched from a to button;
    // need to override button styles
    background-image: none !important;
    box-shadow: none !important;
    background: $forum-color-background !important;
  }
}

.forum-nav-browse-title .icon {
  @include margin-right($baseline/2);
}

.forum-nav-browse-menu {

  > li {
    border: 0;
    margin: 0 0 .5rem;

  }

  li {
    cursor: pointer;
    font-size: .875rem;
    list-style: none;

    &::before {
      color: map_get($grays, "600");
      content: "\f054";
      font-family: "Font Awesome 5 Free";
      font-size: 0.625rem;
      font-weight: 900;
      line-height: 2;
      margin-right: 4px;
      width: 12px;
    }

    ul {
      padding: 0;
    }

    span {
      color: #e41d37;
      display: inline-block;
      font-size: .875rem;
      font-weight: 600;
    }

    li {
      padding-left: 16px;

      &::before {
        display: none;
      }

      span {
        display: flex;
        flex: 1;
        flex-flow: row nowrap;
        font-weight: 400;
        margin-top: 4px;

        &::before {
          color: map_get($grays, "600");
          content: "\f054";
          flex: 0 0 12px;
          font-family: "Font Awesome 5 Free";
          font-size: 0.625rem;
          font-weight: 900;
          line-height: 2;
          margin-right: 4px;
        }

      }
    }

  }
}

.forum-nav-browse-submenu {
  list-style: none;
  margin: 0;
  padding: 0;
}

// -------------------
// Sort and filter bar
// -------------------

.forum-nav-refine-bar  {
  @include clearfix();
  @include border-radius($forum-border-radius, $forum-border-radius, 0, 0);

  font-size: $forum-small-font-size;
  // border-bottom: 1px solid $forum-color-border;
  background-color: theme-color("light");
  padding: ($baseline/4) ($baseline/2);
  color: $black;
}

.forum-nav-filter-main {
  @include text-align(left);
  @include float(left);

  box-sizing: border-box;
  width: 50%;
}

.forum-nav-filter-cohort, .forum-nav-sort {
  @include text-align(right);

  box-sizing: border-box;
}

.forum-nav-filter-cohort {
  .discussion-board & {
    @include float(right);
    @include text-align(right);

    width: 50%;
  }
}

.forum-nav-sort {
  @include float(right);
}

%forum-nav-select {
  border: none;
  max-width: 100%;
  background-color: transparent;
}

.forum-nav-filter-main-control {
  @extend %forum-nav-select;
}

.forum-nav-filter-cohort-control {
  @extend %forum-nav-select;

  max-width: 60%;
}

.forum-nav-sort-control {
  @extend %forum-nav-select;
}
.forum-nav-filter-main-control,
.forum-nav-sort-control {
  position: absolute;
  width: 1rem;
  border: none;
  max-width: 100%;
  background-color:  transparent;
  position: absolute;
  width: 1rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  // background-color: #47792;
  color: transparent;

  option {
    color: $black;
  }
}

// -----------
// Thread list
// -----------
.forum-nav-thread-list {
  padding-left: 0 !important; // should *not* be RTLed, see below for explanation
  min-height: 60px;  // @TODO: Remove this when we have a real empty state for the discussion thread list
  // max-height: 800px;
  // border-bottom: 1px solid theme-color("light");
  margin: 0;
  overflow-y: auto;
  list-style: none;
  border-radius: 0 0 3px 3px;

  &.never-read {
    .forum-nav-thread-link {
      box-shadow: 4px 0 0 #e41d3755 inset, -1px 0 0 $red;
    }
  }

  .forum-nav-thread-labels {
    margin: 5px 0 0;
    // Overrides overspecific courseware CSS from:
    // https://github.com/edx/edx-platform/blob/master/lms/static/sass/course/courseware/_courseware.scss#L470
    // note this should *not* be RTLed, as the rule it overrides is not RTLed
    padding-left: 0 !important;
  }

  .thread-preview-body {
    margin-top: $baseline / 4;
    color: $forum-color-response-count;
    font-size: $forum-small-font-size;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;

    @include rtl {
      // This is counterintuitive, but when showing a preview of the first part of RTL text, using direction: rtl
      // will actually show the _last_ part of that text.
      direction: ltr;
    }
  }
}

// Overrides underspecific styles from courseware css
.course-wrapper .course-content .forum-nav-thread-list-wrapper .forum-nav-thread-list {
  @include padding-left(0);

  list-style: none;

  .forum-nav-thread {
    margin: 0;
  }
}

.forum-nav-thread {
  // border-bottom: 1px solid $forum-color-border;
  // background-color: $forum-color-background;
  margin-bottom: 0;

  &:last-child {
    // Overrides pattern library default li:last-child style
    border-bottom: 1px solid $forum-color-border;
  }

  .forum-nav-thread-link {
    @include border-left(3px solid transparent);

    display: flex;
    padding: $baseline / 2;
    transition: none;
    align-items: center;
    justify-content: space-between;

    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
    }

    &:hover {
      background-color: $forum-color-hover-thread;
    }

    &.is-active {
      // background-color: #f8f9fa;
      font-style: italic;
      font-weight: 600;
      border-right: 6px solid #e41d37;
      background-color: white;
      text-decoration: none;
    }

    .forum-nav-thread-unread-comments-count {
      display: inline-block;
      font-size: $forum-small-font-size;
      white-space: nowrap;
    }
  }

  &.never-read {
    .forum-nav-thread-link {
      // @include border-left(3px solid $forum-color-never-read-post);
      @include border-left(3px solid #E41D37);

      // color: $forum-color-never-read-post;
    }
  }
}

%forum-nav-thread-wrapper {
  display: inline-block;
  vertical-align: middle;
}

.forum-nav-thread-wrapper-0 {
  @extend %forum-nav-thread-wrapper;

  @include margin-right($baseline/5);

  align-self: flex-start;

  .icon {
    font-size: $forum-base-font-size;
    width: 18px;
    text-align: center;

    &::before {
      @include rtl {
        @include transform(scale(-1, 1)); // RTL for font awesome question mark
      }
    }
  }
}

.forum-nav-thread-wrapper-1 {
  @extend %forum-nav-thread-wrapper;

  margin: 0 ($baseline / 4);
  // 125 is the width we need to save for the "X new" comments indicator - and we want to clip the preview
  // at the same length whether there are unread comments for this story or not.
  max-width: calc(100% - 75px);
  flex-grow: 1;  // This column should consume all the available space
}

.forum-nav-thread-wrapper-2 {
  @extend %forum-nav-thread-wrapper;

  @include text-align(right);

  min-width: 40px;
  white-space: nowrap;
}

.forum-nav-thread-title {
  @include margin-left(0);

  font-size: $forum-base-font-size;
  display: block;
}

%forum-nav-thread-wrapper-2-content {
  @include margin-right($baseline/4);

  font-size: $forum-small-font-size;
  display: inline-block;
  text-align: center;
  color: $black;

  &:last-child {
    @include margin-right(0);
  }
}

.forum-nav-thread-votes-count {
  @extend %forum-nav-thread-wrapper-2-content;
}

.forum-nav-thread-comments-count {
  @extend %forum-nav-thread-wrapper-2-content;
  @extend %t-weight4;

  position: relative;

  @include margin-left($baseline/4);

  margin-bottom: ($baseline/4); // Because tail is position: absolute
  border-radius: $forum-border-radius;
  padding: ($baseline/10) ($baseline/5);
  min-width: 2em; // Fit most comment counts but allow expansion if necessary
  // Speech bubble tail
  
  // background-color: theme-color("light");

  // &::after {
  //   content: '';
  //   display: block;
  //   position: absolute;
  //   bottom: (-$baseline/4);

  //   @include right($baseline/4);

  //   width: 0;
  //   height: 0;
  //   border-style: solid;

  //   @include border-width(0, ($baseline/4), ($baseline/4), 0);
  //   @include border-color(transparent, $forum-color-border, transparent, transparent);
  // }
}

.forum-nav-load-more {
  font-weight: 600;
  color: #e41d37;
  text-decoration: none;
  background-color: transparent;
  border-bottom: 1px solid $forum-color-border;
  // background-color: theme-color("light");
  &:hover {
  color: #e41d37;
  text-decoration: underline;
  background-color: transparent;
  }
}

%forum-nav-load-more-content {
  display: block;
  padding: $baseline 0;
  text-align: center;
}

.forum-nav-load-more-link {
  @extend %forum-nav-load-more-content;
  font-weight: 600;
  color: #e41d37;
  text-decoration: underline;
  background-color: transparent;
  // border-bottom: 1px solid $forum-color-border;
  
  width: 100%;

  // &:hover,
  // &:focus {
    // color: $forum-color-active-text;
    // !important overrides the one set here:
    // https://github.com/edx/edx-platform/blob/master/lms/static/sass/elements/_controls.scss#L472
    // background-color: $forum-color-active-thread !important;
  // }
}

.forum-nav-loading {
  @extend %forum-nav-load-more-content;
}

#discussion-container {
  min-height: 400px;

  .discussion-body {
    border: 1px solid map_get($grays, "300");
  }

  .forum-nav,
  .discussion-column {
    padding: 0;

    header {
      border-bottom: 1px solid map_get($grays, "300");
      margin-bottom: $font-size-base;
      padding-bottom: $font-size-base;

      > h2 {
        color: map_get($grays, "900");
        color: teal;
        display: block;
        font-size: $font-size-base;
        font-weight: $font-weight-bold;
        letter-spacing: .02em;
        line-height: 1.7143;
        margin: $font-size-base 0 0;
        padding: calc(.25em + 1px) 0;
        text-transform: uppercase;
        word-spacing: .04em;

        font-size: 0.875rem;
        margin: 0;
        text-align: left;
      }
    }
  }

  .forum-nav {
    align-items: stretch;
    // background-color: map_get($grays, "100");
    background-color: #f8f9fa;
    border: 0;
    display: flex;
    flex: 0 0 580px;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-right: 0;
    margin-left: 0;

    .custom-switch {
      align-items: center;
      // color: $red;
      color: #e41d37;
      display: flex;
      font-size: .875rem;
      font-weight: $font-weight-semibold;

      .custom-switch .custom-control-label::after {
      }
      .custom-control-input:checked + .custom-control-label::after {
        background-color: $white;
      }

      .custom-control-input:checked + .custom-control-label::before {
        // background-color: $red;
        background-color: #e41d37;
        // border-color: $red;
        border-color: #e41d37;
      }

    }

    #sort-filter-wrapper {
      label {
        margin: 0 0 4px;
        width: 100%;
      }
    }

    .forum-nav-browse-filter {
      button {
        min-width: auto;

        i {
          margin: 0;
        }
      }
    }

    .forum-nav-browse-menu {

      > li {
        border: 0;
        margin: 0 0 .5rem;

      }

      li {
        cursor: pointer;
        font-size: .875rem;
        list-style: none;

        &::before {
          color: map_get($grays, "600");
          content: "\f054";
          font-family: "Font Awesome 5 Free";
          font-size: 0.625rem;
          font-weight: 900;
          line-height: 2;
          margin-right: 4px;
          width: 12px;
        }

        ul {
          padding: 0;
        }

        span {
          color: #e41d37;
          display: inline-block;
          font-size: .875rem;
          font-weight: 600;

        }

        li {
          padding-left: 16px;

          &::before {
            display: none;
          }

          span {
            display: flex;
            flex: 1;
            flex-flow: row nowrap;
            font-weight: 400;
            margin-top: 4px;

            &::before {
              color: map_get($grays, "600");
              content: "\f054";
              flex: 0 0 12px;
              font-family: "Font Awesome 5 Free";
              font-size: 0.625rem;
              font-weight: 900;
              line-height: 2;
              margin-right: 4px;
            }

          }
        }

      }
    }

    .discussion-thread-list-container {

      .forum-nav-thread-list {
        list-style: none;
        padding: 0;

        > li {
          border-top: 1px solid map_get($grays, "300");
          font-size: .875rem;
          padding: .5rem 0;

          &:first-child {
            border: 0;
            padding: 0 0 .5rem;
          }

          .forum-nav-thread-link {
            align-items: flex-start;
            display: flex;
            flex-flow: row nowrap;
            justify-content: stretch;

            div {
              display: flex;

              &:nth-child(1) {
                flex: 0 0 24px;
                margin-top: 4px;
              }
              &:nth-child(2) {
                display: flex;
                flex: 1 1 auto;
                flex-flow: column;
                max-width: 184px;
              }
              &:nth-child(3) {
                color: $dark;
                display: flex;
                flex: 0 0 40px;
                font-weight: 400;
                justify-content: flex-end;
                margin-left: 8px;
              }

              .thread-preview-body {
                color: $dark;
                display: block;
                font-weight: 400;
                margin-top: 4px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                word-break: normal;
              }
            }
          }
        }
      }
    }
  }

  .discussion-column {
    flex: 1 1;
    padding: 0 2rem 1rem;
    margin-top: 0;
    word-break: normal;

    .home-helpgrid{
      word-break: normal;
    }
    .discussion-post {
    //  border: $card-border;
    //  box-shadow: 0 4px 12px -2px map_get($grays, "300"), 0 -2px 4px -4px map_get($grays, "300");
    //  padding: 2rem;
    }

    .response-header {
      //border: 0;
      //margin-bottom: 0;
      //padding-bottom: 0;

      .username {
        display: inline-block;
        font-size: 1.375rem;
        font-weight: 600;
        line-height: 1.6363;
        margin: 0 0 .8182em;
      }
    }

    // .post-header-actions,
    // .response-header-actions,
    // .comment-actions-list {
    //   display: none;
    // }

    .post-title {
      color: $dark;
      display: flex;
      font-size: 1.75rem;
      font-weight: $font-weight-semibold;
      line-height: 1.4286;
      margin-bottom: 1.2857em;
    }

    .posted-details {
      font-size: .875rem;
      font-style: italic;
      margin: 0;
      padding: 0 0 1rem;
    }

    .add-response {
      // border-bottom: 1px solid map_get($grays, "300");
      padding: 0 0 2rem;
      margin: 1.5rem 0 !important;

      .add-response-btn {
        font-size: 0.875rem;
        line-height: 1.7143;
      }
    }

    .response-count {
      font-weight: $font-weight-semibold;
    }

    .responses {
      margin: 0;
      padding: 0;
    }

    .forum-response {
      border: $card-border;
      box-shadow: 0 4px 12px -2px map_get($grays, "300"), 0 -2px 4px -4px map_get($grays, "300");
      list-style: none;
      margin: 2rem 0;
      padding: 2rem;

      &::before {
        background: teal;
        content: "";
        display: block;
        height: 4px;
        margin-bottom: 8px;
        width: 80px;
      }
      .discussion-response {
        padding: 0;
      }
    }

    .comments {
      background-color: map_get($grays, "100");
      border: 1px solid map_get($grays, "200");
      margin: 0 0 -1px;
      padding: 1rem;
      box-shadow: none;

      > li {
        border-top: 1px solid map_get($grays, "300");
        list-style: none;
        margin: 1rem 0 0;
        padding: 1rem 0 0;

        &:first-child {
          border: 0;
          margin: 0;
          padding: 0;
        }

        .discussion-comment,
        .wmd-preview-container {
        //  font-size: .875em;
        // line-height: 1.8571;
        }
        // .wmd-preview-container {
        //   border: none;
        // }
      }
    }
  }

  .wmd-preview-label {
    font-weight: 600;
    margin: 1rem 0 0.5rem;
  }

  .post-labels {
    

    color: teal;
    display: flex;
    font-size: .875em;
    justify-content: flex-start;
    line-height: 1.8571;
    margin-bottom: 2rem;

    .post-label {
      &.is-hidden {
        display:none;
      }
      
      align-items: center;
      background: rgba(0, 139, 139, .65);
      border: 0;
      border-radius: 0;
      color: #fff;
      display: flex;
      flex: 0 0 auto;
      font-size: .75rem;
      font-weight: $font-weight-semibold;
      letter-spacing: .05em;
      line-height: 1;
      margin-right: 1rem;
      min-width: auto;
      padding: 8px 8px 10px;
      position: relative;
      text-transform: uppercase;
      

      ::after {
        background: transparent;
        border-bottom: 10px solid transparent;
        border-right: 20px solid rgba(0, 139, 139, .95);
        content: "";
        display: block;
        height: 10px;
        left: 0;
        position: absolute;
        top: 100%;
        width: 20px;
      }

      > .fa, .fas, .far {
        margin-right: 8px;
      }

    }

  }

  .response-display-count {
    border-top: 1px solid #dee2e6;
    display: block;
    font-weight: $font-weight-semibold;
    margin: 0 !important;
    padding: 1.5rem 0 2rem;
  }

  .discussion-reply-new {
    border: $card-border;
    box-shadow: 0 4px 12px -2px map_get($grays, "300"), 0 -2px 4px -4px map_get($grays, "300");
    padding: 2rem;

    .add-response {
      border: 0;
      padding: 0;
      margin: 0 0 1.5rem !important;
    }

  }

  .collapse-panel {
    display: flex !important;
    flex: 1;
    flex-direction: column;
    padding: 0 1rem 1rem;
  }

  .forum-nav-browse-menu-wrapper {
    border-right: 1px double map_get($grays, "300");
  }

  .discussion-thread-list-container {
    border-right: 1px double map_get($grays, "300");
    box-shadow: 8px 0 8px -8px map_get($grays, "300") inset;
  }

  .collapsing {
    transition: none;
  }

  .forum-nav-browse-filter,
  .forum-nav-refine-bar {
    // background-color: map_get($grays, "100");
    background-color: #f8f9fa;
    // border: 1px solid map_get($grays, "300");
    padding: .5rem;

  }

}

@include media-breakpoint-up(lg) {
  .jumbotron > .container {
    .d-flex {
      > aside {
        flex: 0 0 426px;
      }
    }
  }
  main.container {
    .d-flex {
      > aside {
        flex: 0 0 290px;
      }
    }
  }
}

.discussion-body {

  .field-label {
    line-height: unset;
    color: #212529;
    .input-checkbox {
      margin-right: 0;
    }
    .input-radio {
      margin-right: 0;
    }
  }

  form {
    background-color: #f8f9fa;
    border: 1px solid #e9ecef;
    margin: 0;
    padding: 1rem;

    legend,
    label.field-label {
      display: block;
      margin: 0;
    }

    .post-field {
      margin: 0 0 2rem;
    }

    .field-label > .field-label-text,
    legend > .field-label-text,
    label.field-label-text,
    span.field-label-text {
      display: block;
      font-size: 1.125rem;
      font-weight: $font-weight-semibold;
      margin: 0;
      padding: 0 0 .25rem;
      color: #212529;
    }

    .field-help {
      font-size: .875rem;
      font-style: italic;
      margin: 0;
      padding: 0 0 1rem;
    }

    .post-type-label {
      display: block;
    }

    input + .field-input-label {
      font-size: .875rem;
      color: unset !important;
      
      .form-control {
        height: 1rem;
      }
    }

    .action {
      padding-top: 2rem;
      display: flex;
      justify-content: space-between;
    }

  }

}

textarea {
  overflow: auto;
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

.forum-nav {
  .btn-groups {
    position: relative;
    top: 4px;

    .btn {
      font-size: .8125rem;
      padding: 0 .25rem;
    }

    .dropdown-menu {
      padding: 0;
    }

    .dropdown-header,
    .dropdown-item {
      padding: .25rem 1rem;
    }

    .dropdown-toggle::after {
      display: none;
    }

    .forum-nav-browse-filter {
      width: 258px;
    }
  }

}

a:not(.card) {
  font-weight: 600; 
}

a {
  // color: $red;
  color: #e41d37;
  text-decoration: none;
  background-color: transparent; 

  &:hover {
    text-decoration: underline; 
  }
}

// 
// .navbar > .container {
// }

// .navbar-nav .nav-item {
//   margin-left: 1rem;
// }

// 

.navbar {
  background-color: $white;
  box-shadow: 0 4px 12px -2px map_get($grays, "300");
  min-height: $jumbotron-padding;
  padding-left: .5*$font-size-base;
  padding-right: .5*$font-size-base;

  //> .container {
  //  max-width: !important;
  //  // max-width: map_get($container-max-widths, "xl") !important;
  //}

  &-nav {
    .nav-item {
      margin-left: $font-size-base;
    }
  }

  #navbarResponsive {
    background: $white;
    margin: 0; //-.5*$font-size-base;
  }

  .collapsing {
    /*
    -webkit-transition: none;
    transition: none;
    display: none;
    */
  }

}

.jumbotronn {
  background-color: #f8f9fa;
}

main.container nav,
.jumbotronn > .container nav {
  margin-top: 0;
  overflow: hidden;
  position: relative;
  top: 1px;
}

main.container nav .nav-tabs,
.jumbotronn > .container nav .nav-tabs {
  align-items: flex-end;
  border-color: #ced4da;
  justify-content: stretch;
}

main.container nav .nav-tabs .nav-item,
.jumbotronn > .container nav .nav-tabs .nav-item {
  align-items: center;
  background: #fff;
  border: 1px solid #ced4da;
  // color: #343a40;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  font-size: 1rem;
  font-weight: 600;
  height: 4rem;
  justify-content: center;
  /*
        letter-spacing: .02em;
        */
  margin-left: -1px;
  padding: 0;
  /*
        text-transform: uppercase;
        */
}

main.container nav .nav-tabs .nav-item.active,
.jumbotronn > .container nav .nav-tabs .nav-item.active {
  background: #fff;
  border-bottom-color: #fff;
  box-shadow: 0 4px 8px #adb5bd;
  // height: 4.25rem;
  padding: 0;
  z-index: 10;
}

// 
.nav-link {
    align-items: center;
    background: #fff;
    border: 1px solid #ced4da !important;
    border-botton: none !important;
    // color: #343a40 !important;
    display: flex;
    flex: 1;
    flex-direction: column;
    font-size: 0.9375rem;
    font-weight: 700 !important;
    height: 4rem !important;
    justify-content: flex-end;
    letter-spacing: .02em;
    margin-left: -1px;
    padding: 0 4rem 1.125rem;
    text-transform: uppercase;
    margin-bottom: -1px;

    // &.active {
    //   padding: 0 4rem 1.125rem;
    // }
}

// .discussion .discussion-board 
// section.page-content-container {
//   border-top: 1px;
//   border-top-color: map_get($grays, "300");
//   border-top-style: solid;
// }
// .nav-link.active {
//   display: block;
//   padding: 15px !important;
//   text-align: center;
//   height: auto;
// }

// BTN
.btn {
  display: inline-block;
  font-weight: 600;
  color: map_get($grays, "900");
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.625;
  border-radius: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

}



.forum-search {
  background: rgba(200, 200, 200, .25);
  // flex: 0 1 600px;

  .btn-outline-primary {
    border-color: transparent !important;
  }


  button, input {
    color: map_get($grays, "900");
  }

  .btn.btn-outline-primary.btn-small.search-button {
  // .search-button.btn-outline-primary {
    border-radius: 0 !important;
    border-color: map_get($grays, "500");
    background: map_get($grays, "100");

    &:hover {
      border-color: map_get($grays, "500");
      background: map_get($grays, "500");
    }
    &:focus {
      box-shadow: 0 0 0 0.2rem map_get($grays, "300");
      border-color: map_get($grays, "500");
      background: map_get($grays, "500");
    }
  }
}

button {
  .btn-outline {
    .dropdown-toggle {
      border-color: map_get($grays, "300");
      background: map_get($grays, "300");
    }
  }
}

.new-post-btn {
  color: $white !important;
  background-color: #e41d37 !important;
  border-color: #e41d37 !important;

  &:hover {
    background-color: $red !important;
    border-color: $red !important;    
  }
}

.btn-neutral {
  border-color: transparent;

  &:hover {
    background-color: transparent;
    border: 1px solid map_get($grays, "200");
    color: map_get($grays, "900");
  }

  &:focus {
   background-color: transparent; 
  }

  &:checked {
    border: 1px solid map_get($grays, "200");
  }
}

@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}

.btn:hover {
  color: map_get($grays, "900");
  text-decoration: none;
  background: #e41d37;
}

.btn:focus, .btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem map_get($grays, "300");
  background: #e41d37;
  border-color: #e41d37;
}

.btn.disabled, .btn:disabled {
  opacity: 0.65;
}

a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
}

.btn-primary {
  color: $white;
  // background-color: $red !important;
  background-color: #e41d37;
  // border-color: $red;
  border-color: #e41d37;
}

.btn-primary:hover {
  color: $white;
  background-color: #e41d37 !important;
  border-color: #e41d37;
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(215, 83, 92, 0.5);
  background-color: #e41d37;
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #E41D37;
  border-color: #E41D37;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #aa2830;
  border-color: #a0252d;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(215, 83, 92, 0.5);
}

.btn-outline-primary {
  color: #E41D37;
  border-color: #E41D37;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #E41D37;
  border-color: #E41D37;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(208, 53, 63, 0.5);

}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  color: #D0353F;
  background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #D0353F;
  border-color: #D0353F;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(208, 53, 63, 0.5);
}

.btn-link {
  font-weight: 400;
  color: #D0353F;
  text-decoration: none;
}

.btn-link:hover {
  color: #96232a;
  text-decoration: underline;
}

.btn-link:focus, .btn-link.focus {
  text-decoration: underline;
  box-shadow: none;
}

.btn-link:disabled, .btn-link.disabled {
  color: #6c757d;
  pointer-events: none;
}

.btn-lg, .btn-group-lg > .btn {
  padding: 0.5rem 1rem;
  font-size: 1.125rem;
  line-height: 1.6;
  border-radius: 0;
}

.btn-sm, .btn-group-sm > .btn {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.7143;
  border-radius: 0;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-block + .btn-block {
  margin-top: 0.5rem;
}

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}

// fixes for jumbotron and jumbotronn

.field-input.form-control.input-text.search-input {
  height: 1rem;
}

.fa-comments, 
.fa-question, 
.fa-navicon, 
.fa-reorder, 
.fa-bars, 
.fa-search, 
.fa-flag, 
.fa-star, 
.fa-sort,
.fa-plus,
.fa-lock,
.fa-thumb-tack,
.fa-remove,
.fa-close, 
.fa-times,
.fa-ellipsis-h,
.fa-check,
.fa-pencil-alt,
.fa-caret-down,
.fa-spinner,
.fa-spinn,
.fa-warning,
.fa-filter,
.fa-sort-amount-desc {
  &::before {
    font-weight: 900;
  }
}

.fa-filter {
  font-size: 1rem;
  line-height: 1rem;
}

.wmd-preview-container {
  border: none;
}

.btn {
  i {
    margin-right: 0 !important;
  }
}

.btn.btn-outline.dropdown-toggle:focus {
  border-color: transparent !important;
}

