.faq-page {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;

    header#page-header {
        background-image: url("/static/images/photo-keyboard.jpeg");
        background-position: 100% 40%;
    }

    .bg-light {
        padding: 0;
        margin: 0;
    }
    .jumbotron {
        background: rgba(255, 255, 255, 0.90);
        padding: 24px 0;
        margin: 0;
    }
    #content {
        padding: 24px 0;
        margin: 0;
    }
     h2 {
        margin-bottom: 0;
        margin-top: 0;
        font-size: 1.5rem;
        font-weight: 700;
    }

    /**
       Begin of Accordion
     */

    .accordion-anchor {
      position: relative;
      top: -56px;
      visibility: hidden;
    }

    .accordion {
      border: 1px solid #dee2e6;
      border-top: 0;
      margin: 8px 0 16px;

      &:last-child {
        border-bottom: 1px solid #dee2e6;
      }

      .card {
        border: 0;
        box-shadow: none;

        &:last-child {
          border-bottom: 0 !important;
        }
      }

      .card-header {
        background: #fff;
        border-top: 1px solid #dee2e6;
        display: flex;
        margin: 0;
        padding: 0;
        width: 100%;

        .btn {
          align-items: flex-start;
          border: 0;
          cursor: default;
          display: flex;
          flex: 1;
          flex-flow: row nowrap;
          font-size: 14px;
          font-weight: 700;
          justify-content: space-between;
          padding: 8px 8px;
          text-align: left;
          width: 100%;
        }

        .btn-link {
          color: #212529;

          &:focus {
            text-decoration: none;
            border: 2px black solid;
            background-color: #ffffff;
          }

          &:hover {
            background-color: #eeeeee;
            text-decoration: none;
          }
        }

        .btn {
          &[aria-expanded] {
            cursor: pointer;
          }

          &::before {
            align-self: flex-start;
            display: flex;
            font-family: "Font Awesome 5 Free";
            font-size: 12px;
            font-weight: 600;
            flex: 0 0 24px;
            justify-content: flex-end;
            line-height: 21px;
            order: 1;
          }
        }
      }

      .card-body {
        font-size: 14px;
        padding: 16px 8px;

        > .accordion {
          margin: 0px 0px;
        }

        // answer to faq-question
        p {
          font-size: 14px;
          margin: 8px;

          &:last-child {
            margin-bottom: 20px;
          }
        }

        .list-group {
          margin: -8px 0;
          padding: 0;

          &:not(:first-child) {
            margin-top: 8px;
          }

          &:not(:last-child) {
            border-bottom: 1px solid #dee2e6;
            margin-bottom: 8px;
          }
        }

        .list-group-item {
          border: 0;
          border-top: 1px solid #dee2e6;
          padding: 8px 0;
          margin-bottom: 20px !important;

          &:hover {
            background: transparent;
          }
        }

        .list-group-item-action {
          display: block;
          padding: 0;

          &:hover {
            background: transparent;
            cursor: pointer;
          }

          + p {
            margin-top: 8px;
          }
        }

        .list-group-item p {
          font-weight: 400;
        }
      }

      &.faq {
        .card-header {
          .btn {
            justify-content: space-between;
          }

          .btn-cat {
            font-size: 16px;
            font-weight: 700;
          }

          .btn {
            &[aria-expanded="false"]::before {
              content: "\f078";
            }

            &[aria-expanded="true"]::before {
              content: "\f077";
            }
          }
        }

        .accordion .card-header .btn {
          font-weight: 600;
        }
      }

      &.toc {
        .card-header .btn {
          justify-content: flex-start;

          &[aria-expanded="false"]::before {
            content: "\f078";
          }

          &[aria-expanded="true"]::before {
            content: "\f054";
            left: 2px;
            position: relative;
          }

          &::before {
            flex: 0 0 20px;
            justify-content: flex-start;
            order: unset;
          }
        }

        .card-body {
          padding: 8px 8px 8px 28px;

          > .accordion {
            margin: -8px -8px;
          }

          p {
            font-size: 14px;
          }
        }

        .accordion .card.body {
          padding-left: 28px;
        }
      }

      .accordion {
        border: 0;

        .card-header .btn {
          font-weight: 400;
        }
      }
    }

    @media (min-width: 1000px) {
      .accordion {
        margin: 0 0 16px;

        .card-header .btn {
          font-size: 16px;
          padding: 12px 8px;
        }

        .card-body {
          font-size: 16px;
          padding: 12px 8px;

          > .accordion {
            margin: 0;
          }

          p {
            font-size: 16px !important;

            &:last-child {
              margin-bottom: 10px;
            }
          }

          .list-group {
            margin: -12px 0;
            padding: 0;

            &:not(:first-child) {
              margin-top: 12px;
            }

            &:not(:last-child) {
              border-bottom: 1px solid #dee2e6;
              margin-bottom: 12px;
            }
          }

          .list-group-item {
            border: 0;
            border-top: 1px solid #dee2e6;
            padding: 12px 0;

            &:hover {
              background: transparent;
            }
          }

          .list-group-item-action {
            &:hover {
              background: transparent;
              cursor: pointer;
            }

            + p {
              margin-top: 12px;
            }
          }

          .list-group-item p {
            font-weight: 400;
          }
        }

        &.toc .card-body {
          font-size: 16px;
          padding: 12px 8px 12px 28px;

          > .accordion {
            margin: -12px -8px;
          }

          p {
            font-size: 16px;
          }
        }

        &.faq .card-header .btn-cat {
          font-size: 18px;
        }
      }
    }

    /**
       End of FAQ Accordion
     */
    /**
       Begin of FAQ Categories
     */

    #faq-categories {
      display: flex;
      flex-flow: column;
      justify-content: stretch;
      margin: 0 0 32px;
      align-content: space-between;

      > .list-group-item {
        align-items: flex-start;
        box-shadow: 0 4px 12px -2px #dee2e6, 0 -2px 4px -4px #dee2e6;
        color: #E41D37;
        display: flex;
        flex: 1;
        flex-direction: row;
        justify-content: flex-start;
        margin: 0 0 20px;
        margin-bottom: 8px !important;

        &:hover {
          cursor: pointer;
          box-shadow: 0px 0px 8px 3px rgba(71,79,89,0.6);
          background-color: #ffffff;
        }

        i {
          align-items: center;
          background: #f8f9fa;
          border: 1px solid #e9ecef;
          border-radius: 50%;
          padding: 4px;
          display: flex;
          flex: 0 0 36px;
          font-size: 18px;
          height: 36px;
          justify-content: center;
          margin-right: 8px;
        }

        div {
          align-items: flex-start;
          display: flex;
          flex: 1;
          flex-flow: column;
          justify-content: flex-start;

          h5 {
            font-size: 16px;
            line-height: 2; // margin 0
          }

          p {
            margin: 0;
          }
        }
      }
    }

    @media (min-width: 650px) {
      #faq-categories {
        flex-flow: row wrap;
        justify-content: flex-start;
        margin: 0 -2% 32px 0;

        > .list-group-item {
          flex: 0 1 32%;
          flex-flow: row wrap;
          margin: 0 1% 8px 0;
          // min-height: 88px;
        }

        > .list-group-item:focus {
          outline: 2px black solid;
        }
      }
    }

    @media (min-width: 1000px) {
      #faq-categories > .list-group-item {
        padding: 12px 8px;

        div h5 {
          font-size: 18px;
        }
      }
    }

    .accordion-wrapper {
      margin-bottom: 32px;
    }

    .accordion-switch > div {
      display: flex;
    }

  .custom-control-label:focus::before {
    outline: 2px black solid;
  }

    /**
       End of FAQ Categories
     */
 }