:root {
--color-d71932: #D71932;
--color-f8f9fa: #F8F9FA;
--color-d1d6dc: #D1D6DC;
--color-5b5b5b: #5B5B5B;
--color-008080: #008080;
--color-3f3d56: #3F3D56;
--color-fcfcfc: #FCFCFC;
--color-dedfdf: #DEDFDF;
--color-212529: #212529;
--color-374049: #374049;
--color-686970: #686970;
--color-919191: #919191;
--color-3c4043: #3C4043;
--color-ffffff: #FFFFFF;
--color-e41d37: #E41D37;
--color-a11326: #A11326;
}
/** LOGIN PAGE **/

.content-login {
  padding: 4rem 0 8rem 0;
  background: var(--color-fcfcfc);
  min-height: 50vh;
}

.content-login .dashboard-banner {
  margin: auto;
  max-width: 1260px;
}  

.content-login .dashboard-banner .wrapper-msg {
  padding: 60px 107px;
  background: var(--color-ffffff);
  border: 1px solid var(--color-dedfdf);
  box-shadow: 0px 10px 30px #E0E0E080;
  border-radius: 3px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;

  .title {
    color: var(--color-374049);
    padding-bottom: 20px;
    font-weight: bold;
  }
}

.content-login .dashboard-banner .activation-message {
  display: flex;
  align-items: center;
  color: var(--color-374049);
}

.content-login .dashboard-banner .activation-message p {
  color: var(--color-686970);
  padding-top: 16px;
}

.content-login .dashboard-banner .activation-message img {
  margin: 0 35px 0 8px;
}

@media (max-width: 767px) {
  .content-login .dashboard-banner .activation-message img {
    margin: 0 auto;
    display: block;
  }
  .content-login .dashboard-banner .wrapper-msg .title {
    padding-top: 35.79px;
  }
  .content-login .dashboard-banner .activation-message {
    display: block;
  }
} 

.login__section {
  margin: auto;
  max-width: 35.25rem;
  width: auto;
  background: var(--color-ffffff);
  box-shadow: 5px 10px 30px #B3B3B326;
  border: 1px solid #E1E1E1;
  position: inherit;
  padding: 4rem 5rem;
}

.login__invalid__link {
  padding: 3.75rem 6.431rem;
}

.login__section p {
  margin: 0;
}

.login__section .section-header-login{
  margin-bottom: 20px;

}

.login-header {
  color: var(--color-374049);
  font-weight: bold;
  letter-spacing: -0.44px;
  margin-bottom: 8px;
}

.login__section .instructions {
  color: var(--color-686970);
  margin: 0;
}

.login__section .login-problem {
  color: rgba(104, 105, 112, 1);
  margin: unset;
  margin-top: 30px;
}

.login__section a{
  text-align: left;
  font-weight: 600;
  color: var(--color-008080);
  border-bottom: 1px solid var(--color-008080);
}

.login__section a:hover {
  text-decoration: none;
}

.login__section label {
  color: var(--color-374049);
  text-align: left;
  font-weight: 600;
  margin: 0 0 4px 0;
}

.login__section #login-form .status.message, .login__section #register-form .status.message {
   display: none;
}

.login__section #login-form  .status.message.is-shown{
  display: inline-flex;
  flex-wrap: wrap;
  color: var(--color-d71932);
   ul {
      list-style: none;
   }
} 

.login__section #register-form .status.message.is-shown {
  display: inline-flex;
  flex-wrap: wrap;
  color: var(--color-d71932);
   ul {
      list-style: none;
   }
} 

.login__section .error-in-login.is-shown, 
.paragon__alert .error-in-login {
  background: rgba(228, 29, 55, 0.08) !important;
  margin: 0 -5rem 1.813rem -5rem;
  padding: 0.688rem 5rem;
  display: flex;
  align-items: center;
  min-height: 4.125rem;
  color:var(--color-e41d37);

  @media screen and (max-width: 767px) {
    margin: 0 -15px 1.813rem;
    padding: 1rem;
  }
}

.login__section {
  .message, .message-title, .message-copy, ul {
    margin: 0;
  }
}

.login__section .error-in-login.is-shown .error-bold {
  font-weight: 600;
}

.login__section #alert-info, .login__section #alert-primary {
  color: unset;
  background: unset;
  padding: unset;
  border: unset;
}

.login__section .login-button {
  margin-top: 40px;
  margin-bottom: 30px;
}

.login__section .login-button button,
.login__section .parabon__btn {
  width: 100%;
  min-height: 34px;
  background: var(--color-e41d37);
  color: var(--color-ffffff);
  text-align: center;
  font-weight: 600;
  border: unset;
  padding: 0.375rem 0 ;

  &:hover {
    background: var(--color-a11326);
  }
}

.login__section input, 
.login__section input.form-control,
.login__section .select-wrapper .custom-select,
.login__section input.error-field,
.paragon__form-control.paragon__is-invalid {
  height: 2.375rem;
  background-color: var(--color-ffffff);
  border-color: var(--color-919191);
  border-style: solid;
  border-width: 1px;;
  display: block;
  width: 100%;
  text-indent: 12px;
  padding: 0;
  margin-bottom: 4px;
  border-radius: 0;
  box-shadow: none;
  &:hover {
    border: 2px solid var(--color-919191);
    box-shadow: none;
  }

  &:active, &:focus {
    border: 1px solid var(--color-008080) !important;
    outline: 3px solid #bfdfdf;
    box-shadow: none;
  }  
}

.login__section input.form-control,
.login__section .select-wrapper .custom-select {
  border: 1px solid var(--color-919191);
}

.login__section input.error-field,
.paragon__form-control.paragon__is-invalid {
  border: 1px solid var(--color-5b5b5b) !important;
  border-bottom: 2px solid var(--color-e41d37) !important;

  &:hover {
    border: 2px solid var(--color-919191) !important;
    box-shadow: none !important;
  }
}

.login__section .form-group.email {
  margin-bottom: 16px;
}

.login__section .form-group.password {
  margin-bottom: 30px;
}

.forgot-password-modal .inner-wrapper {
  padding: 30px;
}

.login__section .custom-control-label p {
  padding-left: 0.25rem;
}

.login__section .custom-control-label::before{
  position: absolute;
  left: -1.5rem;
  background: var(--color-ffffff);
  border: 1px solid var(--color-919191);
  top: 0.11rem;
  width: 1rem;
  height: 1rem;
}

.login__section .custom-control-label::after{
  top: 0.11rem;
}

.login__section .custom-control-input:not(:checked) ~ .custom-control-label:hover::after {
  border: 11px #F4F4F4;
  border-radius: 50%;
  box-shadow: 0 0 0 11px #F4F4F4;
  z-index: 1;
}


.login__section .custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background: transparent url("/static/images/check-solid.svg") no-repeat 50%/50% 50%;
  z-index: 2;
  background-size: 0.625rem;
}

.login__section .custom-control-input {
  position: absolute;
  z-index: -1;
  opacity: 0;

  &:checked ~ .custom-control-label::before {
    background: var(--color-008080);
    border: 1px solid var(--color-008080);
    opacity: 1;
  }

  &:not(:checked) ~ .custom-control-label::before {
    border: 1px solid var(--color-919191);
    z-index: 2;
  }


  &:hover {
   &:checked ~ .custom-control-label::after {
      border: unset;
      opacity: 1;
    }
  }

  &:focus {
    ~ .custom-control-label::before {
      box-shadow: none
    }

    &:not(:checked) ~ .custom-control-label::before {
      box-shadow: none
    }
  }
}

.login__section .custom-control label {
  margin: 0;
}

.login__section .field.text {
  line-height: 1;
}

.login__section .row {
  display: flex;
  flex-wrap: unset;
}

.login__section .select-wrapper {
  position: relative;
}

.login__section .select-wrapper:after {
    content: '\f078';
    color: var(--color-686970);
    font: normal normal normal 12px/17px FontAwesome;
    right: 12px;
    top: 12px;
    position: absolute;
    pointer-events: none;
}

.login__section {
  #education-level, #gender, #yob {
    color: var(--color-686970);
  }
}

.login__section .form-control {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* For IE10 */
.login__section .form-control::-ms-expand {
  display: none;
}

.login__section .p-year {
  padding-left: 24px;
}

.login__section .terms-of-service label {
  padding-left: 0.25rem;
}

.login__section .honor-code label {
  padding-left: 0.25rem;
}

.login__section #register-form .form-group.password {
  margin-bottom: 24px;
}

.login__section #register-form .form-group {
  margin-bottom: 24px;
}

@media (max-width: 767px) {
  .content-login {
    padding: 19px 8px;
  }
  .login__section, 
  #password-reset-complete-anchor {
    padding: 15px 15px 24px 15px;
    width: auto;
  }

  .content-login .dashboard-banner .wrapper-msg {
    padding: 1rem 1rem 1.5rem 1rem;
    max-width: 35.25rem;
  }
}

@media (max-width: 960px) {
  .login__invalid__link img {
    margin-right: 1rem !important;
  }
  .login__invalid__link {
    padding: 15px 15px 24px 15px;
    width: auto;
  }
}

/** END LOGIN PAGE **/

/** FORGOT PASSWORD MODAL **/
#forgot-password-modal.modal {
  &.fade .modal-dialog {
    transition: none;
    transform: none;
  }

  &.show .modal-dialog {
    transform: none;
  }
}

#forgot-password-modal .modal-dialog {
  max-width: 25.375rem;
  border: unset;
  margin: 0 auto;
}

#forgot-password-modal .modal-content {
  padding: 30px 30px 40px 30px;

  @media screen and (max-width: 767px) {
    padding: 16px;
  }
}

#forgot-password-modal .inner-wrapper {
  max-width: 26rem;
  padding: 1.875rem;
  border: unset;
  margin: 178.5px auto 0 auto;
}

#forgot-password-modal .inner-wrapper.restore {
  max-width: 38.625rem;
}

#forgot-password-modal .modal-header {
  padding: 0 0 16px;
  border-bottom: 1px solid var(--color-d1d6dc);
  margin-bottom: 30px;
  align-items: center;
}

#forgot-password-modal .modal-header button {
  color: var(--color-374049);
  text-align: left;
  opacity: 1;
}

#forgot-password-modal .modal-body {
  padding: unset;
}

#forgot-password-modal .modal-body .form-group {
  margin: 0;
}

#forgot-password-modal .modal-body .group.group-form.group-form-requiredinformation {
  background-color: unset;
  box-shadow: unset;
  padding: unset;
  margin: unset;
}

#forgot-password-modal .modal-footer {
  border-top: unset;
  padding: 0;
  margin: 40px 0;

  @media screen and (max-width: 767px) {
    margin: 40px 0 30px;
  }
}  

#forgot-password-modal .modal-footer button {
  font-weight: 600;
  color: var(--color-f8f9fa);
}

#forgot-password-modal[style] {
  top: 0 !important;
}

#forgot-password-modal .modal-footer #pwd_reset_button {
  margin: 0;
}

#forgot-password-modal a {
  font-weight: 600;
  color: var(--color-008080);
  border-bottom: 1px solid var(--color-008080);
}

#forgot-password-modal a:hover {
  text-decoration: none;
}

#forgot-password-modal .login-problem {
  color: var(--color-686970);
}

#forgot-password-modal .message {
  display: flex;
  align-items: center;
}

#forgot-password-modal p {
  margin: 0;
  color: var(--color-212529);
}

#forgot-password-modal label {
  margin-top: 20px;
  font-weight: 600;
  color: var(--color-212529);
}

#forgot-password-modal img {
  margin: 0 35px 0 8px;
}

#forgot-password-modal .modal-title {
  color: var(--color-374049);
}


#forgot-password-modal .restore {
  padding-bottom: 40px;
  margin-top: 0;
}

#forgot-password-modal .restore .modal-header {
  margin-bottom: 30px;
}

#forgot-password-modal input {
  height: 2.375rem;
  background-color: var(--color-ffffff);
  border: 1px solid var(--color-919191);
  opacity: 1;
  display: block;
  width: 100%;
  text-indent: 12px;

  &:hover {
    border: 2px solid var(--color-919191);
    opacity: 1;
  }

  &:active {
    border: 1px solid var(--color-008080);
    outline: 3px solid #bfdfdf;
  }  
}

#forgot-password-modal input.error-field {
  border: 1px solid var(--color-5b5b5b);
  border-bottom: 2px solid var(--color-e41d37);

  &:hover {
    border: 2px solid var(--color-919191);
    opacity: 1;
  }
}

@media (max-width: 767px) {
  #forgot-password-modal .inner-wrapper {
    margin: 34px auto 0 auto;
    width: auto;
    max-width: 328px;
    padding: 16px;
  }

  #forgot-password-modal .inner-wrapper.restore {
    padding: 16px 16px 25px 16px;
    margin: 34px auto 0 auto;
    width: auto;
    max-width: 328px;
  }
}

@media (max-width: 360px) {
  #forgot-password-modal img,
  #password-reset-confirm-container img {
    display: none;
  }

  #forgot-password-modal .inner-wrapper {
    margin: 34px 16px 0 16px;
    width: auto;
  }
  #forgot-password-modal .inner-wrapper.restore {
    margin: 34px 16px 0 16px;
    width: auto;
  }  
}

/** END FORGOT PASSWORD MODAL **/

/** REGISTER PAGE **/
.login__section .password .field-icon{
  cursor: pointer;
  color: var(--color-686970);
  float: right;
  margin-right: 0.75rem;
  margin-top: -1.8rem;
  position: relative;
  z-index: 2;
}

.login__section .tip-input {
  color: var(--color-686970);
}

.login__section #login-form .tip-input {
  padding-top: unset;
  color: unset;
}

/** END REGISTER PAGE **/

//reset password

.login__resret .login__section {
  max-height: 156px;
}

.login__section #password-reset-complete .message-title::before{
  background-image: url("/static/images/Component 43 – 1.svg");
  background-repeat: no-repeat;
  background-clip: border-box;
  background-size: 1.688rem 1.688rem;
  content: '';
  padding-right: 2.47rem;
}

.login__invalid__link img  {
  margin-right: 6.423rem;
}

#password-reset-complete-anchor{
  background-color: var(--color-ffffff);
  border: 1px solid var(--color-dedfdf);
  box-shadow: 0px 10px 30px #B3B3B326;
  border-radius: 3px;
  padding: 2.5rem 5.5rem;
}

//override paragon variable

.paragon__btn {
  border-radius: 0 !important;
  width: 100%;
  min-height: 34px;
  background: var(--color-e41d37);
  color: var(--color-ffffff);
  text-align: center !important;
  font-weight: 600 !important;
  border: unset !important;
  padding: .375rem 0 !important;

  &:hover {
    background-color: var(--color-a11326);
  }
  
  &:focus {
    box-shadow: none !important;
  }
}

.paragon__alert {
  padding: 0 !important;
  border: unset !important;
  background-color: unset !important;
  margin-bottom: unset !important;
}

.paragon__fa-exclamation-circle::before {
  content: none !important;
}  

.paragon__fa-icon-spacing {
  padding: 0 !important;
}  

.paragon__alert .error-in-login {
  display: block;
}  

.paragon__form-group label {
  font-size: 1rem;
  line-height: 1.625rem;
  margin-top: 0;
}

.paragon__invalid-feedback {
  font-size: 0.875rem !important;
  line-height: 1.188rem;
  color: var(--color-e41d37) !important;
}

.paragon__btn {
  margin-top: 1.625rem;
}

