@import 'videojs/plugin';
@import 'videojs/videojs';

.wrapper-account-settings .wrapper-header .account-nav button.active, .wrapper-account-settings .wrapper-header .account-nav button:hover, .wrapper-account-settings .wrapper-header .account-nav button:focus, .instructor-dashboard-content-2 .instructor-nav .nav-item .btn-link.active-section, .instructor-dashboard-content-2 .instructor-nav .nav-item .btn-link:hover, .instructor-dashboard-content-2 .instructor-nav .nav-item .btn-link:focus {
  border-bottom: 3px solid #B43F37
}

@media (min-width: 576px) {
  nav.navbar .container {
    max-width: 540px;
    width: -webkit-fill-available !important;
  }
}

@media (min-width: 768px) {
  nav.navbar .container {
    max-width: 720px;
    width: -webkit-fill-available !important;
  }
}

@media (min-width: 992px) {
  nav.navbar .container {
    max-width: 960px;
    width: -webkit-fill-available !important;
  }
}

@media (min-width: 1200px) {
  nav.navbar .container {
    max-width: 1240px;
    width: -webkit-fill-available !important;
  }
}

a:not(.btn):hover, a:not(.btn):focus, a:visited:not(.btn):hover, a:visited:not(.btn):focus, a:not(.btn):hover, div.info-wrapper section.handouts ol li div.hitarea:hover + h4:not(.btn), div.info-wrapper section.handouts ol li div.hitarea:focus + h4:not(.btn), a:not(.btn):focus, a:visited:not(.btn):hover, div.info-wrapper section.handouts ol li div.hitarea:hover + h4:visited:not(.btn), div.info-wrapper section.handouts ol li div.hitarea:focus + h4:visited:not(.btn), a:visited:not(.btn):focus {
  color: #B43F37;
}

.dropdown-item.active, .dropdown-item:active {
  color: white !important;
}

.account-settings-sections .section .account-settings-section-body .u-field .field .u-field-link {
  border: 1px solid #B43F37;
  color: #B43F37;
}

.view-profile .wrapper-profile-section-container-one .wrapper-profile-section-one {
  border-top: 5px solid #B43F37;
}

input[type="submit"]:active:not(:disabled), input[type="submit"]:focus:not(:disabled), input[type="button"]:active:not(:disabled), input[type="button"]:focus:not(:disabled), button:active:not(:disabled), button:focus:not(:disabled), .button:active:not(:disabled), .button:focus:not(:disabled), .header-global .nav-courseware li .btn:hover, .header-global .nav-courseware div .btn:hover, .login .form-actions button[type="submit"]:hover, .register .form-actions button[type="submit"]:hover, .passwordreset .form-actions button[type="submit"]:hover, #forgot-password-modal #password-reset .form-actions button[type="submit"]:hover, .view-survey .action-primary:hover, .header-global .nav-courseware li .btn:active, .header-global .nav-courseware div .btn:active, .login .form-actions button[type="submit"]:active, .register .form-actions button[type="submit"]:active, .passwordreset .form-actions button[type="submit"]:active, #forgot-password-modal #password-reset .form-actions button[type="submit"]:active, .view-survey .action-primary:active, .header-global .nav-courseware li .btn:focus, .header-global .nav-courseware div .btn:focus, .login .form-actions button[type="submit"]:focus, .register .form-actions button[type="submit"]:focus, .passwordreset .form-actions button[type="submit"]:focus, #forgot-password-modal #password-reset .form-actions button[type="submit"]:focus, .view-survey .action-primary:focus, .header-global .nav-courseware li .btn, .header-global .nav-courseware div .btn, .login .form-actions button[type="submit"], .register .form-actions button[type="submit"], .passwordreset .form-actions button[type="submit"], #forgot-password-modal #password-reset .form-actions button[type="submit"], .view-survey .action-primary {

  box-shadow: 0 2px 1px 0 #B43F37;
  color: white; /*ktos ustawil ten sam kolor co tlo :) */
  background-color: #B43F37;
  border-color: #B43F37;
}

.register.login h1 {
  text-align: left;
  font-size: 18px;
  line-height: 1.6;
}

.register.container.login {
  width: auto;
}

div#field-country {
  margin: 0;
}

li.field-group.field-education-level.form-group.form-group-optional, div#field-education-level, li.field-group.field-yob.form-group.form-group-optional {

  width: 100%;
}

.field.select {
  width: 100%;
}

.dashboard-course {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

.courses-row {
  margin: 0 -15px;
}

.courses-row .course-card {
  margin: 0 15px 30px
}

@media (min-width: 768px) {
  .courses-row .course-card {
    flex: 0 0 calc(50% - 30px);
    max-width: calc(50% - 30px)
  }
}

@media (min-width: 1200px) {
  .courses-row .course-card {
    flex: 0 0 calc(25% - 30px);
    max-width: calc(25% - 30px)
  }
}

.bg1, .bg1:active, .bg1:active:not(:disabled), .bg1:focus:not(:disabled) {
  background-color: #fff !important
}

.video-js {
  width: 100% !important;
}

.navbar .navbar-nav .nav-item a {
  font-size: 14px !important;
  text-transform: none !important;
  white-space: nowrap;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle, .btn:not(:disabled):not(.disabled) {
  text-transform: none !important;
}

.navbar-expand-lg .navbar-collapse {
  border: none !important;
}

#patrons_logo {
  text-align: center;
}

#patrons_logo img {
  max-width: 100%;
}

.is-hidden {
  display: none !important;
}

.index-courses-list {
  padding: 0px;
}

h1, h2, h3, h4, h5, h6 {
  text-align: left;
}

.view-register footer .container, .view-login footer .container {
  width: auto;
  background-color: transparent;
}

li.field-group.field-education-level.form-group.form-group-optional {
  margin: 0 0 20px 0;
}

.course-card .course-card-image img {
  height: 160px
}

.jumbotron.jumbotron-index {
  padding-top: 10px;
  padding-bottom: 10px
}

.jumbotron h1 {
  text-align: left
}

.choicegroup legend {
  font-size: 1rem;
}

.xmodule_display.xmodule_HtmlModule p {
  font-size: 1.1em
}

.xblock .xblock h2.unit-title {
  float: left
}

.course-content .bookmark-button-wrapper {
  float: right
}

.course-wrapper .course-content .vert-mod, .course-wrapper .courseware-results-wrapper .vert-mod {
  clear: both
}

.course-parts button:hover:not(:disabled) {
  background-color: transparent !important
}

.course-details .course-details-icon.easy {
  color: green
}

.course-details .course-details-icon.medium {
  color: #fd7e14
}

.courses-listing .course-card {
  max-width: 100% !important;
}

.courses-listing li {
  list-style: none !important;
  font-size: 12px;
}

/*
.navbar.navbar-light .navbar-brand { margin-right:10px; margin-bottom:-10px }


.view-login .container, .view-register .container {
    width: auto;
}

.view-login nav .container, .view-register nav .container {
    width: 100%;
}

.view-login nav .container > div{
  width: 100%;
}



.navbar.navbar-light .navbar-brand{
  width: 100%;
}*/

.navbar .navbar-toggler:hover:not(:disabled), .navbar .navbar-toggler {
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}

.navbar-toggler {
  position: absolute;
  right: 20px;
  top: 20px;
}

.course-card .course-card-content h3 {
  min-height: 45px
}

.add_post_btn_container {
  margin-bottom: 10px
}

.wiki-wrapper section.wiki .breadcrumbs-header {
  box-sizing: content-box;
  padding: 12px 0 26px
}

.wiki-wrapper section.wiki .breadcrumbs-header h2.page-title {
  margin: 0 0 0 40px
}

.wiki-wrapper section.wiki .global-functions {
  margin-top: -24px
}

.wiki-wrapper section.wiki .nav-tabs li {
  display: block
}

.wiki-wrapper section.wiki .article-functions .nav {
  display: block
}

.modal {
  bottom: auto
}

.bookmark-button:focus:not(:disabled) {
  color: #b43f37;
}

a:focus {
  background-color: transparent;
}

.breadcrumbs .nav-item a, .breadcrumbs .nav-item a:visited {
  color: #b43f37;
}

.u-field-password .account-settings-sections .section .account-settings-section-body .u-field .u-field-message .u-field-message-notification {
  padding: 10px 0 0 100px;
}

.text-right {
  text-align: right
}

@media (max-width: 768px) {
  .course-card .course-card-image img {
    display: inline-block
  }
  .course-card .course-card-image {
    text-align: center
  }
  .register .col-md-8 {
    margin-bottom: 50px
  }
  .navbar .navbar-nav .nav-item a {
    margin-bottom: 5px
  }
}

.xmodule_display.xmodule_SequenceModule .sequence-nav-button.focused, .xmodule_display.xmodule_SequenceModule .sequence-nav-button:hover, .xmodule_display.xmodule_SequenceModule .sequence-nav-button:active, .xmodule_display.xmodule_SequenceModule .sequence-nav-button.active, .xmodule_display.xmodule_SequenceModule .sequence-nav button.focused, .xmodule_display.xmodule_SequenceModule .sequence-nav button:hover, .xmodule_display.xmodule_SequenceModule .sequence-nav button:active, .xmodule_display.xmodule_SequenceModule .sequence-nav button.active {
  background-color: #b43f37 !important;
}

a:not(.btn) {
  color: #B43F37 !important;
}

h1, .h1 {
  font-size: 2.2rem
}

@media (max-width: 400px) {
  .footer .footer-logos img {
    max-width: 212px;
  }
}