<%!
  import json
  from django.utils.translation import ugettext as _
  from openedx.core.djangolib.js_utils import dump_js_escaped_json
%>
<%inherit file="../main.html" />
<%
  course_discovery_enabled = settings.FEATURES.get('ENABLE_COURSE_DISCOVERY')
%>

<%namespace name='static' file='../static_content.html'/>

% if course_discovery_enabled:
<%block name="header_extras">
  % for template_name in ["course_card", "filter_bar", "filter", "facet", "facet_option"]:
  <script type="text/template" id="${template_name}-tpl">
      <%static:include path="discovery/${template_name}.underscore" />
  </script>
  % endfor
  <%static:require_module module_name="js/discovery/discovery_factory" class_name="DiscoveryFactory">
    DiscoveryFactory(
      ${course_discovery_meanings | n, dump_js_escaped_json},
      getParameterByName('search_query'),
      "${user_language}",
      "${user_timezone}"
    );
  </%static:require_module>
</%block>
% endif

<%block name="pagetitle">${_("Courses")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
   <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="bg-light bg-brand p-4 rounded search-facets">
            <h1 class="sidebar-header">${_('List of Courses')}</h1>
            <div id="filter-bar" class="list-group filters hide-phone is-collapsed">
            </div>
            <section class="search-facets-lists">
            </section>
          </div>
        </div>
        <div class="col-md-9">
          <div class="bg-light p-4 rounded">
            <header class="d-flex justify-content-between align-items-center">
              <div id="discovery-form" role="search" aria-label="course" class="m-0">
				<div id="discovery-message" class="search-status-label"></div>
			  </div>
              <form>
                <div class="input-group">
                  <input class="form-control form-control-sm" name="search_query" type="search" placeholder="${_('Search for a course')}">
                  <div class="input-group-append">
                    <button class="btn btn-primary btn-sm" type="submit"><i class="icon-search"></i></button>
                  </div>
                </div>
              </form>
            </header>
            
            <hr class="my-4">
            
            <div class="row courses-row courses-listing courses" role="region" aria-label="${_('List of Courses')}">
				<div class="row courses-row courses-listing">
				</div>
           </div>
          </div>
        </div>
      </div>
    </div>
  </main>
