
<%!
  import json
  from django.utils.translation import ugettext as _
  from openedx.core.djangolib.js_utils import dump_js_escaped_json
%>
<%inherit file="../main.html" />
<%
  course_discovery_enabled = settings.FEATURES.get('ENABLE_COURSE_DISCOVERY')
%>

<%namespace name='static' file='../static_content.html'/>

% if course_discovery_enabled:
<%block name="header_extras">
  % for template_name in ["course_card", "filter_bar", "filter", "facet", "facet_option"]:
  <script type="text/template" id="${template_name}-tpl">
      <%static:include path="discovery/${template_name}.underscore" />
  </script>
  % endfor
  <%static:require_module module_name="js/discovery/discovery_factory" class_name="DiscoveryFactory">
    DiscoveryFactory(
      ${course_discovery_meanings | n, dump_js_escaped_json},
      getParameterByName('search_query'),
      "${user_language}",
      "${user_timezone}"
    );
  </%static:require_module>
</%block>
% endif

<%block name="pagetitle">${_("Courses")}</%block>

	<header id="course-list-header">
	  <div class="jumbotron">
	    <div class="container">
	      <h2 class="display-2 text-center">${_('List of Courses')}</h2>
	      <form>
	        <div id="search-form" class="input-group mt-2 mb-4 p-2">
	          <input class="form-control form-control" name="search_query" type="search" placeholder="Nazwa kursu">
	          <div class="input-group-append">
	            <button class="btn btn-light btn-outline-secondary" type="submit" id="button-addon2">Szukaj</button>
		  </div>
		</div>
	      </form>
	    </div>
	  </div>
	</header>

<div id="content" class="bg-light border-top">
    <main class="container">

        <aside id="filters" class="sidebar">
          <div class="bg-light bg-brand rounded search-facets">
            <h2 id="filter-bar" class="list-group filters hide-phone is-collapsed">
            </h2>

  	      <div id="search-facets-lists" class="search-facets-lists collapse">
              </div>
           </div> 
        </aside>

        <section id="results">
           <header id="courses-list-header">
              <div id="discovery-form" role="search" aria-label="course" class="m-0">
				<h2 id="discovery-message" class="search-status-label"></h2>
	      </div>
            </header>
                        
            <div class="courses-row courses-listing courses" role="region" aria-label="${_('List of Courses')}">
		<div class="row courses-row courses-listing"></div>
            </div>
        </section>
    </main>
</div>
