<%!
  import json
  from django.utils.translation import ugettext as _
  from openedx.core.djangolib.js_utils import dump_js_escaped_json
%>
<%inherit file="../main.html" />
<%
  course_discovery_enabled = settings.FEATURES.get('ENABLE_COURSE_DISCOVERY')
%>

<%namespace name='static' file='../static_content.html'/>

% if course_discovery_enabled:
<%block name="header_extras">
  % for template_name in ["course_card", "filter_bar", "filter", "facet", "facet_option", "facet_select"]:
  <script type="text/template" id="${template_name}-tpl">
      <%static:include path="discovery/${template_name}.underscore" />
  </script>
  % endfor
  <%static:require_module module_name="js/discovery/discovery_factory" class_name="DiscoveryFactory">
    DiscoveryFactory(
      ${course_discovery_meanings | n, dump_js_escaped_json},
      getParameterByName('search_query'),
      "${user_language}",
      "${user_timezone}"
    );
  </%static:require_module>
</%block>
% endif

<%block name="pagetitle">${_("Courses")}</%block>

	<header id="header-course" class="bg-light">
	  <div class="jumbotron" id="header_jumbotron">
	    <div class="container">
	      <h2 class="display-2 text-center">${_('List of Courses')}</h2>
	    </div>
	  </div>
	</header>

<div id="content1">
    <main class="container">

        <aside id="filters" class="sidebar">
          <div class="bg-brand rounded search-facets">
            <h2 id="filter-bar" class="list-group filters hide-phone is-collapsed d-none d-md-block">
            </h2>
              <a href="#search-facets-lists" data-toggle="collapse" class="btn btn-outline-primary btn-lg btn-block dropdown-toggle d-md-none">FILTRY</a>

  	      <div id="search-facets-lists" class="search-facets-lists collapse">
              </div>
           </div>
        </aside>

        <section id="results">
           <header id="header_results">
              <div id="discovery-form" role="search" aria-label="course" class="m-0">
				<h2 id="discovery-message" class="search-status-label"></h2>
	      </div>

               <div id="sorting-form">Sortuj według: 
                <select class="custom-select">
                   <option value="">Domyślnie</option>
                   <option value="name">Alfabetycznie A-Z</option>
                   <option value="-name">Alfabetycznie Z-A</option>
                   <option value="startDate">Daty rozpoczęcia rosnąco</option>
                   <option value="-startDate">Daty rozpoczęcia malejąco</option>
               </select>
             </div>
    </header>

            <div class="courses-row courses-listing courses" role="region" aria-label="${_('List of Courses')}">
		<div class="row courses-row courses-listing"></div>
            </div>
        </section>
    </main>
</div>
