## mako

<%page args="active_page=None" expression_filter="h" />
<%namespace name='static' file='/static_content.html'/>

<%!
from courseware.tabs import get_course_tab_list
from django.conf import settings
from django.core.urlresolvers import reverse
from django.utils.translation import ugettext as _
%>

<%
if active_page is None and active_page_context is not UNDEFINED:
    # If active_page is not passed in as an argument, it may be in the context as active_page_context
    active_page = active_page_context

if course is not None:
    include_special_exams = settings.FEATURES.get('ENABLE_SPECIAL_EXAMS', False) and (course.enable_proctored_exams or course.enable_timed_exams)
%>

% if include_special_exams is not UNDEFINED and include_special_exams:
    <%static:js group='proctoring'/>
    % for template_name in ["proctored-exam-status"]:
        <script type="text/template" id="${template_name}-tpl">
            <%static:include path="courseware/${template_name}.underscore" />
        </script>
    % endfor
    <div class="proctored_exam_status"></div>
% endif

% if disable_tabs is UNDEFINED or not disable_tabs:
    <%
    tab_list = get_course_tab_list(request, course)
    %>

  

<div class="jumbotronn">
<div class="container">
<nav>
     <select id="action-tab-select" class="custom-select" name="tab" onchange="location = this.value">
        <option hidden value="default">Wbierz zakładkę</option>
        % for tab in tab_list:
           <%
              tab_is_active = tab.tab_id in (active_page, default_tab)
           %>                                            
        <option value="${tab.link_func(course, reverse)}" >${_(tab.name)}</option>
        %endfor
    </select>
        
   <div class="nav nav-tabs" id="nav-tab" role="tablist">
              % for tab in tab_list:
                    <%
                    tab_is_active = tab.tab_id in (active_page, default_tab)
                    %>
                    <a href="${tab.link_func(course, reverse)}" class="nav-link ${'active' if tab_is_active else ''}">
                            ${_(tab.name)}
                            % if tab_is_active:
                                <span class="sr-only">, ${_('current location')}</span>
                            %endif
                            % if tab_image:
                                ## Translators: 'needs attention' is an alternative string for the
                                ## notification image that indicates the tab "needs attention".
                                <img src="${tab_image}" alt="${_('needs attention')}" />
                            %endif
                     </a>
                % endfor
    </div>
</nav>

</div>
</div>
%endif
