<%page expression_filter="h"/>
<%namespace name='static' file='../static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from openedx.core.djangolib.markup import HTML, Text
%>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Page Not Found")}</%block>
<div class="error-code-main">
    <main id="main" aria-label="Content" tabindex="-1">
        <section class="outside-app error-page" id="skip-main">
            <div class="error-code-content row">
                <div class="error-code-info col-md-6">
                    <h1 class="error-code-info-title">${_("Page Not Found")}</h1>
                    <p class="error-code-info-text">${_("404 Not Found. Check the website URL. If you have not found what you are looking for, try the links below:")}</p>
                    <a class="error-code-info-link" href="/">${_("Home")}</a>
                    <a class="error-code-info-link" href="/courses">${_("Course List")}</a>
                </div>
                <img class="error-code-image col-md-6" src="/static/images/404.svg" alt="">
            </div>
        </section>
    </main>
</div>
    