<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Accessibility Statement")}</%block>

<div id="skip-main">
    <div class="a11y-page">
        <header id="page-header">
            <div class="jumbotron">
                <div class="container">
                    <h1 id="a11y-deklaracja" class="display-2 text-darkblack text-24">${_("Accessibility Statement for educational platform NAVOICA")}</h1>
                </div>
            </div>
        </header>

        <div id="content">
            <main class="container d-block">
                <p>Właścicielem platformy NAVOICA jest Ministerstwo Nauki i Szkolnictwa Wyższego z siedzibą w Warszawie, ul. Wspólna 1/3. Operatorem platformy jest Ośrodek Przetwarzania Informacji – Państwowy Instytut Badawczy.</p>
                <p id="a11y-wstep"><span id="a11y-podmiot">Ośrodek Przetwarzania Informacji - Państwowy Instytut Badawczy</span> zobowiązuje się zapewnić dostępność swojej strony internetowej zgodnie z przepisami ustawy z dnia 4&nbsp;kwietnia 2019&nbsp;r. o&nbsp;dostępności cyfrowej stron internetowych i&nbsp;aplikacji mobilnych podmiotów publicznych. Oświadczenie w sprawie dostępności ma zastosowanie do strony internetowej <a id="a11y-url" href="https://www.navoica.pl">Navoica.pl</a>.</p>
                <ul>
                    <li>Data publikacji strony internetowej: <time id="a11y-data-publikacja" datetime="2018-10-30">2018-10-30</time></li>
                    <li>Data ostatniej istotnej aktualizacji: <time id="a11y-data-aktualizacja" datetime="2020-09-21">2020-09-21</time></li>
                </ul>
                <h2>Status pod względem zgodności z ustawą</h2>
                <p>Strona internetowa jest <strong id="a11y-status">częściowo zgodna</strong> z&nbsp;ustawą o&nbsp;dostępności cyfrowej stron internetowych i&nbsp;aplikacji mobilnych podmiotów publicznych z&nbsp;powodu niezgodności lub wyłączeń wymienionych poniżej.</p>

                <h3>Treści niedostępne</h3>
                <ul>
                    <li>
                        niektóre elementy mają nieodpowiedni kontrast,
                    </li>
                    <li>
                        niektóre formularze nie mają etykiet,
                    </li>
                    <li>
                        focus jest niewidoczny,
                    </li>
                    <li>
                        może brakować tekstów alternatywnych do obrazów,
                    </li>
                    <li>
                        nie wszystkie filmy zawierają napisy,
                    </li>
                    <li>
                        napisów nie można pobrać,
                    </li>
                    <li>
                        nie jest dostępna audiodeskrypcja.
                    </li>

                </ul>
                <p>
                Platforma jest w trakcie modyfikacji, które mają uczynić ją bardziej dostępną. Prace są prowadzone i sukcesywnie dostępność będzie ulegała poprawie. Do końca października 2020 strony przed zalogowaniem będą spełniały wytyczne WCAG 2.1 na poziomie AA. Strony dostępne po zalogowaniu będą dostosowywane w następnym kroku. Równocześnie pracujemy też nad tym, aby w przyszłości powstawały kursy dostępne cyfrowo.
                </p>


                <h3>Wyłączenia</h3>
                <ul>
                    <li>
                        Kursy, które nie zostały wytworzone przez OPI PIB,
                    </li>
                    <li>
                        Multimedia opublikowane przed dniem <time datetime="2020-09-23">2020-09-23</time>.
                    </li>
                </ul>

                <h3> Przygotowanie deklaracji w sprawie dostępności</h3>
                <ul>
                    <li>Deklarację sporządzono dnia:  <time id="a11y-data-sporzadzenie" datetime="2020-09-22">2020-09-22</time></li>
                    <li>Deklaracja została ostatnio poddana przeglądowi i aktualizacji dnia:  <time id="a11y-data-deklaracja-przeglad" datetime="2020-09-22">2020-09-22</time></li>
                </ul>

                <p>Deklarację sporządzono na podstawie samooceny przeprowadzonej przez podmiot publiczny. </p>


                <h2 id="a11y-kontakt">Informacje zwrotne i dane kontaktowe</h2>
                <ul>
                    <li>Za rozpatrywanie uwag i wniosków odpowiada:  <span id="a11y-osoba">Agata Miszkurka</span></li>
                    <li>E-mail: <a id="a11y-email" href="mailto:agata.miszkurka@opi.org.pl">agata.miszkurka@opi.org.pl</a></li>
                    <li>Telefon: <a id="a11y-telefon" href="tel:+48225701400">+48 22 570 14 00</a> (telefon do centrali, preferowany kontakt mailowy)</li>
                </ul>

                <p id="a11y-procedura">Każdy ma prawo:</p>
                <ul>
                    <li>zgłosić uwagi dotyczące dostępności cyfrowej strony lub jej elementu,</li>
                    <li>zgłosić żądanie zapewnienia dostępności cyfrowej strony lub jej elementu,</li>
                    <li>wnioskować o udostępnienie niedostępnej informacji w innej alternatywnej formie.</li>
                </ul>
                <p>Żądanie musi zawierać:</p>
                <ul>
                    <li>dane kontaktowe osoby zgłaszającej,</li>
                    <li>wskazanie strony lub elementu strony, której dotyczy żądanie,</li>
                    <li>wskazanie dogodnej formy udostępnienia informacji, jeśli żądanie dotyczy udostępnienia w formie alternatywnej informacji niedostępnej.</li>
                </ul>
                <p>Rozpatrzenie zgłoszenia powinno nastąpić niezwłocznie, najpóźniej w ciągu 7 dni. Jeśli w tym terminie zapewnienie dostępności albo zapewnienie dostępu w alternatywnej formie nie jest możliwe, powinno nastąpić najdalej w ciągu 2 miesięcy od daty zgłoszenia.</p>

                <h3>Skargi i odwołania</h3>
                <p>Na niedotrzymanie tych terminów oraz na odmowę realizacji żądania można złożyć skargę do organu nadzorującego pocztą lub drogą elektroniczną na adres:</p>
                <ul>
                    <li>Organ nadzorujący: Dyrektor Ośrodka Przetwarzania Informacji – Państwowego Instytutu Badawczego</li>
                    <li>Adres: al. Niepodległości 188 B<br />
                    00-608 Warszawa</li>
                    <li>E-mail: <a href="mailto:opi@opi.org.pl">opi@opi.org.pl</a></li>
                    <li>Telefon: <a href="tel:+48225701400">+48 22 570 14 00</a></li>
                </ul>
                <p>Skargę można złożyć również do  <a href="https://www.rpo.gov.pl/content/jak-zglosic-sie-do-rzecznika-praw-obywatelskich" target="_blank">Rzecznika Praw Obywatelskich<span class="sr">open in a new window</span></a>.</p>

                <h2 id="a11y-architektura">Dostępność architektoniczna</h2>
                <p>Ośrodek Przetwarzania Informacji - PIB, al. Niepodległości 188B, 00-608 Warszawa.</p>
                <p>Do budynku prowadzą schody. Przy schodach do wejścia znajduje się podjazd dla w&oacute;zk&oacute;w. Recepcja znajduje się naprzeciwko wejścia. Dalsze przejście wymaga użycia karty umożliwiającej otwarcie drzwi. Dla os&oacute;b na w&oacute;zkach dostępny jest tylko korytarz i pomieszczenia na parterze. W budynku nie ma windy. Toaleta dla os&oacute;b niepełnosprawnych znajduje się na parterze, na wprost klatki schodowej. Przed budynkiem wyznaczono 2 miejsca parkingowe dla os&oacute;b niepełnosprawnych. Do budynku i wszystkich jego pomieszczeń można wejść z psem asystującym.</p>

            </main>
        </div>
    </div>
</div>
