<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<div id="content" class="border-top" style="padding-top:7rem">
    <main class="container" id="contact">

        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

                <div class="d-flex">
                    <article id="results">
                        <header>
                            <h2>
                                <span class="d-none d-md-block">${_('Contact us')}</span>
                            </h2>
                        </header>

                        <h1>
                            <strong>Navoica.pl</strong>
                            <br>
                            ${_('Online learning platform owned by the Polish Ministry of Science and Higher Education')}
                        </h1>


                        <address>
                            <h4>${_('Address')}:</h4>

                            <p>
                                ${_('National Information Processing Institute')}<br>
                                al. Niepodległości 188 B<br>
                                00-608 Warszawa
                            </p>
                        </address>

                        <div>
                            <h4>${_('General questions')}</h4>
                            <p>${_('Questions, comments and contact with universities and institutions regarding publishing courses on the platform')}: <a href="mailto:navoica@opi.org.pl">navoica@opi.org.pl</a></p>

                            <h4>${_('Help center')}</h4>
                            <p>${_('Issues, errors, technical comments')}: <a href="mailto:mooc_help@opi.org.pl">mooc_help@opi.org.pl</a></p>
                        </div>

                    </article>

                </div>

            </div>

        </div>

    </main>
</div>
