<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Contact")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>
            <%block name="pageheader">${page_header or _("Contact")}</%block>
        </h1>
        <p>
            <%block name="pagecontent"><p style="margin-bottom:0cm"><span style="line-height:100%"><font face="Times New Roman, serif"><font size="3"><font style="font-size: 12pt"><b>Polski MOOC &ndash; Platforma kształcenia na odległość Ministerstwa Nauki i Szkolnictwa Wyższego</b></font></font></font></span></p>

<p style="margin-bottom:0cm"><span style="line-height:100%"></span></p>

<p style="margin-bottom:0cm"><span style="line-height:100%"><font face="Times New Roman, serif"><font size="3"><font style="font-size: 12pt">Adres korespondencyjny:</font></font></font></span></p>

<p style="margin-bottom:0cm"><span style="line-height:100%"></span></p>

<p style="margin-bottom:0cm"><span style="line-height:100%"><font face="Times New Roman, serif"><font size="3"><font style="font-size: 12pt">
Fundacja Młodej Nauki<br/>
ul. Uniwersytecka 5 lok. 12<br/>
02-036 Warszawa
</font></font></font></span></p>

<p style="margin-bottom:0cm"><span style="line-height:100%"></span></p>

<p style="margin-bottom:0cm"><span style="line-height:100%"> <font face="Times New Roman, serif"><font size="3"><font style="font-size: 12pt">Tel. +48 22 234 42 53<br/>
KRS: 0000492014<br/>
NIP: 5213664198<br/>
REGON: 147051213</font></font></font></span></p>

<p style="margin-bottom:0cm"><span style="line-height:100%"></span></p>

<p style="margin-bottom:0cm"><span style="line-height:100%"><font face="Times New Roman, serif"><font size="3"><font style="font-size: 12pt"><b>Operator merytoryczny:</b></font></font></font><font face="Times New Roman, serif"><font size="3"><font style="font-size: 12pt"> Fundacja Młodej Nauki</font></font></font></span></p>

<p style="margin:0px"><span style="line-height:100%"><font face="Times New Roman, serif"><font size="3"><font style="font-size: 12pt">Kontakt w sprawach og&oacute;lnych, pytania, wsp&oacute;łpraca, media: </font></font></font><a href="mailto:fmn@fmn.org.pl"><font face="Times New Roman, serif"><font size="3"><font style="font-size: 12pt"><b>fmn@fmn.org.pl</b></font></font></font></a></span></p>

<p style="margin-bottom:0cm"><span style="line-height:100%"></span></p>

<p style="margin-bottom:0cm"><span style="line-height:100%"><font face="Times New Roman, serif"><font size="3"><font style="font-size: 12pt"><b>Operator techniczny:</b></font></font></font><font face="Times New Roman, serif"><font size="3"><font style="font-size: 12pt"> Ośrodek Przetwarzania Informacji &ndash; Państwowy Instytut Badawczy</font></font></font></span></p>

<p style="margin:0px"><span style="line-height:100%"><font face="Times New Roman, serif"><font size="3"><font style="font-size: 12pt">Pomoc techniczna, problemy, uwagi techniczne: </font></font></font><a href="mailto:mooc_help@opi.org.pl"><font face="Times New Roman, serif"><font size="3"><font style="font-size: 12pt"><b>mooc_help@opi.org.pl</b></font></font></font></a></span></p>
</%block>
        </p>
    </section>
</main>
