<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<div id="content" class="border-top" style="padding-top:7rem">
    <main class="container" id="contact">

        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

                <div class="d-flex">
                    <article id="results">
                        <header>
                            <h2>
                                <span class="d-none d-md-block">Kontakt</span>
                            </h2>
                        </header>

                        <h1>
                            <strong>Navoica.pl</strong>
                            <br>
                            Platforma kształcenia na odległość Ministerstwa Nauki i Szkolnictwa Wyższego.
                        </h1>


                        <address>
                            <h4>Adres korespondencyjny:</h4>
                            <p>
                                Ośrodek Przetwarzania Informacji – Państwowy Instytut Badawczy<br>
                                al. Niepodległości 188 B<br>
                                00-608 Warszawa
                            </p>
                        </address>

                        <div>
                            <h4>Kontakt w sprawach ogólnych</h4>
                            <p>Pytania, uwagi oraz kontakt dla uczelni i instytucji w sprawie udostępnienia kursów na platformie: <a href="mailto:navoica@opi.org.pl">navoica@opi.org.pl</a></p>

                            <h4>Pomoc techniczna</h4>
                            <p>Problemy, błędy, uwagi techniczne: <a href="mailto:mooc_help@opi.org.pl">mooc_help@opi.org.pl</a></p>
                        </div>

                        <div>
                            <h4>Współpraca, media</h4>
                            <p>Kontakt w sprawach PR: <a href="mailto:dks@opi.org.pl">dks@opi.org.pl</a></p>
                        </div>

                    </article>

                </div>

            </div>

        </div>

    </main>
</div>
