<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>

<%inherit file="../main.html" />

<%block name="pagetitle">${_("Cookies Policy")}</%block>

<div id="skip-main">
    <div class="cookies">
        <header id="page-header">
            <div class="jumbotron">
                <div class="container">
                    <h1 class="display-2 text-darkblack text-24">${_("Cookies Policy")}</h1>
                </div>
            </div>
        </header>

        <section class="container about">

            <p class="text-justify"><span lang="pl-PL">OPI PIB przywiązuje szczególną wagę do poszanowania prywatności użytkowników odwiedzających Platformę Edukacyjną NAVOICA
                (dalej: Serwis). Gromadzone dane z urządzeń końcowych użytkowników są wykorzystywane tylko i wyłącznie do celów administrowania Serwisem. Nie identyfikujemy
                użytkowników strony. </span></p>

            <p class="text-justify"><span lang="pl-PL">Podmiotem zamieszczającym na urządzeniu końcowym użytkownika serwisu pliki cookies oraz uzyskującym do nich dostęp jest operator
                Serwisu Ośrodek Przetwarzania Informacji z siedzibą pod adresem al. Niepodległości 188 b, 00-608 Warszawa.</span></p>

            <h3>Pliki cookies</h3>

            <p class="text-justify"><span lang="pl-PL">Pliki cookies to małe pliki tekstowe instalowane na urządzeniu użytkownika przeglądającego Serwis. Cookies zbierają
                informacje ułatwiające korzystanie ze strony internetowej – np. poprzez zapamiętywanie odwiedzin Użytkownika w Serwisie i dokonywanych przez niego czynności.</span></p>

            <p class="text-justify"><span lang="pl-PL">Pliki cookies (tzw. „ciasteczka”) stanowią dane informatyczne, w szczególności pliki tekstowe, które przechowywane są w
                urządzeniu końcowym użytkownika serwisu i przeznaczone są do korzystania ze stron internetowych serwisu. Cookies zazwyczaj zawierają nazwę strony internetowej,
                z której pochodzą, czas przechowywania ich na urządzeniu końcowym oraz unikalny numer.</span></p>

            <p class="text-justify"><span lang="pl-PL">Serwis automatycznie zbiera informacje na dwa sposoby: przy pomocy narzędzia Google Analytics/ Facebook Pixel oraz
                poprzez pliki cookies.</span></p>

            <h3>Wykorzystywanie danych</h3>

            <p class="text-justify"><span lang="pl-PL">OPI PIB wykorzystuje tzw. cookie serwisowe przede wszystkim w celu dostarczania użytkownikowi usługi świadczonej drogą
                elektroniczną oraz poprawy jakości tej usługi. W związku z tym OPI PIB oraz inne podmioty świadczące na jego rzecz usługi analityczne i statystyczne korzystają z plików cookies, przechowując informacje lub uzyskując dostęp do informacji już przechowywanych w telekomunikacyjnym urządzeniu końcowym użytkownika (komputer, telefon, tablet itp.). Pliki cookies wykorzystywane w tym celu obejmują:</span></p>

            <ul>
                <li>pliki cookies z danymi wprowadzanymi przez użytkownika (identyfikator sesji) na czas trwania sesji (ang. user input cookies),</li>
                <li>pliki cookies służące do zapewnienia bezpieczeństwa, np. wykorzystywane do wykrywania nadużyć w zakresie uwierzytelniania (ang. user centric security cookies),</li>
                <li>sesyjne pliki cookies odtwarzaczy multimedialnych (np. pliki cookies odtwarzacza flash), na czas trwania sesji (ang. multimedia player session cookies),</li>
                <li>trwałe pliki cookies służące do personalizacji interfejsu użytkownika na czas trwania sesji lub nieco dłużej (ang. user interface customization cookies),</li>
                <li>pliki cookies służące do monitorowania ruchu na stronie internetowej, tj. analityki danych, w tym cookies Google Analytics (są to pliki wykorzystywane przez spółkę
                    Google w celu analizy sposobu korzystania z Serwisu przez użytkownika, do tworzenia statystyk i raportów dotyczących funkcjonowania Serwisu). Google nie wykorzystuje
                    zebranych danych do identyfikacji użytkownika ani nie łączy tych informacji w celu umożliwienia identyfikacji. Szczegółowe informacje o zakresie i zasadach zbierania
                    danych w związku z tą usługą można znaleźć pod linkiem: <a href="https://www.google.com/intl/pl/policies/privacy/partners" target="_blank">
                        https://www.google.com/intl/pl/policies/privacy/partners</a>.</li>
            </ul>

            <p class="text-justify"><span lang="pl-PL">Pliki cookies wykorzystywane są również w celu:</span></p>

            <ul>
                <li>dostosowania zawartości strony internetowej Serwisu do preferencji użytkownika oraz optymalizacji korzystania z tej strony, w szczególności pliki te pozwalają
                    rozpoznać urządzenie użytkownika serwisu i odpowiednio wyświetlić stronę internetową, dostosowaną do jego indywidualnych potrzeb;</li>
                <li>tworzenia statystyk, które pomagają zrozumieć, w jaki sposób użytkownicy serwisu korzystają ze stron internetowych, co umożliwia ulepszanie ich
                    struktury i zawartości;</li>
            </ul>

            <p class="text-justify"><span lang="pl-PL">Zbierane dane nie są kojarzone z konkretnymi osobami przeglądającymi Serwis, nie są łączone z innymi danymi i nie są
                przetwarzane jako dane osobowe.</span></p>

            <p class="text-justify"><span lang="pl-PL">W ramach Serwisu stosowane są dwa zasadnicze rodzaje plików cookies: „sesyjne” (session cookies) oraz „stałe”
                (persistent cookies). Cookies „sesyjne” są plikami tymczasowymi, które przechowywane są w urządzeniu końcowym użytkownika do czasu opuszczenia strony internetowej lub
                wyłączenia oprogramowania (przeglądarki internetowej). „Stałe” pliki cookies przechowywane są w urządzeniu końcowym użytkownika przez czas określony w parametrach plików
                cookies lub do czasu ich usunięcia przez użytkownika.</span></p>

            <p class="text-justify"><span lang="pl-PL">Zebrane na tej podstawie dane przechowywane są przez czas nieokreślony jako materiał pomocniczy służący do administrowania Serwisem.
                Informacje w nich zawarte nie są ujawniane nikomu poza osobami upoważnionymi do administrowania serwerem oraz świadczącymi usługi na rzecz OPI PIB.
                Pliki Cookies stosowane w Serwisie nie przechowują żadnych danych osobowych.</span></p>

            <h3>Odnośniki do innych stron</h3>

            <p class="text-justify"><span lang="pl-PL">Serwis zawiera odnośniki do innych stron WWW. Nie możemy ponosić odpowiedzialności za zasady zachowania prywatności obowiązujące
                na tych stronach. Namawiamy, by po przejściu na inne strony, zapoznać się z polityka prywatności tam ustaloną. Niniejsza polityka dotyczy wyłącznie Serwisu.</span></p>

            <h3>Wyłączenie plików cookies </h3>

            <p class="text-justify"><span lang="pl-PL">Serwis (przeglądarka internetowa) domyślnie dopuszcza przechowywanie plików cookies w urządzeniu końcowym użytkownika.
                Użytkownicy Serwisu mogą dokonać w każdym czasie zmiany ustawień dotyczących plików cookies. Ustawienia te mogą zostać zmienione w szczególności w taki sposób,
                aby blokować automatyczną obsługę plików cookies w ustawieniach przeglądarki internetowej, bądź informować o ich każdorazowym zamieszczeniu w urządzeniu użytkownika
                serwisu. Szczegółowe informacje o możliwości i sposobach obsługi plików cookies dostępne są w ustawieniach oprogramowania (przeglądarki internetowej). </span></p>

            <p class="text-justify"><span lang="pl-PL">OPI PIB informuje, że ograniczenia stosowania plików cookies mogą wpłynąć na niektóre funkcjonalności dostępne w
                ramach Serwisu. </span></p>

            <h3>Zmiany</h3>

            <p class="text-justify"><span lang="pl-PL">W przypadku zmiany obowiązującej polityki prywatności, wprowadzone zostaną odpowiednie modyfikacje do powyższego zapisu.</span></p>

        </section>
    </div>
</div>