<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("FAQ")}</%block>
<div class="faq-page">
    <header id="page-header" class="bg-light">
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-2 text-darkblack text-24">${_("FAQ")}</h1>
            </div>
        </div>
    </header>

    <div id="content" class="bg-light">
        <main class="container" id="main">

            <section>
                <%block name="pagecontent">
                    <div id="faq-categories" class="list-group">

                         % for i, category in enumerate(page_content, 1):
                            <% category_identifier = "{:02d}".format(i) %>
                            <a href="#accordion-anchor-${category_identifier}" class="list-group-item list-group-item-action">
                                <i class="${category['icon_class']}" aria-hidden="true"></i>
                                <div>
                                    <span class="sr-only">${_('Category')}</span>
                                    <h2 class="text-18">${category['name']}</h2>
                                </div>
                            </a>
                        % endfor

                    </div>

                    % for i, category in enumerate(page_content, 1):
                        <% category_identifier = "{:02d}".format(i) %>
                        <div class="accordion-wrapper">
                            <!-- Category of questions -->
                            <!-- show answers -->
                            <div class="accordion-anchor" id="accordion-anchor-${category_identifier}">
                            </div>

                            <div class="accordion-switch">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" value="" name="show-answers-${category_identifier}" id="show-answers-${category_identifier}">
                                    <label for="show-answers-${category_identifier}" class="custom-control-label">${_("show answers")} <span class="sr-only">${_('Category')} ${category['name']}</span></label>
                                </div>
                            </div>
                            <!-- category -->
                            <div class="accordion faq">
                                <div class="card">
                                    <div class="card-header" id="heading-${category_identifier}">
                                        <button class="btn btn-link btn-cat my-0" type="button"
                                                data-toggle="collapse" data-target="#collapse-${category_identifier}" aria-expanded="true" aria-controls="collapse-${category_identifier}" tabindex="0">
                                                ${category['name']}:
                                        </button>
                                    </div>

                                    <div class="collapse show" aria-labelledby="heading-${category_identifier}" id="collapse-${category_identifier}">
                                        <div class="card-body">
                                            <div class="accordion">
                                            % for j, question_answer in enumerate(category['questions'], 1):
                                            <% question_identifier = "{:02d}-{:02d}".format(i, j) %>
                                                <div class="card">
                                                    <div class="card-header" id="heading-${question_identifier}">
                                                        <button class="btn btn-link my-0" type="button" data-toggle="collapse" data-target="#collapse-${question_identifier}" aria-expanded="false"
                                                                aria-controls="collapse-${question_identifier}" aria-describedby="description-${question_identifier}" tabindex="0">
                                                                ${question_answer[0]}
                                                        </button>
                                                    </div>
                                                    <div id="collapse-${question_identifier}" class="collapse" aria-labelledby="heading-${question_identifier}">
                                                        <div class="card-body">
                                                            <p id="description-${question_identifier}">${question_answer[1]}</p>
                                                        </div>
                                                    </div>
                                                </div>

                                            % endfor
                                            </div>   <!-- accordion -->
                                        </div>   <!-- card-body -->
                                    </div>  <!-- collapse show -->
                                </div> <!-- card -->
                            </div>  <!-- accordion faq -->
                        </div>  <!-- accordion-wrapper -->
                        % endfor



                <script src="js/jquery.min.js"></script>
                <script src="js/popper.min.js"></script>
                <script src="js/bootstrap.min.js"></script>

                <script type="text/javascript">
                    $( document ).ready(function() {
                        $('.accordion-switch input').change(function () {
                            var state = this.checked;
                            var accordion = $(this).parents('.accordion-switch').siblings('.accordion');
                            var collapseTarget = accordion.find('.accordion button[aria-expanded]');
                            if (this.checked) {
                                accordion.find('.collapse').collapse('show');
                                collapseTarget.attr('aria-expanded', 'true');
                            } else {
                                accordion.find('.accordion .collapse').collapse('hide');
                                collapseTarget.attr('aria-expanded', 'false');
                            }
                        });
                    });
                </script>
                </%block>
            </section>
        </main>
    </div>
</div>