<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Honor Code")}</%block>

<div class="container">
	<main id="main" aria-label="Content" tabindex="-1">
		<section class="container about" id="skip-main">
			<h1>${_("Honor Code")}</h1>
			<div>
				<p>
					${_("By enrolling in a course offered on Navoica platform you join the international community of learners. Our aspiration is to enable every user in the world who has access to the Internet to take part in courses prepared by the best universities and educational institutions from Poland and provide top quality teaching. By logging in to Navoica platform you become a part of this community. Our success depends to a large extent on your motivation to learn and your fully honest and fair use of the Platform's resources. A prerequisite for joining any course is that you accept the terms of this Code of Honour and any additional terms and conditions set out for your specific course or study programme. This Code of Honour, like any additional regulations accompanying the course, is published on the course's page.")}
				</p>
				<p>
					<strong>${_("My pledge")}</strong>
				</p>
				<p>
					${_("By enrolling in a course on the Navoica platform I undertake:")}
				</p>
				<ul>
					<li>${_("to carry out all activities designed to test my knowledge and skills on my own, without any participation or assistance of third parties, except when the activity will allow for group work.")}</li>
					<li>${_("to keep only one account on Navoica platform and not to share my login and password with anyone.")}</li>
					<li>${_("not to engage in any activity that could unfairly or dishonestly impact my academic performance or the performance of other users of the platform.")}</li>
					<li>${_("not to provide public access by any means to the answers to the evaluation tasks used to evaluate Navoica students' performance on their courses.")}</li>
				</ul>
				<p>
					<strong>${_("Consequences of violation of the Code of Honour")}</strong>
				</p>
				<p>
					${_("The following actions may be taken against any Navoica platform user who violates the Code of Honour:")}
				</p>
				<ul>
					<li>${_("No points awarded to the user for solving a task as part of the course.")}</li>
					<li>${_("Withholding or withdrawing a certificate received at the end of a course or course programme.")}</li>
					<li>${_("Removal of the user in breach of the Code of Honour from the course or programme of courses.")}</li>
					<li>${_("Deletion of the user's Navoica platform account.")}</li>
					<li>${_("Additional actions may be taken by the Navoica platform operator or the course provider.")}</li>
					<li>${_("In the event of a breach of the Code of Honour, no refund will be granted to the user for any costs they may have incurred in connection with the course.")}</li>
					<li>${_("Any violations of the Code of Honour will be communicated to the relevant course provider in a private and confidential message. At the same time, the violating user will be informed that his/her breach of the provisions of the Code of Honour has been detected, and that actions have been taken in connection with the breach.")}</li>
				</ul>
				<p>
					<strong>${_("Changes to this Code of Honour")}</strong>
				</p>
				<p>
					${_("As the operator of Navoica platform, we reserve the right to amend the provisions of this Code of Honour. Any changes will take effect immediately after they are posted on the Navoica website together with their date of implementation. By expressing consent to the provisions of the Code of Honour before entering the course, the user also agrees to comply with prospective provisions. Please check the current version of the Code of Honour, especially in situations where there may be any concerns about the activities to be undertaken as part of the course.")}
				</p>
			</div>
		</section>
	</main>
</div>
