<%namespace name='static' file='../static_content.html'/>
<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Legend_title")}</%block>

<%block name="og_meta">
  ## OG (Open Graph) title and description added below to give social media info to display
  ## (https://developers.facebook.com/docs/opengraph/howtos/maximizing-distribution-media-content#tags)
  <meta property="og:title" content="${_('Legend_title')}" />
  <meta property="og:description" content="${_('Legend_quotation')}" />
  <meta property="og:image" content="${static.url('images/navoica_thick_rect.png')}" />
  <meta property="og:type" content="website" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="628" />
</%block>


<section class="container legend">
    <h2>${_('Legend_title')}</h2>
    <div class="main-legend" >
        <div id="legend-start">
            <blockquote>
                <p>${_('Legend_quotation')}</p>
            </blockquote>
            <p id="legend-author">${_('Legend_author')}</p>
        </div>
        <img class="img-desktop" src="/static/images/navoica_thick.png" alt="${_('Navoica avatar')}">
    </div>
    <p>${_('Legend_paragraph_1')}</p>
    <p>${_('Legend_paragraph_2')}</p>
    <p>${_('Legend_paragraph_3')}</p>
    <img class="img-mobile" src="/static/images/navoica_thick.png" alt="${_('Navoica avatar')}">
</section>

