<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>

<%inherit file="../main.html" />

<%block name="pagetitle">${_("Privacy Policy")}</%block>
<div class="container">
<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>Polityka prywatności</h1>

<h3>Postanowienia ogólne</h3>

<p align="justify"><span lang="pl-PL">Ochrona osób fizycznych w związku z przetwarzaniem ich danych osobowych jest jednym z praw podstawowych każdej osoby. Minister Nauki i Szkolnictwa Wyższego przywiązuje szczególną wagę do poszanowania prywatności osób, których dane przetwarzają, bez względu na to czy zostały one pozyskane bezpośrednio od osoby, której dane dotyczą, jak i w przypadku, gdy zostały one pozyskane z innych źródeł. Niniejszy dokument polityki prywatności (dalej: Polityka) dostarcza osobom, których dane przetwarzane są w ramach platformy edukacyjnej Navoica informacji na temat sposobów ich pozyskiwania, przetwarzania oraz zabezpieczania.</span></p>

<p align="justify"><span lang="pl-PL">Dane osobowe oznaczają informacje o zidentyfikowanej lub możliwej do zidentyfikowania osobie fizycznej. Przetwarzaniem danych osobowych jest w zasadzie każda czynność na danych osobowych, niezależnie od tego, w jaki sposób jest dokonywana – elektronicznie czy tradycyjnie, m.in. jest to zbieranie, przechowywanie, utrwalanie, modyfikowanie, przeglądanie, wykorzystywanie, udostępnianie, ograniczanie, usuwanie lub niszczenie.</span></p>

<p align="justify"><span lang="pl-PL">Na platformie Navoica przetwarzamy dane osobowe zgodnie z prawem, rzetelnie i świadomie, zachowując przejrzystość w obszarze wykorzystywania danych zgodnie z celem, dla którego zostały zebrane oraz z zapewnieniem kontroli nad poszczególnymi czynnościami ich przetwarzania poprzez zapewnienie Państwu kontroli odnośnie Waszych danych osobowych.</span></p>

<h3>Administrator danych</h3>

<p align="justify"><span lang="pl-PL">Administratorem danych (czyli podmiotem decydującym o celach i środkach przetwarzania danych) w platformie edukacyjnej Navoica jest Ministerstwo Nauki i Szkolnictwa Wyższego z siedzibą w Warszawie, ul. Wspólna 1/3.</span></p>

<h3>Inspektor danych osobowych</h3>

<p align="justify"><span lang="pl-PL">Kontakt z inspektorem ochrony danych Ministerstwa Nauki i Szkolnictwa Wyższego realizowany jest za pośrednictwem adresu <a href="mailto:email: iod@mnisw.gov.pl">email: iod@mnisw.gov.pl</a></span></p>

<h3>Odbiorcy danych</h3>

<p align="justify"><span lang="pl-PL">Administrator w drodze stosownych umów może przekazać Państwa dane lub powierzyć ich przetwarzanie odbiorcom świadczących na jego rzecz usługi: doradcze, prawne, audytowe, informatyczne a także w świadczącym wsparcie merytoryczne i techniczne Platformy Edukacyjnej. Ponadto dane mogą być udostępnianie organom administracji państwowej w związku z realizowanymi przez nie zadaniami wynikającymi z przepisów prawa. Dane mogą być udostępniane podmiotom reprezentującym środowisko naukowe lub zainteresowanym współpracą z MNiSW, w tym jednostkom naukowym, przedsiębiorcom, podmiotom zajmującym się promocją nauki, instytucjom publicznym.</span></p>

<h3>Zakres i cel przetwarzania danych osobowych</h3>

<p align="justify"><span lang="pl-PL">Dane osobowe na platformie Navoica przetwarzane są wyłącznie dla określonych i zgodnych z prawem celów, określonych szczegółowo w Regulaminie i Kodeksie Honorowym. Podstawowym celem przetwarzania jest umożliwienia każdemu użytkownikowi na świecie, który posiada dostęp do Internetu, wzięcia udziału w kursach przygotowanych przez najlepsze uczelnie i instytucje edukacyjne z Polski, dostarczając jednocześnie usługi dydaktyczne najwyższej jakości.</span></p>

<p align="justify"><span lang="pl-PL">Zakres danych osobowych obejmujący imię i nazwisko oraz adres e-mail jest niezbędny do zarejestrowania konta na platformie Navoica, natomiast podanie pozostałych danych takich jak kraj pochodzenia, poziom edukacji, rok urodzenia nie jest obligatoryjne i służy do celów statystycznych.</span></p>

<h3>Okres przetwarzania danych</h3>

<p align="justify"><span lang="pl-PL">Dane osobowe na platformie Navoica będą przetwarzane do czasu cofnięcia zgody na ich przetwarzanie, wyrejestrowania z Platformy Edukacyjnej lub do czasu koniecznego do realizacji celów, dla których je zgromadzono, z zastrzeżeniem, że w sytuacji gdy obowiązujące przepisy prawa wymagają ich dłuższego przechowywania dane przechowywane będą przez czas przewidziany w przepisach szczególnych.</span></p>

<h2>Prawa osób, których dane dotyczą</h2>

<p align="justify"><span lang="pl-PL">W każdym przypadku osoby, których dane przetwarzane są na platformie Navoica mają prawo do: dostępu do swoich danych, ich poprawiania, żądania uzupełnienia, uaktualnienia, sprostowania danych, cofnięcia zgody na przetwarzanie, czasowego lub stałego wstrzymania ich przetwarzania, wniesienia sprzeciwu wobec przetwarzania, ich usunięcia, jeżeli są one niekompletne, nieaktualne, nieprawdziwe albo zostały zebrane z naruszeniem prawa lub są już zbędne do realizacji celu, dla którego zostały zebrane. Macie Państwo także prawo wniesienia pisemnego żądania zaprzestania przetwarzania danych, o ile dane przetwarzane są w związku z wcześniej wyrażoną zgodą w celach innych niż ta którą wyraziliście.</span></p>

<h3>Zautomatyzowane podejmowanie decyzji, w tym profilowanie</h3>

<p align="justify"><span lang="pl-PL">Państwa dane osobowe będą przetwarzane w sposób zautomatyzowany (w tym w formie profilowania), jednakże nie będzie to wywoływać wobec Państwa żadnych skutków prawnych lub w podobny sposób istotnie wpływać na Państwa sytuację. Profilowanie danych osobowych przez administratora polega na przetwarzaniu danych (również w sposób zautomatyzowany), poprzez wykorzystywanie ich do oceny niektórych informacji o osobach znajdujących się w Platformie Edukacyjnej, w szczególności do rekomendacji oferowanych kursów.</span></p>

<h3>Ochrona danych</h3>

<p align="justify"><span lang="pl-PL">Ministerstwo Nauki i Szkolnictwa Wyższego stosuje środki techniczne i organizacyjne w celu zabezpieczenia przetwarzanych danych osobowych, odpowiednie do zagrożeń oraz kategorii przetwarzanych danych osobowych objętych ochroną, a w szczególności zabezpiecza dane przed ich udostępnieniem osobom nieupoważnionym, zabraniem przez osobę nieuprawnioną, przetwarzaniem z naruszeniem przepisów oraz zmianą, utratą, uszkodzeniem lub zniszczeniem, mając jednocześnie na celu zapewnienie ich integralności, poufności, rozliczalności i dostępności.</span></p>

<p align="justify"><span lang="pl-PL">Szczegóły dotyczące sposobów i rodzajów stosowanych zabezpieczeń zostały opisane w wewnętrznych politykach, instrukcjach i procedurach administratora.</span></p>

<h3>Polityka cookies</h3>

<p align="justify"><span lang="pl-PL">W związku z udostępnianiem zawartości serwisu internetowego platformy Navoica stosuje się tzw. Pliki cookies, tj. informacje zapisywane przez serwery na urządzeniu końcowym użytkownika, które serwery mogą odczytać przy każdorazowym połączeniu się z tego urządzenia końcowego, może także używać innych technologii o funkcjach podobnych lub tożsamych z cookies. W niniejszym dokumencie, informacje dotyczące cookies mają zastosowanie również do innych podobnych technologii stosowanych w ramach naszych serwisów internetowych. Pliki cookies (tzw. "ciasteczka") stanowią dane informatyczne, w szczególności pliki tekstowe, które przechowywane są w urządzeniu końcowym użytkownika serwisu internetowego navoica.pl. Cookies zazwyczaj zawierają nazwę domeny serwisu internetowego, z którego pochodzą, czas przechowywania ich na urządzeniu końcowym oraz unikalny numer.</span></p>
    </section>
</main>
</div>