<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>

<%inherit file="../main.html" />

<%block name="pagetitle">${_("Privacy Policy")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>
            <%block name="pageheader">${page_header or _("Privacy Policy")}</%block>
        </h1>
        <p>
            <%block name="pagecontent"><h3>Polityka prywatności serwisu Polskimooc.pl</h3>
 
<article>
    <p>
        Ośrodek Przetwarzania Informacji – Państwowy Instytut Badawczy przykłada dużą wagę do ochrony Twoich danych. Przetwarzania danych osobowych dokonujemy zgodnie z zasadami określonymi w przepisach prawa polskiego, w tym z regulacjami Rozporządzenia Ogólnego o Ochronie Danych Osobowych (RODO). Natomiast pełen tekst polityki prywatności znajdziesz poniżej.
    </p>
    <ol>
        <li>
            Celem niniejszej Polityki Prywatności jest wyjaśnienie zasad, na jakich przetwarzane są udostępnione nam dane osobowe oraz omówienie Twoich podstawowych praw związanych z przetwarzaniem przez nas danych osobowych.
        </li>
        <li>
            Administratorem danych osobowych jest Ośrodek Przetwarzania Informacji – Państwowy Instytut Badawczy z siedzibą w Waraszawie (00-608), Niepodległości 188 b, NIP: PL5250009140, REGON: 006746090.
        </li>
        <li>
            Nie powołaliśmy Inspektora Ochrony Danych ale we wszystkich sprawach dotyczących przetwarzania danych możesz się z nami skontaktować pod adresem e-mail: rodo@polskimooc.pl.
        </li>
        <strong class="inList">Ogólne zasady przetwarzania danych osobowych</strong>
        <li>
            Zasady regulujące przetwarzanie danych osobowych stanowią ramy, które gwarantują, że dane osobowe używane będą we właściwy sposób. Polskimooc.pl zobowiązuje się dbać o to, by dane osobowe były:
            <ol style="list-style: lower-alpha">
                <li>przetwarzane rzetelnie, zgodnie z prawem i w sposób przejrzysty;</li>
                <li>prawidłowe, stosowne oraz nienadmierne ilościowo;</li>
                <li>dokładne i aktualne  – niedokładne lub niekompletne dane osobowe będą poprawiane lub usuwane bądź ich dalsze przetwarzanie zostanie wstrzymane;</li>
                <li>przechowywane przez czas nie dłuższy niż to konieczne;</li>
                <li>przetwarzane jedynie w określonym, jednoznacznym i zgodnym z prawem celu oraz zgodnie z celem, w jakim są gromadzone;</li>
                <li>bezpieczne.</li>
            </ol>
        </li>
        <strong class="inList">Rodzaje danych osobowych</strong>
        <li>
            Będziemy na wiele sposobów zbierać i przetwarzać dane osobowe przekazywane nam za pośrednictwem różnych kanałów komunikacji, włączając w to naszą stronę internetową. Niektóre dane osobowe są nam niezbędne w celu sprzedaży naszych towarów lub zamówienia usług, natomiast podanie innych danych jest dobrowolne. Zawsze informujemy, które dane osobowe są wymagane (np. poprzez zaznaczenie ich jako pola wymagane) oraz jakie konsekwencje będą wiązać się z niedostarczeniem nam tych danych – taka sytuacja może przykładowo skutkować brakiem możliwości (pełnego) spełnienia Twoich żądań lub niemożnością świadczenia konkretnych usług. Dane osobowe, które gromadzimy i przetwarzamy, można ogólnie podzielić na następujące kategorie:
            <ol style="list-style: lower-alpha">
                <li>
                    dane kontaktowe, takie jak imię i nazwisko, adres, numer telefonu, adres e-mail, PESEL, itp.;
                </li>
                <li>
                    informacje o użytkowniku naszej strony, na przykład dane techniczne dotyczące użytkowania i przeglądania, w tym adresy IP, z których Internauci odwiedzają nasze strony internetowe lub aplikacje, z uwzględnieniem stron podmiotów zewnętrznych.
                </li>
            </ol>
        </li>
        <strong class="inList">Cele przetwarzania danych osobowych</strong>
        <li>
            Przetwarzamy dane osobowe w celach zgodnych z prawem i zasadniczo robimy to tylko, jeśli:
            <ol style="list-style: lower-alpha">
                <li>osoba wyraziła zgodę na przetwarzanie danych;</li>
                <li>przetwarzanie danych jest konieczne do realizacji Usługi;</li>
                <li>przetwarzanie danych jest niezbędne do wykonania ciążącego na nas obowiązku prawnego;</li>
                <li>przetwarzanie danych jest konieczne dla potrzeb wynikających z naszych uzasadnionych interesów lub uzasadnionych interesów podmiotów zewnętrznych oraz nie jest uważane za szkodliwe dla osoby, której dane przetwarzamy, włączając w to nasze interesy w kontekście rozwijania, oceniania, oferowania i sprzedaży naszych Usług, nawiązywania, rozwijania i utrzymywania relacji biznesowych z naszymi klientami, dostawcami i innymi kontaktami biznesowymi.</li>
            </ol>
            Przetwarzamy dane osobowe, aby:
            <ol style="list-style: lower-alpha">
                <li>ułatwić korzystanie z naszej strony internetowej, Usług oraz kontaktować się z Klientami w ramach standardowej obsługi;</li>
                <li>zapewniać szeroko rozumianą obsługę Klienta i wsparcie techniczne;</li>
                <li>personalizować zawartość strony.</li>
            </ol>
        </li>
        <strong class="inList">Ujawnianie, przekazywanie i udostępnianie danych osobowych podmiotom zewnętrznym</strong>
        <li>
            Ujawnianie i przekazywanie przez nas danych osobowych podmiotom zewnętrznym jest ograniczone do minimum i uzależnione od istnienia odpowiedniego poziomu ochrony danych. Zastrzegamy sobie prawo do ujawniania lub udostępniania danych osobowych podmiotom zewnętrznym w następujących okolicznościach:
            <ol style="list-style: lower-alpha">
                <li>gdy podmioty zewnętrzne świadczą w naszym imieniu Usługi, na przykład wsparcie informatyczne oraz usługi hostingowe, administracyjne itp. Tego rodzaju podmioty zewnętrzne mogą przetwarzać ujawnione, przekazane lub udostępnione im dane osobowe wyłącznie na zasadach określonych przez nas i na podstawie umowy o przetwarzaniu danych;</li>
                <li>doradcy prawni - w celu ustanowienia, wykonania lub obrony naszych praw;</li>
                <li>w sytuacji, gdy Klient wyrazi uprzednią zgodę na ujawnianie swoich danych osobowych podmiotom zewnętrznym.</li>
                Jeśli odbiorca danych osobowych znajduje się w kraju nienależącym do UE/EOG, który nie zapewnia odpowiedniego poziomu ochrony danych, dane osobowe użytkowników zostaną przesłane takiemu odbiorcy dopiero po zawarciu z nim pisemnego porozumienia o przekazaniu danych w oparciu o standardowe klauzule umowne przyjęte przez Komisję Europejską.
            </ol>
        </li>
        <strong class="inList">Zgoda użytkownika</strong>
        <li>
            Niektóre nasze działania związane z przetwarzaniem informacji będą prowadzone w oparciu Twoją zgodę. W takim wypadku masz prawo do wycofania swojej zgody w dowolnym czasie. Jeżeli wycofasz zgodę, zaprzestaniemy przetwarzania Twoich danych osobowych, chyba że  ich dalsze przetwarzanie lub przechowywanie jest dozwolone lub wymagane przez obowiązujące przepisy polskiego prawa. Należy zwrócić uwagę, że wycofanie zgody nie będzie miało wpływu na zgodność z prawem procesu przetwarzania danych przed jej wycofaniem. Co więcej, wycofanie zgody może w konsekwencji uniemożliwić nam realizację Twoich oczekiwań lub świadczenie Usług.
        </li>
    </ol>
</article></%block>
        </p>
    </section>
</main>
