<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>

<%inherit file="../main.html" />

<%block name="pagetitle">${_("Privacy Policy")}</%block>


<div id="skip-main">
    <div class="privacy">
        <header id="page-header">
            <div class="jumbotron">
                <div class="container">
                    <h1 class="display-2 text-darkblack text-24">${_("Polityka prywatności Platformy Edukacyjnej NAVOICA")}</h1>
                </div>
            </div>
        </header>

        <section class="container about">

            <h3>Postanowienia ogólne</h3>

            <p class="text-justify"><span lang="pl-PL">Ochrona osób fizycznych w związku z przetwarzaniem ich danych osobowych jest jednym z praw podstawowych każdej osoby.
                Ośrodek Przetwarzania Informacji – Państwowy Instytut Badawczy  przywiązuje szczególną wagę do poszanowania prywatności osób, których dane przetwarza, bez względu na to,
                czy zostały one pozyskane bezpośrednio od osoby, której dane dotyczą, jak i w przypadku, gdy zostały one pozyskane z innych źródeł. Niniejszy dokument polityki prywatności
                (dalej: Polityka) dostarcza osobom, których dane przetwarzane są w związku z korzystaniem z Platformy Edukacyjnej NAVOICA informacji na temat sposobów ich pozyskiwania,
                przetwarzania oraz zabezpieczania. Polityka zawiera podstawowe informacje na temat przetwarzania i ochrony danych. W przypadku stosowania innych zasad niż określone w Polityce,
                będą Państwo informowani o nich odrębnie.</span></p>

            <h3>Administrator danych</h3>

            <p class="text-justify"><span lang="pl-PL">Administratorem danych osobowych przetwarzanych w związku z usługą konta użytkownika na Platformie Edukacyjnej NAVOICA lub w związku
                z obsługą kierowanej korespondencji jest Ośrodek Przetwarzania Informacji – Państwowy Instytut Badawczy (dalej OPI PIB) z siedzibą w Warszawie przy al. Niepodległości 188b,
                wpisany do rejestru przedsiębiorców prowadzonego przez Sąd Rejonowy dla m. st. Warszawy – Sąd Gospodarczy XII Wydział Gospodarczy Krajowego Rejestru Sądowego pod numerem: 0000127372,
                NIP: 525-000-91-40, REGON: 006746090. </span></p>

            <p class="text-justify"><span lang="pl-PL">Kontakt z administratorem danych realizowany jest za pośrednictwem adresu e-mail:  <a href="mailto:opi@opi.org.pl">opi@opi.org.pl</a>,
                telefonicznie: 22 570 14 00 lub korespondencyjnie na adres Ośrodka Przetwarzania Informacji – Państwowego Instytutu Badawczego, al. Niepodległości 188b, 00-608 Warszawa.</span></p>

            <p class="text-justify"><span lang="pl-PL">Administratorami danych osobowych dotyczących uczestników przetwarzanych w ramach uczestnictwa w Kursach umieszczonych na platformie
                są podmioty, które zamieściły i prowadzą te kursy, np. poszczególne uczelnie, instytuty badawcze, podmioty zamieszczające kursy (tzw. jednostki edukacyjne w rozumieniu
                warunków korzystania z platformy NAVOICA). OPI PIB w stosunku do tych danych posiada status podmiotu przetwarzającego.   </span></p>


            <h3>Inspektor ochrony danych</h3>

            <p class="text-justify"><span lang="pl-PL">Administrator wyznaczył Inspektora ochrony danych. Kontakt z inspektorem realizowany jest za pośrednictwem adresu e-mail:
                <a href="mailto:iod@mnisw.gov.pl">iod@opi.org.pl</a> lub korespondencyjnie na adres Ośrodka Przetwarzania Informacji – Państwowego Instytutu Badawczego,
                al. Niepodległości 188b, 00-608 Warszawa, z dopiskiem „IOD”. </span></p>

            <h3>Przepisy prawa, podstawy przetwarzania danych</h3>

            <p class="text-justify"><span lang="pl-PL">Polityka prywatności Platformy Edukacyjnej NAVOICA OPI PIB opiera się na przepisach:</span></p>

            <ol>
                <li>rozporządzenia Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 r. w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE (ogólne rozporządzenie o ochronie danych) (Dz.Urz.UE.L Nr 119, str. 1) – dalej „RODO”,</li>
                <li>ustawy z dnia 10 maja 2018 r. o ochronie danych osobowych (Dz.U. z 2019 r., poz. 1781),</li>
                <li>ustawy z dnia 16 lipca 2004 r. – Prawo telekomunikacyjne (Dz.U. z 2019 r., poz. 2460 ze zm.),</li>
                <li>ustawy z dnia 18 lipca 2002 r. o świadczeniu usług drogą elektroniczną (Dz.U. z 2020 r., poz. 344 ze zm.),</li>
                <li>ustawy z dnia 20 lipca 2018 r. – Prawo o szkolnictwie wyższym i nauce (Dz.U. z 2020, poz. 85 z późn. zm.),</li><li>ustawy z dnia 30 kwietnia 2010 r. o instytutach badawczych (Dz.U. z 2018r., poz. 736).   </li>
            </ol>

            <p class="text-justify"><span lang="pl-PL">Podstawą przetwarzania danych osobowych w związku z korzystaniem z Platformy Edukacyjnej NAVOICA  jest art. 6 ust. 1 lit. b RODO – dane są niezbędne do zawarcia i wykonania umowy związanej z korzystaniem z usług Platformy Edukacyjnej NAVOICA (realizacja usługi zgodnie z Warunkami korzystania z platformy NAVOICA). Dane osobowe Użytkowników reprezentujących Jednostkę edukacyjną przetwarzane są w oparciu o przesłankę wskazaną w art. 6 ust. 1 lit. f) RODO, jako prawnie uzasadniony interes administratora przejawiający się w realizacji postanowień umowy.</span></p>


            <h3>Kategorie, zakres i cel przetwarzania danych</h3>

            <p class="text-justify"><span lang="pl-PL">Dane osobowe na Platformie Edukacyjnej NAVOICA przetwarzane są wyłącznie dla określonych i zgodnych z prawem celów,
                określonych szczegółowo w „Warunkach korzystania z Platformy NAVOICA” oraz „Kodeksie Honorowym”. Podstawowym celem przetwarzania jest umożliwienia każdemu
                użytkownikowi na świecie, który posiada dostęp do Internetu, wzięcia udziału w kursach przygotowanych przez najlepsze uczelnie i instytucje edukacyjne z Polski,
                dostarczając jednocześnie usługi dydaktyczne najwyższej jakości. Zakres danych osobowych obejmujący imię i nazwisko oraz adres e-mail jest niezbędny do zarejestrowania
                konta na Platformie Edukacyjnej NAVOICA, dalszej realizacji usług oferowanych przez Platformę, ewentualnego ustalenia, dochodzenia lub obrony roszczeń, wyjaśniania
                okoliczności niedozwolonego korzystania z usług świadczonych drogą elektroniczną, tworzenia kopii i przechowywania danych. Natomiast podanie pozostałych danych takich
                jak kraj pochodzenia, poziom edukacji, płeć oraz rok urodzenia nie jest obligatoryjne i służy jedynie do celów statystycznych. Dane zbierane są również automatycznie
                w zakresie danych zawartych w logach systemowych oraz plikach cookies.</span></p>

            <h3>Odbiorcy danych</h3>

            <p class="text-justify"><span lang="pl-PL">Administrator w drodze stosownych umów może przekazać Państwa dane lub powierzyć ich przetwarzanie odbiorcom świadczących
                na jego rzecz usługi: doradcze, prawne, audytowe, informatyczne, a także w świadczącym wsparcie merytoryczne i techniczne Platformy Edukacyjnej NAVOICA. Ponadto
                dane mogą być udostępnianie organom administracji państwowej w związku z realizowanymi przez nie zadaniami wynikającymi z przepisów prawa. Dane mogą być udostępniane
                również jednostkom edukacyjnym w celu potwierdzenia udziału w kursie. </span></p>

            <h3>Okres przechowywania danych</h3>

            <p class="text-justify"><span lang="pl-PL">Dane przetwarzane w związku z korzystaniem z usługi konta na Platformy edukacyjnej NAVOICA będą przechowywane przez okres
                świadczenia tej usługi, nie dłużej niż do upływu okresu przedawnienia roszczeń z tego tytułu. Natomiast w przypadku przesłanej korespondencji za pośrednictwem drogi
                mailowej lub formularza kontaktowego – odpowiednio do momentu wniesienia sprzeciwu, cofnięcia zgody lub ustania celu przetwarzania, jednak nie dłużej niż przez
                okres 3 lat. </span></p>

            <h3>Prawa osób, których dane dotyczą</h3>

            <p class="text-justify"><span lang="pl-PL">Osoba, której dane osobowe przetwarzane są na Platformie edukacyjnej NAVOICA, z zastrzeżeniem wyjątków przewidzianych
                przepisami prawa, ma prawo do:</span></p>

            <ol type="a">
                <li><strong>wycofania zgody</strong> na przetwarzanie danych osobowych w dowolnym momencie, tylko w przypadkach, jeśli zgoda jest podstawą prawną przetwarzania danych,</li>
                <li><strong>dostępu do danych</strong>, tj. osoba ma prawo do otrzymania od OPI PIB potwierdzenia, czy jej dane osobowe są przetwarzane przez OPI PIB, w jakim celu, w jaki
                    sposób i jak długo,</li>
                <li><strong>sprostowania</strong> nieaktualnych lub niedokładnych danych osobowych, a także prawo do ich uzupełnienia w przypadku, gdy są niekompletne,</li>
                <li><strong>sprzeciwu</strong> wobec przetwarzania danych osobowych, jeśli OPI PIB przetwarza dane osobowe w oparciu o uzasadniony interes (np. cele analityczne,
                    statystyczne, dowodowe, archiwizacyjne). Wówczas w razie sprzeciwu OPI PIB zaprzestanie przetwarzania danych, chyba że wykaże istnienie istotnych, prawnie uzasadnionych
                    podstaw do przetwarzania, które obiektywnie powinny mieć pierwszeństwo nad interesem osoby, której dane dotyczą lub są niezbędne do ustalenia, dochodzenia lub obrony
                    roszczeń (np. cele dowodowe bądź dochodzenie roszczeń),</li>
                <li><strong>usunięcia danych osobowych („prawo do bycia zapomnianym”)</strong>. Polega to, co do zasady, na żądaniu od administratora niezwłocznego usunięcia dotyczących
                    danych osobowych wnioskodawcy zgodnie z art. 17 RODO; istnieją jednak wyjątki od tego prawa (w szczególności do celów ustalenia, dochodzenia lub obrony roszczeń),</li>
                <li><strong>ograniczenia przetwarzania danych osobowych</strong>, co w wymiarze praktycznym może polegać na czasowym zablokowaniu dostępu do danych czy przeniesieniu danych
                    do innego systemu,</li>
                <li><strong>przenoszenia danych</strong>, tj. osoba ma prawo do otrzymania kopii danych osobowych, które nam dostarczyła, jeśli przetwarzanie odbywa się w oparciu o jej zgodę
                    lub na podstawie umowy oraz w sposób zautomatyzowany,</li>
            </ol>

            <p class="text-justify"><span lang="pl-PL">Wnioski dotyczące przetwarzanych danych osobowych, w tym dotyczące realizacji przysługujących praw, można przesyłać mailowo na adres:
                <a href="mailto:mooc_help@opi.org.pl">mooc_help@opi.org.pl</a> lub<a href="mailto:iod@mnisw.gov.pl"> iod@opi.org.pl</a>, lub pisemnie na adres: <strong>
                    Ośrodek Przetwarzania Informacji – Państwowy Instytut Badawczy, al. Niepodległości 188b, 00-608 Warszawa</strong>.</span></p>

            <p class="text-justify"><span lang="pl-PL">Odpowiedzi na wnioski będą realizowane bez zbędnej zwłoki, nie później jednak niż w ciągu 30 dni liczonych od momentu otrzymania wniosku.
                Termin ten może ulec przedłużeniu z uwagi na skomplikowany charakter żądania lub liczbę żądań o kolejne dwa miesiące, o czym wnioskodawca zostanie poinformowany. </span></p>

            <p class="text-justify"><span lang="pl-PL">Wnioski powinny zawierać imię i nazwisko osoby wnioskującej oraz dane kontaktowe (numer telefonu lub adres e-mail, w przypadku wniosków
                pisemnych także adres do korespondencji). Jeżeli wnioski dotyczą korzystania ze stron internetowych, prosimy o podanie adresu strony internetowej lub informacji o Usłudze świadczonej poprzez nasze strony oraz dodatkowych wyjaśnień zgłaszanego wniosku (w celu sprawniejszej obsługi wniosku). W celu realizacji niektórych wniosków OPI PIB może zażądać dodatkowych informacji, by potwierdzić tożsamość wnioskodawcy.</span></p>

            <p class="text-justify"><span lang="pl-PL">Każda z osób, której dane są przetwarzane w OPI PIB ma również prawo do <strong>złożenia skargi do organu nadzorczego</strong>,
                tj. Prezesa Urzędu Ochrony Danych Osobowych, z siedzibą w Warszawie przy ul. Stawki 2. </span></p>

            <h3>Przekazywanie danych do państw trzecich i organizacji międzynarodowych</h3>

            <p class="text-justify"><span lang="pl-PL">Nie przekazujemy danych osobowych przetwarzanych na Platformie Edukacyjnej NAVOICA do państw trzecich ani do organizacji międzynarodowych.</span></p>

            <h3>Przetwarzanie danych osobowych automatycznie (w tym poprzez profilowanie) </h3>

            <p class="text-justify"><span lang="pl-PL">Dane osobowe przetwarzane na Platformie Edukacyjnej NAVOICA nie będą podlegały zautomatyzowanemu podejmowaniu decyzji, w tym w oparciu
                o profilowanie.  </span></p>

            <h3>Zmiany w Polityce prywatności</h3>

            <p class="text-justify"><span lang="pl-PL">OPI PIB zastrzega sobie prawo do wprowadzania zmian w niniejszej Polityce, co może wynikać z potrzeby dostosowania do zmian w przepisach
                prawa czy obowiązujących standardów prywatności. W związku z tym, o wszelkich zmianach OPI PIB będzie informował stosownym komunikatem na stronie internetowej Platformy
                Edukacyjnej NAVOICA.</span></p>

            <h3>Przetwarzanie danych z wykorzystaniem plików cookies oraz innych technologii internetowych</h3>

            <p class="text-justify"><span lang="pl-PL">W związku z korzystaniem przez osoby ze strony internetowej Platformy Edukacyjnej NAVOICA, gromadzimy dane zawarte w logach systemowych,
                plikach cookies lub możemy wykorzystywać inne podobne technologie internetowe. Więcej informacji na temat wykorzystywania plików cookies i innych technologii internetowych znajduje się na stronie w odrębnej polityce cookies dedykowanej Platformie Edukacyjnej NAVOICA, która znajduje się na stronie  <a href="/cookies">${_('Cookies policy')}</a>. </span></p>

    </section>
    </div>
</div>