<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Terms of Service")}</%block>
<div class="container">
<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">

<p><span id="docs-internal-guid-f82198e9-7fff-89a0-13d4-964b435911c6">
<div dir="ltr">WARUNKI KORZYSTANIA Z PLATFORMY NAVOICA</div>
<div dir="ltr">NAVOICA to platforma edukacyjna dostępna on-line, w ramach kt&oacute;rej podmioty spełniające kryteria merytoryczne i formalne określone w niniejszym dokumencie mogą zamieszczać kursy, a uprawnieni użytkownicy z nich korzystać nieodpłatnie. Kursy, zamieszczane i&nbsp;prowadzone są bezpłatnie przez uczelnie lub instytucje.</div>
<div dir="ltr">Zasady korzystania z platformy NAVOICA, jako narzędzia świadczącego usługi drogą elektroniczną określa niniejszy dokument, kt&oacute;rego postanowienia odnoszą się do zakresu świadczonych usług i&nbsp;funkcji świadczonych drogą elektroniczną, witryny internetowej, interfejsu użytkownik&oacute;w, prezentowanych treści, a także wykorzystywanego oprogramowania. Niniejsza regulacja nie odnosi się do sposobu korzystania z kurs&oacute;w lub treści kurs&oacute;w, ten obszar regulują odrębnie określane zasady przez podmioty zamieszczające kursy.&nbsp;&nbsp;</div>
<div dir="ltr">SŁOWNIK UŻYTYCH POJĘĆ</div>
<div dir="ltr">Adres email &ndash; identyfikator w systemie poczty elektronicznej umożliwiające porozumiewanie się za pomocą środk&oacute;w komunikacji elektronicznej;</div>
<div dir="ltr">Formularz rejestracyjny &ndash; formularz on&ndash;line wypełniany przez osobę fizyczną w celu założenia Konta uprawniającego do korzystania z usług świadczonych za pośrednictwem Platformy edukacyjnej NAVOICA przypisanych do Konta;</div>
<div dir="ltr">Hasło &ndash; ciąg znak&oacute;w umożliwiający Użytkownikowi na&nbsp; dostęp do Konta;</div>
<div dir="ltr">Informacja o usłudze &ndash; każda informacja przeznaczona bezpośrednio lub pośrednio do promowania Usługi/lub Platformy za pomocą środk&oacute;w komunikacji elektronicznej z&nbsp;Użytkownikiem;</div>
<div dir="ltr">Jednostka edukacyjna &ndash; podmiot zamieszczający i prowadzący Kurs na Platformie;</div>
<div dir="ltr">Konto &ndash; dostępny za pośrednictwem Platformy zbi&oacute;r zasob&oacute;w i ustawień utworzonych dla Użytkownika umożliwiający mu korzystanie po zalogowaniu z dostępnych aktualnie funkcjonalności oraz przypisanych Usług;</div>
<div dir="ltr">Kurs &ndash; kurs typu MOOC, spełniający warunki określone w Wytycznych, mający na celu podnoszenie&nbsp; kompetencji i kwalifikacje ich Uczestnik&oacute;w, zamieszczony i publikowany na Platformie przez Jednostkę edukacyjną po uzyskaniu dopuszczenia do publikacji przez Operatora merytorycznego;&nbsp;&nbsp;&nbsp;</div>
<div dir="ltr">Operator merytoryczny &ndash; Fundacja Młodej Nauki z siedzibą w Warszawie, ul. Uniwersytecka 5/12, wpisaną do rejestru stowarzyszeń, innych organizacji społecznych i zawodowych, fundacji oraz samodzielnych publicznych zakład&oacute;w opieki zdrowotnej oraz rejestru przedsiębiorc&oacute;w prowadzonego przez Sąd Rejonowy dla m.st. Warszawy w Warszawie, XIII Wydział Gospodarczy KRS pod nr 0000492014, posiadającą NIP 5213664198 oraz nr REGON 147051213</div>
<div dir="ltr">Operator techniczny &ndash; Ośrodek Przetwarzania Informacji &ndash; Państwowy Instytut Badawczy z siedzibą <br />
w Warszawie, al. Niepodległości 188b, wpisany do rejestru przedsiębiorc&oacute;w prowadzonego przez Sąd Rejonowy dla m.st. Warszawy, XII Wydział Gospodarczy Krajowego Rejestru Sądowego pod numerem 0000127372, NIP 525 &ndash; 000 &ndash; 91 &ndash; 40, REGON 006746090;</div>
<div dir="ltr">Platforma &ndash; internetowa platforma edukacyjna o nazwie NAVOICA za pośrednictwem kt&oacute;rej świadczone są Usługi oraz udostępniane Kursy, dostępna pod adresem URL <a href="https://navoica.pl">https://navoica.pl</a> ;</div>
<div dir="ltr">Regulamin &ndash; niniejszy dokument występujący pod nazwą Warunki korzystania z Platformy NAVOICA określający warunki korzystania z Platformy NAVOICA;</div>
<div dir="ltr">RODO - Rozporządzenia Parlamentu Europejskiego i Rady (UE) 2016/679 w sprawie ochrony os&oacute;b fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE</div>
<div dir="ltr">Usługi &ndash; usługi świadczone za pośrednictwem Platformy na rzecz Jednostek edukacyjnych oraz Uczestnik&oacute;w określone szczeg&oacute;łowo w rozdziale III pkt 2 i 3;</div>
<div dir="ltr">Uczestnik &ndash; użytkownik kt&oacute;ry korzysta z udostępnionego na Platformie Kursu na zasadach określonych w Regulaminie oraz warunkach określonych przez Jednostki edukacyjne dla poszczeg&oacute;lnych kurs&oacute;w;</div>
<div dir="ltr">Użytkownik &ndash; każda osoba fizyczna posiadająca Konto;</div>
<div dir="ltr">Wytyczne &ndash; dokument określający warunki merytoryczne, metodyczne i techniczne dla kurs&oacute;w zamieszczanych na Platformie;</div>
<ol>
    <li dir="ltr">
    <div dir="ltr" role="presentation">POSTANOWIENIA OG&Oacute;LNE</div>
    </li>
</ol>
<ol>
    <li dir="ltr">
    <div dir="ltr" role="presentation">Regulamin określa zasady korzystania przez Jednostki edukacyjne oraz Użytkownik&oacute;w z Usług dostępnych na platformie edukacyjnej NAVOICA, warunki ich świadczenia odpowiednio przez Operatora merytorycznego i Operatora technicznego oraz zakres odpowiedzialności poszczeg&oacute;lnych podmiot&oacute;w.</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">Regulamin udostępniany jest nieprzerwanie na Platformie pod nazwą &bdquo;Warunki korzystania z&nbsp;platformy NAVOICA&rdquo; w spos&oacute;b umożliwiający jego pozyskanie, odtwarzanie i utrwalanie jego treści, dowolnej osobie.</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">Operator merytoryczny lub Operator techniczny zastrzegają sobie prawo do zmiany treści Regulaminu w zakresie dostarczanych przez siebie usług lub warunk&oacute;w ich świadczenia.</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">Operatorzy zastrzegają sobie prawo do określania szczeg&oacute;łowych warunk&oacute;w korzystania ze świadczonych przez siebie Usług, określonych w rozdziale III pkt 2 i 3 w odrębnych regulaminach lub załącznikach.</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">Przed rozpoczęciem korzystania z Usług Platformy NAVOICA każdy jej użytkownik zobowiązany jest do zapoznania się z Regulaminem. Korzystanie z Usług możliwe jest jedynie w przypadku akceptacji Regulaminu. W przypadku Jednostek edukacyjnych korzystanie z Usług możliwe jest po zawarciu dodatkowej umowy z Operatorem merytorycznym i Operatorem technicznym w formie pisemnej.</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">Korzystając w jakikolwiek spos&oacute;b z Platformy, odpowiednio Jednostka edukacyjna lub Uczestnik potwierdzają, że zapoznali się z treścią Regulaminu, akceptują jego postanowienia i zobowiązuje się do ich przestrzegania.</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">Wszelką odpowiedzialność za świadczenie Usług w stosunku do Jednostek edukacyjnych i&nbsp;Uczestnik&oacute;w ponosi Operator merytoryczny, z zastrzeżeniem, że w zakresie Usług określonych w&nbsp;rozdziale III pkt 3 odpowiedzialność ponosi Operator techniczny.</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">W przypadku usług dostarczanych za pośrednictwem Platformy przez stosowne połączenia do stron internetowych innych usługodawc&oacute;w warunki ich świadczenia określają właściwe im regulacje. W omawianym przypadku stroną umowy o świadczenie usług drogą elektroniczną jest właściwy im dostawca usług. Operatorzy nie ponoszą odpowiedzialności za usługi świadczone przez tych usługodawc&oacute;w. Postanowienia niniejszego punktu odnoszą się r&oacute;wnież do Kurs&oacute;w.</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">Regulamin stanowi jednocześnie w stosunku do użytkownik&oacute;w Platformy umowę pomiędzy Operatorem merytorycznym a użytkownikami Platformy (Uczestnik, Jednostka edukacyjna) zawieraną na warunkach określonych w Regulaminie, kt&oacute;rej przedmiotem jest świadczenie usług drogą elektroniczną, w rozumieniu ustawy z dnia 18 lipca 2002 r. o świadczeniu usług drogą elektroniczną (Dz. U. z 2019, poz. 123 z p&oacute;źn. zm.).</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">W sprawach nieuregulowanych Regulaminem mają zastosowanie obowiązujące w tym zakresie przepisy prawa polskiego, a wszelkie spory rozstrzygane będą przez sądy polskie właściwe dla siedziby Operatora merytorycznego.</div>
    </li>
</ol>
<div dir="ltr">&nbsp;</div>
<ol start="2">
    <li dir="ltr">
    <div dir="ltr" role="presentation">WARUNKI TECHNICZNE</div>
    </li>
</ol>
<ol>
    <li dir="ltr">
    <div dir="ltr" role="presentation">W ramach Platformy udostępnia się następujące narzędzia on-line:&nbsp;</div>
    </li>
</ol>
<ol>
    <li dir="ltr">
    <div dir="ltr" role="presentation"><a href="https://navoica.pl">https://navoica.pl</a> - służące do korzystania z Kurs&oacute;w</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation"><a href="https://studio.navoica.pl">https://studio.navoica.pl</a> - służące do tworzenia i zarządzania Kursami&nbsp;</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">dedykowane platformy testowe&nbsp;</div>
    </li>
</ol>
<ol start="2">
    <li dir="ltr">
    <div dir="ltr" role="presentation">Korzystanie z poszczeg&oacute;lnych narzędzi wymaga posiadania Konta użytkownika zakładanego w&nbsp;procesie rejestracji określonym w Regulaminie.</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">Warunki merytoryczne, metodyczne i techniczne dla Kurs&oacute;w określone są w Wytycznych.</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">Warunkiem technicznym korzystania z Platformy lub Usług jest posiadanie komputera lub urządzenia mobilnego typu laptop, tablet lub smartfon z dostępem do sieci Internet i&nbsp;z&nbsp;zainstalowaną przeglądarką internetową wskazaną w ust. 5 oraz Adresu e-mail działającego na dowolnym serwerze.</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">Korzystanie z Platformy lub Usług możliwe jest przy spełnieniu następujących wymagań technicznych:&nbsp;</div>
    </li>
</ol>
<ol>
    <li dir="ltr">
    <div dir="ltr" role="presentation">przeglądarki: Edge 43 lub wyższy, Google Chrome 70 lub wyższy, Mozilla Firefox 61 lub wyższy, Safari 12 lub wyższy, Opera 56 lub wyższy;</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">włączona obsługa cookies (ciasteczek) oraz Local Storage;</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">włączona obsługa JavaScript w przeglądarce.</div>
    </li>
</ol>
<ol start="6">
    <li dir="ltr">
    <div dir="ltr" role="presentation">Urządzenia mobilne za pomocą kt&oacute;rych dochodzi do korzystania z Platformy lub Usług muszą mieć zapewnione aktywne połączenie internetowe.</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">Korzystanie z Platformy lub Usług wiąże się ze standardowym ryzykiem związanym z korzystaniem z sieci Internet, wobec tego rekomenduje się Użytkownikom podjęcie odpowiednich krok&oacute;w celem ich zminimalizowania, w szczeg&oacute;lności stosowania odpowiednich zabezpieczeń urządzeń informatycznych, za pomocą kt&oacute;rych Użytkownicy korzystają z Platformy lub Usług, nieudostępniania loginu i&nbsp;hasła, korzystania z program&oacute;w antywirusowych oraz aktualnych przeglądarek internetowych.</div>
    </li>
</ol>
<ol start="3">
    <li dir="ltr">
    <div dir="ltr" role="presentation">ZAKRES USŁUG</div>
    </li>
</ol>
<ol>
    <li dir="ltr">
    <div dir="ltr" role="presentation">Usługi świadczone przez poszczeg&oacute;lnych Operator&oacute;w na rzecz Jednostek edukacyjnych i Uczestnik&oacute;w wykonywane są zgodnie z Regulaminem i w zakresie w nim określonym.</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">Usługi świadczone przez Operatora merytorycznego obejmują:</div>
    </li>
</ol>
<ol>
    <li dir="ltr">
    <div dir="ltr" role="presentation">obsługę procesu oceny spełnienia warunk&oacute;w dopuszczenia Kurs&oacute;w do publikacji na platformie NAVOICA,</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">zgromadzenie danych niezbędnych do skonfigurowania Kursu do zamieszczania na Platformie,</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">publikowanie oraz udzielanie informacji o aktualnie prowadzonych kursach,</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">udostępnianie Kurs&oacute;w w taki spos&oacute;b, aby Uczestnik spełniając warunki techniczne określone w Regulaminie miał do nich dostęp w miejscu i&nbsp;czasie przez siebie wybranym i m&oacute;gł się zarejestrować w celu korzystania z&nbsp;nich,</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">możliwość tworzenia i edycji Kurs&oacute;w,</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">obsługę zapytań, zgłaszanych uwag oraz niezgodności w zakresie metodycznym i merytorycznym,</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">ewaluacja wybranych kurs&oacute;w,</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">zatwierdzanie projektu zaświadczeń ukończenia Kursu;</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">administrowanie danymi Użytkownik&oacute;w,&nbsp;</div>
    </li>
</ol>
<ol start="3">
    <li dir="ltr">
    <div dir="ltr" role="presentation">Usługi świadczone przez Operatora technicznego obejmują:</div>
    </li>
</ol>
<ol>
    <li dir="ltr">
    <div dir="ltr" role="presentation">zapewnienie i utrzymanie środowiska teleinformatycznego dla funkcjonowania Platformy,</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">utrzymanie funkcjonowania Platformy (narzędzi) dla potrzeb świadczonych Usług,</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">utrzymanie Platformy w konfiguracji umożliwiającej zamieszczenie Kursu,</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">wsparcie techniczne narzędzi dostępnych na Platformie, o kt&oacute;rych mowa w rozdziale II pkt 1,</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">obsługa zapytań, skarg i zastrzeżeń technicznych,</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">zarządzanie procesem rejestracji i kontami Użytkownik&oacute;w,</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">utrzymanie baz danych w konfiguracjach pozyskanych przez Operatora merytorycznego,</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">utrzymanie&nbsp; Kurs&oacute;w w konfiguracjach umieszczonych na Platformie,</div>
    </li>
</ol>
<br />
<ol start="4">
    <li dir="ltr">
    <div dir="ltr" role="presentation">REJESTRACJA UŻYTKOWNIKA&nbsp;</div>
    </li>
</ol>
<ol>
    <li dir="ltr">
    <div dir="ltr" role="presentation">Każdy podmiot chcąc korzystać z Usług powinien posiadać aktywne Konto. Założenie Konta dokonuje się w procesie rejestracji poprzez wypełnienie Formularza rejestracyjnego, podanie danych obowiązkowych oraz zapoznanie się i zaakceptowanie Regulaminu oraz Kodeksu Honorowego. Jednostki edukacyjne mogą przewidzieć dodatkowe formy rejestracji i udostępniania poszczeg&oacute;lnych Kurs&oacute;w, kt&oacute;rych są autorami, <br />
    w szczeg&oacute;lności żądać dodatkowych danych, o czym będą informować w ramach procesu rejestracji do Kursu.&nbsp;</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">Proces rejestracji do Platformy NAVOICA polega na wypełnieniu i przesłaniu formularza dostępnego pod adresem: <a href="https://navoica.pl/register">https://navoica.pl/register</a></div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">Osoba wypełniająca formularz, przez fakt wysłania Formularza rejestracyjnego oświadcza, że:</div>
    </li>
</ol>
<ol>
    <li dir="ltr">
    <div dir="ltr" role="presentation">podane w nim dane są kompletne i zgodne ze stanem faktycznym,</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">posiada pełną zdolność do czynności prawnych,</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">w przypadku, gdy działa w imieniu Jednostki edukacyjnej jest uprawniona do jej reprezentowania, składania oświadczeń woli w jej imieniu i wykonywania czynności niezbędnych w zakresie korzystania <br />
    z Usługi za pośrednictwem Platformy NAVOICA,</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">podane dane nie naruszają jakichkolwiek praw os&oacute;b trzecich,</div>
    </li>
</ol>
<ol start="4">
    <li dir="ltr">
    <div dir="ltr" role="presentation">Operator techniczny po otrzymaniu prawidłowo wypełnionego Formularza rejestracyjnego <br />
    i akceptacji Regulaminu, utworzy dla Użytkownika unikalne Konto o identyfikatorze będącym podanym przez niego adresem e&nbsp;-&nbsp;mail poczty elektronicznej i wybranej nazwie.</div>
    </li>
</ol>
<ol start="4">
    <li dir="ltr">
    <div dir="ltr" role="presentation">Adres email jest powiązany z Kontem i stanowi konieczną formę identyfikacji wobec Użytkownika i będzie wykorzystywany do wszelkiej korespondencji związanej ze świadczeniem Usług, na co Użytkownik wyraża zgodę.</div>
    </li>
</ol>
<ol start="5">
    <li dir="ltr">
    <div dir="ltr" role="presentation">Operator techniczny może odm&oacute;wić utworzenia Konta o określonej nazwie, jeżeli jest ona już używana przez innych Użytkownik&oacute;w lub jeżeli poweźmie uzasadnioną, wiarygodną informację, że jest ona sprzeczna z prawem, dobrymi obyczajami, narusza dobra osobiste lub uzasadnione interesy jakichkolwiek os&oacute;b trzecich.</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">Użytkownik uzyskuje dostęp do Konta za pomocą swojego Adresu email oraz Hasła. Jednocześnie zobowiązany jest nie ujawniać jakiejkolwiek osobie nieuprawnionej w jego imieniu Hasła i ponosi wyłączną odpowiedzialność za szkody wyrządzone na skutek jego ujawnienia.</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">Użytkownik może mieć tylko jedno Konto.</div>
    </li>
</ol>
<br />
<ol start="5">
    <li dir="ltr">
    <div dir="ltr" role="presentation">ZAWARCIE i ROZWIĄZANIE UMOWY&nbsp;</div>
    </li>
</ol>
<div dir="ltr">&nbsp;</div>
<ol start="8">
    <ol>
        <li dir="ltr">
        <div dir="ltr" role="presentation">Umowa na korzystanie z usług Platformy NAVOICA zostaje zawarta z chwilą akceptacji Regulaminu. W przypadku Jednostek edukacyjnych wymagane jest zawarcie dodatkowej umowy określającej warunki świadczenia usługi przez Operatora technicznego, określonych i przypisanych mu w Regulaminie. Umowa o kt&oacute;rej mowa w zdaniu poprzednim wymaga dla swojej ważności formy pisemnej.</div>
        </li>
        <li dir="ltr">
        <div dir="ltr" role="presentation">Stroną Umowy na korzystanie z Usług Platformy NAVOICA jest Operator merytoryczny.</div>
        </li>
        <li dir="ltr">
        <div dir="ltr" role="presentation">Użytkownik zawierając Umowę oświadcza, że zapoznał się z Regulaminem i&nbsp;akceptuje w całości jego postanowienia.</div>
        </li>
        <li dir="ltr">
        <div dir="ltr" role="presentation">Umowa z Użytkownikiem zostaje zawarta na czas nieokreślony.</div>
        </li>
        <li dir="ltr">
        <div dir="ltr" role="presentation">Użytkownik może rozwiązać Umowę w każdym czasie poprzez zgłoszenie odpowiedniego oświadczenia na adres e-mail <a href="mailto:mooc_help@opi.org.pl">mooc_help@opi.org.pl</a> lub listownie na adres Operatora technicznego. Skutkiem rozwiązania umowy jest usunięcie Konta i&nbsp;brak możliwości korzystania z&nbsp;Usług.</div>
        </li>
        <li dir="ltr">
        <div dir="ltr" role="presentation">Operator merytoryczny lub działający w jego imieniu Operator techniczny ma prawo: rozwiązać Umowę lub zablokować Konto Użytkownika w następujących przypadkach:</div>
        <ol>
            <li dir="ltr">
            <div dir="ltr" role="presentation">zmiany obowiązujących przepis&oacute;w prawa lub prowadzonej działalności statutowej,</div>
            </li>
            <li dir="ltr">
            <div dir="ltr" role="presentation">powzięcia uzasadnionych informacji, że Użytkownik korzysta z Usług w spos&oacute;b sprzeczny z&nbsp;prawem, dobrymi obyczajami, narusza dobra osobiste os&oacute;b trzecich lub uzasadnione interesy Operatora merytorycznego lub Operatora technicznego,</div>
            </li>
            <li dir="ltr">
            <div dir="ltr" role="presentation">umieszczania przez Jednostkę edukacyjną treści niezgodnych z Regulaminem,</div>
            </li>
            <li dir="ltr">
            <div dir="ltr" role="presentation">uznania wniesionego sprzeciwu z przyczyn związanych ze szczeg&oacute;lną sytuacją Użytkownika, zgodnie z art. 21 RODO,</div>
            </li>
            <li dir="ltr">
            <div dir="ltr" role="presentation">braku akceptacji zmian w Regulaminie.</div>
            </li>
        </ol>
        </li>
        <li dir="ltr">
        <div dir="ltr" role="presentation">O rozwiązaniu umowy Operator merytoryczny lub działający w jego imieniu Operator techniczny poinformuje Użytkownika najp&oacute;źniej w terminie 72 godzin od zaistnienia okoliczności uzasadniających rozwiązanie Umowy, przesyłając stosowane oświadczenie na adres e&nbsp;-&nbsp;mail Użytkownika podany w procesie rejestracji Konta. Rozwiązanie Umowy następuje w terminie 14 dni od przesłania oświadczenia.</div>
        </li>
    </ol>
</ol>
<ol start="6">
    <li dir="ltr">
    <div dir="ltr" role="presentation">ZASADY KORZYSTANIA Z USŁUG</div>
    </li>
</ol>
<ol>
    <li dir="ltr">
    <div dir="ltr" role="presentation">Korzystanie z Usług jest dobrowolne.</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">W celu sprawnej realizacji Usługi Użytkownik akceptuje konieczność posiadania aktualnego, czynnego Adresu e-mail. Adres ten jest podawany bezpośrednio w&nbsp;Formularzu rejestracyjnym i może być modyfikowany.</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">Użytkownik ponosi całkowitą odpowiedzialność za nieprawdziwość złożonych oświadczeń i&nbsp;zapewnień oraz za niedopełnienie zobowiązań wynikających z&nbsp;Regulaminu.</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">Korzystając z narzędzi umożliwiających przekazywanie informacji dostępnych za pośrednictwem Platformy NAVOICA należy wprowadzać dane w polach do tego przeznaczonych. Pola mogą zawierać tylko te dane, do kt&oacute;rych zostały przeznaczone.</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">Zabrania się udostępniania Konta innym osobom lub podmiotom.</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">Niedopuszczalne są działania mogące utrudniać lub destabilizować działanie Platformy lub Usług.</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">Użytkownik jest zobowiązany, w szczeg&oacute;lności do:</div>
    </li>
</ol>
<ol start="8">
    <ol>
        <li dir="ltr">
        <div dir="ltr" role="presentation">powstrzymywania się od jakichkolwiek działań mogących utrudnić lub zakł&oacute;cić funkcjonowanie Platformy NAVOICA oraz od korzystania z Usług w&nbsp;spos&oacute;b uciążliwy dla innych Użytkownik&oacute;w,</div>
        </li>
        <li dir="ltr">
        <div dir="ltr" role="presentation">nienaruszania autorskich praw majątkowych oraz praw wynikających z&nbsp;rejestracji wynalazk&oacute;w, patent&oacute;w, znak&oacute;w towarowych, wzor&oacute;w użytkowych i przemysłowych innych os&oacute;b,</div>
        </li>
        <li dir="ltr">
        <div dir="ltr" role="presentation">powstrzymywania się od jakichkolwiek działań naruszających prywatność, w&nbsp;szczeg&oacute;lności zbierania, przetwarzania i rozpowszechniania informacji o&nbsp;Usługobiorcach nie będących Jednostkami naukowymi bez ich wyraźnej zgody, chyba że jest to dozwolone przez przepisy prawa i Regulamin,</div>
        </li>
        <li dir="ltr">
        <div dir="ltr" role="presentation">niewykorzystywania Usług do cel&oacute;w komercyjnych.</div>
        </li>
    </ol>
    <li dir="ltr">
    <div dir="ltr" role="presentation">Operator merytoryczny ma prawo do opublikowania nazwy, logo Użytkownika będącego Jednostką edukacyjną oraz adresu jego strony internetowej na Platformie lub w dowolnych materiałach promujących Platformę oraz Usługi, o ile nie naruszają dobrych obyczaj&oacute;w, powszechnie stosowanych standard&oacute;w branżowych, d&oacute;br osobistych i dobrego imienia Jednostek edukacyjnych.</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">Jednostka edukacyjna zobowiązana jest zapewnić, aby Kursy prezentowane na Platformie były zgodne z Wytycznymi, w tym zgodne z przepisami prawa, kompletne, dokładne i nie wprowadzające Uczestnik&oacute;w w błąd. Jednostka edukacyjna ponosi wszelką odpowiedzialność za treść Kursu oraz wszelkie błędy i nieścisłości.</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">Zakazana jest publikacja Kurs&oacute;w zawierających informacje naruszające przepisy prawa, w tym autorskie prawa majątkowe i osobiste, dobre obyczaje, bądź informacje stanowiące czyn nieuczciwej konkurencji. Kurs nie może w szczeg&oacute;lności:</div>
    </li>
</ol>
<ol>
    <li dir="ltr">
    <div dir="ltr" role="presentation">naruszać godności ludzkiej,</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">naruszać dobrego imienia jakichkolwiek os&oacute;b lub podmiot&oacute;w,</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">naruszać obowiązujących przepis&oacute;w prawa,</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">zawierać treści obraźliwych, pornograficznych lub dyskryminujących,</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">naruszać prawnie chronionych interes&oacute;w Operator&oacute;w, w szczeg&oacute;lności ich d&oacute;br osobistych,</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">wprowadzać Uczestnika w błąd.</div>
    </li>
</ol>
<ol start="11">
    <li dir="ltr">
    <div dir="ltr" role="presentation">W przypadku uzyskania informacji, że Kurs narusza postanowienia pkt 10 lub 11 Operator merytoryczny lub Operator techniczny ma prawo natychmiast zawiesić świadczenie Usługi w stosunku do Jednostki edukacyjnej, co nie wyłącza dalszych uprawnień przewidzianych w Regulaminie.</div>
    </li>
</ol>
<br />
<ol start="7">
    <li dir="ltr">
    <div dir="ltr" role="presentation">PRAWA I OBOWIĄZKI OPERATORA MERYTORYCZNEGO / OPERATORA TECHNICZNEGO</div>
    </li>
</ol>
<ol>
    <li dir="ltr">
    <div dir="ltr" role="presentation">Operator merytoryczny zastrzega sobie prawo dowolnej modyfikacji Usług oraz sposobu działania Platformy NAVOICA, w tym zaprzestania działalności, przeniesienia praw oraz podjęcia dozwolonych przez prawo czynności związanych z Platformą NAVOICA. Uprawnienie wskazane w&nbsp;zdaniu poprzednim przysługuje r&oacute;wnież Operatorowi technicznemu, jeżeli modyfikacja Usług, spos&oacute;b działania Platformy lub konieczność zaprzestania jej funkcjonowania wynika ze zmian technologii informatycznych użytych do utrzymania i rozwoju Platformy lub spowodowane jest to koniecznością zapewnienia bezpieczeństwa przetwarzanych na Platformie informacji. Użytkownikowi nie przysługują z tego tytułu żadne roszczenia względem Operatora merytorycznego oraz Operatora technicznego.</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">Operator techniczny zastrzega sobie prawo do zmodyfikowania i/lub usunięcia Konta Użytkownika, kt&oacute;rego działania zostaną uznane za szkodliwe dla Platformy NAVOICA lub niezgodne z Regulaminem.</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">Operator merytoryczny zastrzega sobie prawo zamieszczania Kurs&oacute;w o dowolnej tematyce naukowej oraz zakresie zdobywanych umiejętności i kompetencji, a także r&oacute;żnym stopniu trudności. Operator merytoryczny ma r&oacute;wnież prawo w uzasadnionych sytuacjach do usuwania Kurs&oacute;w z Platformy NAVOICA w dowolnym momencie lub ich modyfikacji.</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">Operator merytoryczny lub Operator techniczny zastrzega sobie prawo do:</div>
    <ol>
        <li dir="ltr">
        <div dir="ltr" role="presentation">przejściowego zaprzestania świadczenia Usług w całości lub w części,</div>
        </li>
        <li dir="ltr">
        <div dir="ltr" role="presentation">okresowego zawieszenia świadczenia Usług w związku z przeprowadzaniem prac konserwacyjnych lub modernizacyjnych,</div>
        </li>
        <li dir="ltr">
        <div dir="ltr" role="presentation">wysyłania na adres e&nbsp;-&nbsp;mail Użytkownik&oacute;w komunikat&oacute;w technicznych, prawnych i&nbsp;transakcyjnych związanych z funkcjonowaniem Platformy i/lub świadczeniem Usług,</div>
        </li>
        <li dir="ltr">
        <div dir="ltr" role="presentation">odmowy świadczenia Usług, jeśli Użytkownik poda błędny, fałszywy lub tymczasowy adres email lub dane w Formularzu rejestracyjnym,</div>
        </li>
        <li dir="ltr">
        <div dir="ltr" role="presentation">odmowy świadczenia Usług, jeżeli Użytkownik nie przestrzega postanowień Regulaminu,</div>
        </li>
        <li dir="ltr">
        <div dir="ltr" role="presentation">dowolnej modyfikacji świadczonych Usług oraz sposobu działania Platformy NAVOICA bez wcześniejszego powiadamiania o takim zamiarze,</div>
        </li>
        <li dir="ltr">
        <div dir="ltr" role="presentation">dowolnego personalizowania treści informacji wysyłanych do Użytkownik&oacute;w oraz dowolnego wybierania adresat&oacute;w.</div>
        </li>
    </ol>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">W przypadku stwierdzenia nieprawdziwych lub nieaktualnych danych podanych przez Użytkownika, Operator techniczny ma prawo go wezwać do niezwłocznego usunięcia nieprawidłowości.</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">Operator merytoryczny i Operator techniczny nie udzielają żadnej gwarancji prawidłowego działania Platformy NAVOICA i/ lub Usług w całości albo w części w zakresie w jakim nie ma wpływu na jakość świadczenia Usługi, np. ze względu na dostawc&oacute;w usług internetowych, informatycznych, itp.</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">Operator techniczny ma prawo do ingerencji w Konto w celu usunięcia zakł&oacute;cenia lub problemu <br />
    w funkcjonowaniu Konta lub Platformy NAVOICA.</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">W każdym przypadku, w kt&oacute;rym Operator techniczny działa w związku z realizacją praw lub obowiązk&oacute;w do wykonania, kt&oacute;rych zobowiązany jest Operator merytoryczny, działa on w&nbsp;imieniu i na rzecz Operatora merytorycznego.</div>
    </li>
</ol>
<br />
<ol start="8">
    <li dir="ltr">
    <div dir="ltr" role="presentation">PŁATNOŚCI ZA USŁUGI</div>
    </li>
</ol>
<ol>
    <li dir="ltr">
    <div dir="ltr" role="presentation">&nbsp;Portal ma charakter niekomercyjny.</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">&nbsp;Korzystanie z Usług jest nieodpłatne.</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">&nbsp;Użytkownik powinien mieć świadomość, że korzystanie z Usług za pośrednictwem Platformy NAVOICA wymagać będzie połączenia z siecią Internet i wiązać się będzie z kosztami transmisji danych, zgodnie z&nbsp;obowiązującym cennikiem usług planu taryfowego operatora sieci, z kt&oacute;rej dany Użytkownik/ usługobiorca korzysta.</div>
    </li>
</ol>
<ol start="9">
    <li dir="ltr">
    <div dir="ltr" role="presentation">ODPOWIEDZIALNOŚĆ</div>
    </li>
</ol>
<ol>
    <li dir="ltr">
    <div dir="ltr" role="presentation">&nbsp;Użytkownik ponosi pełną odpowiedzialność za złamanie prawa bądź szkodę wywołaną jego działaniami, w szczeg&oacute;lności podaniem nieprawdziwych danych, naruszeniem d&oacute;br osobistych lub praw autorskich oraz praw pokrewnych.</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">&nbsp;Operator merytoryczny i Operator techniczny nie ponoszą odpowiedzialności za jakiekolwiek szkody powstałe na skutek zaprzestania świadczenia Usług w całości lub części na rzecz Użytkownik&oacute;w. Operatorzy nie są r&oacute;wnież odpowiedzialni za szkody powstałe na skutek zaprzestania świadczenia Usług i usunięcia Konta Użytkownika naruszającego Regulamin.</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">Podmioty wskazane w ust. 2 nie ponoszą odpowiedzialności za:</div>
    <ol>
        <li dir="ltr">
        <div dir="ltr" role="presentation">szkody wyrządzone osobom trzecim lub następstwa działań, powstałe w wyniku korzystania przez Użytkownik&oacute;w z Usług w spos&oacute;b sprzeczny z Regulaminem lub przepisami prawa,</div>
        </li>
        <li dir="ltr">
        <div dir="ltr" role="presentation">za treści udostępniane przez Użytkownik&oacute;w w ramach Usług, kt&oacute;re to treści naruszają prawo lub chronione prawem dobra os&oacute;b trzecich,</div>
        </li>
        <li dir="ltr">
        <div dir="ltr" role="presentation">szkody Jednostek edukacyjnych lub Uczestnik&oacute;w powstałe w związku z zaprzestaniem publikowania Kursu,&nbsp;&nbsp;</div>
        </li>
        <li dir="ltr">
        <div dir="ltr" role="presentation">zgodność z prawdą zamieszczonych przez Użytkownik&oacute;w informacji,</div>
        </li>
        <li dir="ltr">
        <div dir="ltr" role="presentation">utratę przez Użytkownik&oacute;w danych spowodowanych działaniem czynnik&oacute;w zewnętrznych (np. awaria sprzętu) lub też innymi okolicznościami niezależnymi od Operatora merytorycznego lub Operatora technicznego (działanie os&oacute;b trzecich),</div>
        </li>
        <li dir="ltr">
        <div dir="ltr" role="presentation">szkody wynikłe na skutek braku ciągłości dostarczania Usług, będące następstwem okoliczności, za kt&oacute;re Podmioty wskazane w ust. 3 nie ponoszą odpowiedzialności (siła wyższa, działania zaniechania os&oacute;b trzecich, awarie, itp.),</div>
        </li>
        <li dir="ltr">
        <div dir="ltr" role="presentation">podania przez Użytkownik&oacute;w nieprawdziwych lub niepełnych informacji przy rejestracji Konta, nieprzestrzegania przez Użytkownik&oacute;w warunk&oacute;w Regulaminu,</div>
        </li>
        <li dir="ltr">
        <div dir="ltr" role="presentation">działania lub zaniechania dostawc&oacute;w usług internetowych oraz awarie i&nbsp;zakł&oacute;cenia w&nbsp;działaniu sieci internetowej, za pośrednictwem kt&oacute;rej Użytkownik korzysta z Platformy,</div>
        </li>
        <li dir="ltr">
        <div dir="ltr" role="presentation">skutki wynikające z wejścia przez osoby trzecie w posiadanie loginu lub hasła,</div>
        </li>
        <li dir="ltr">
        <div dir="ltr" role="presentation">przerwy w świadczeniu Usługi zaistniałych z przyczyn niezależnych od Operatora merytorycznego lub Operatora technicznego.</div>
        </li>
    </ol>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">W przypadku otrzymania urzędowego zawiadomienia o bezprawnym charakterze przechowywanych danych dostarczonych przez Użytkownika i uniemożliwienia mu dostępu do tych danych, Operator merytoryczny nie ponosi odpowiedzialności względem tego Użytkownika za szkodę powstałą w wyniku uniemożliwienia dostępu do tych danych.</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">Operator merytoryczny nie ponosi odpowiedzialności za dane przekazane w celu otrzymania potwierdzenia ukończenia kursu lub wydania zaświadczenia, w przypadku, gdy Uczestnik poda je w spos&oacute;b błędny lub nieprawdziwy.</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">Jednostka edukacyjna ponosi odpowiedzialność na zasadzie ryzyka za dob&oacute;r os&oacute;b, kt&oacute;rymi posługuje się w zakresie korzystania z Usług, w szczeg&oacute;lności za wprowadzane przez nie dane i&nbsp;informacje, rozporządzanie przez nie przydzielonymi przez Operatora technicznego hasłami i loginami.</div>
    </li>
</ol>
<ol start="10">
    <li dir="ltr">
    <div dir="ltr" role="presentation">PRAWA AUTORSKIE ORAZ LICENCJE</div>
    </li>
</ol>
<ol>
    <li dir="ltr">
    <div dir="ltr" role="presentation">Wszelkie prawa do utwor&oacute;w, w rozumieniu ustawy z dnia 4 lutego 1994 r. o prawie autorskim i prawach pokrewnych (Dz. U. z 2018r. poz. 1181 z p&oacute;źn. zm.), z zastrzeżeniem postanowień ust. 2 i 3, stanowiących element Platformy, w tym do całego utworu jak i jego fragment&oacute;w, a w szczeg&oacute;lności do element&oacute;w tekstowych, graficznych, multimedialnych oraz element&oacute;w programistycznych generujących i obsługujących Platformę lub pozwalających na korzystanie z Usługi, są zastrzeżone odpowiednio na rzecz&nbsp; Operatora technicznego lub Operatora merytorycznego.&nbsp;</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">Postanowienia ust. 1, nie mają zastosowania do utwor&oacute;w wyrażonych w formie kodu źr&oacute;dłowego i stanowiących element Platformy, stworzonych w oparciu o kod źr&oacute;dłowy systemu Open edX. Warunki korzystania z tych utwor&oacute;w oraz kodu systemu Open edX określa licencja AGPL dostępna pod adresem URL <a href="https://github.com/OPI-PIB">https://github.com/OPI-PIB</a></div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">Postanowienia ust. 1 nie mają zastosowania do Kurs&oacute;w kt&oacute;rych prawa do dysponowania autorskimi prawami majątkowymi lub licencjami przysługują Jednostkom edukacyjnym lub podmiotom z nimi wsp&oacute;łpracującym. Zasady korzystania z Kurs&oacute;w określają odrębne regulacje określone przez ich tw&oacute;rc&oacute;w.&nbsp;&nbsp;&nbsp;&nbsp;</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">Użytkownik nie ma prawa sprzedawać lub w inny spos&oacute;b wprowadzać do obrotu lub rozpowszechniać w celach zarobkowych lub komercyjnych Platformy lub jej fragmentu, w szczeg&oacute;lności przesyłać lub udostępniać w systemach i sieciach komputerowych lub jakichkolwiek innych systemach teleinformatycznych.</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">Każde naruszenie praw autorskich przez Użytkownika może spowodować jego odpowiedzialność cywilną lub karną z tego tytułu.</div>
    </li>
</ol>
<br />
<br />
<ol start="11">
    <li dir="ltr">
    <div dir="ltr" role="presentation">PRZECHOWYWANIE I UDOSTĘPNIANIE KURS&Oacute;W</div>
    </li>
</ol>
<br />
<ol>
    <li dir="ltr">
    <div dir="ltr" role="presentation">Operator techniczny zapewnia możliwość deponowania i publikacji Kurs&oacute;w na Platformie zgodnie z możliwościami technologicznymi Platformy.</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">Do zamieszczania i publikowania Kurs&oacute;w na Platformie uprawniona jest Jednostka edukacyjna po zatwierdzeniu Kursu przez Operatora merytorycznego.</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">Jednostka edukacyjna oświadcza, że posiada autorskie prawa majątkowe lub dysponuje prawem licencji uprawniającym ją do zamieszczenia i publikowania Kursu na Platformie oraz wykorzystywania Kursu w&nbsp;zakresie jego rozpowszechniania i udostępniania za pomocą sieci Internet, w taki spos&oacute;b aby każdy miał do niego dostęp w dowolnym miejscu i czasie w tym możliwość utrwalania i&nbsp;zwielokrotniania Kursu techniką cyfrową.</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">Jednostka edukacyjna oświadcza, że Kurs nie narusza żadnych praw os&oacute;b trzecich, w&nbsp;szczeg&oacute;lności praw autorskich.</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">Operator merytoryczny oraz Operator techniczny nie ponoszą odpowiedzialności za spos&oacute;b korzystania z Kurs&oacute;w przez Uczestnik&oacute;w. Uczestnik może korzystać z Kurs&oacute;w na zasadach i w spos&oacute;b określony przez tw&oacute;rcę Kursu (Jednostkę edukacyjną). Szczeg&oacute;łowe pola eksploatacji oraz warunki licencji na jakich można korzystać z Kursu każdorazowo określa Jednostka edukacyjna zamieszczająca Kurs.&nbsp;</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">Operator merytoryczny oraz Operator techniczny nie ponoszą odpowiedzialności za wykorzystywanie Kurs&oacute;w niezgodnie z prawem oraz niezgodnie z&nbsp;określoną dla nich licencją.</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">Jednostka edukacyjna ma możliwość zamieszczania lub usunięcia Kursu na Platformie w terminie ustalonym z operatorem merytorycznym. Kategorie tematyczne, czas trwania, termin rozpoczęcia i zakończenia Kursu oraz terminy zapis&oacute;w na Kurs określa Jednostka edukacyjna.&nbsp;</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">Operator merytoryczny lub Operator techniczny ma możliwość zablokowania Kursu co do kt&oacute;rego zachodzi podejrzenie, że został zamieszczony z naruszeniem zasad prawa lub postanowień Regulaminu.&nbsp;</div>
    </li>
</ol>
<br />
<ol start="12">
    <li dir="ltr">
    <div dir="ltr" role="presentation">OCHRONA DANYCH OSOBOWYCH</div>
    </li>
</ol>
<br />
<ol>
    <li dir="ltr">
    <div dir="ltr" role="presentation">Operator merytoryczny, przetwarza wyłącznie te dane osobowe Użytkownik&oacute;w, kt&oacute;re są niezbędne do świadczenia Usług określonych Regulaminem oraz realizacji obowiązk&oacute;w wynikających z przepis&oacute;w prawa.</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">Dane osobowe przetwarzane są z zachowaniem zasad ochrony i bezpieczeństwa danych zgodnie z wymaganiami RODO.</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">Administratorem danych osobowych przetwarzanych w ramach Platformy jest Operator merytoryczny Fundacja Młodej Nauki, ul. Uniwersytecka 5 lok. 12, 02-036 Warszawa, tel. +48 22 234 42 53, email: fmn@fmn.org.pl.</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">W związku z realizacją Usług w imieniu Operatora technicznego, przetwarzanie danych w ramach Platformy powierzono na podstawie odrębnej umowy Operatorowi technicznemu &ndash; Ośrodkowi Przetwarzania Informacji &ndash; Państwowemu Instytutowi Badawczemu, kt&oacute;ry w rozumieniu zapis&oacute;w RODO jest podmiotem przetwarzającym dane.</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">Operator merytoryczny wyznaczył Inspektora Ochrony Danych, z kt&oacute;rym w sprawach dotyczących przetwarzanych danych osobowych istnieje możliwość kontaktu za pośrednictwem adresu mailowego fmn@fmn.org.pl.</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">Operator merytoryczny przetwarza następujące dane osobowe: imię, nazwisko i adres e-mail użytkownika.</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">Dane osobowe dotyczące Użytkownik&oacute;w przetwarzane są w następujących celach:</div>
    </li>
</ol>
<ol>
    <li dir="ltr">
    <div dir="ltr" role="presentation">rejestracji Kont w Serwisie,</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">realizacji Usług,</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">obsługi procesu rejestracji i logowania do Konta,</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">ewentualnego ustalenia, dochodzenia lub obrony roszczeń,</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">wyjaśniania okoliczności niedozwolonego korzystania z usług świadczonych drogą elektroniczną,</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">tworzenia kopii i przechowywania danych.</div>
    </li>
</ol>
<ol start="8">
    <li dir="ltr">
    <div dir="ltr" role="presentation">Podanie danych osobowych dotyczących Użytkownik&oacute;w jest dobrowolne, ale niezbędne dla korzystania <br />
    z określonych Usług.</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">Dane osobowe dotyczące Użytkownik&oacute;w przetwarzane są w oparciu o przesłankę wskazaną w art. 6 ust. 1 lit. b) RODO. Dane osobowe Użytkownik&oacute;w reprezentujących Jednostkę edukacyjną przetwarzane są w oparciu o przesłankę wskazaną w art. 6 ust. 1 lit. f) RODO, jako prawnie uzasadniony interes administratora przejawiający się w realizacji postanowień umowy.</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">Dostęp do danych mogą mieć następujący odbiorcy danych: upoważnieni pracownicy administratora danych oraz upoważnieni pracownicy Ośrodka Przetwarzania Informacji - Państwowego Instytutu Badawczego, kt&oacute;remu administrator w drodze umowy powierzenia przetwarzania danych przekazał dane osobowe w związku z utrzymaniem, administrowaniem i rozwojem Platformy. Dane mogą być przekazywane kolejnym odbiorcom, kt&oacute;rym w drodze umowy powierzono przetwarzanie danych na potrzeby świadczenia usług na rzecz administratora lub podmiotu przetwarzającego.</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">Osobom, kt&oacute;rych dane są przetwarzane przysługuje prawo dostępu do swoich danych, ich sprostowania, przenoszenia, wniesienia sprzeciwu wobec przetwarzania, usunięcia danych oraz ograniczenie ich przetwarzania.</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">W przypadku uznania, że przetwarzanie danych narusza przepisy RODO przysługuje r&oacute;wnież prawo wniesienia skargi do organu nadzorczego - Prezesa Urzędu Ochrony Danych Osobowych.</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">Dane osobowe będą przechowywane do zakończeni projektu Polski MOOC tj. do końca lipca 2020roku.</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">Realizacja praw, o kt&oacute;rych mowa w pkt. 11 możliwa jest za pośrednictwem adresu mailowego <a href="mailto:fmn@fmn.org.pl">fmn@fmn.org.pl</a>.&nbsp;</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">W przypadku, gdy Jednostki edukacyjne wprowadziły dodatkowe formy rejestracji w celu udostępnienia Kurs&oacute;w i żądają podania dodatkowych danych od Użytkownika chcącego skorzystać z Kursu, realizują to we własnym imieniu i na własną rzecz, stając się jednocześnie administratorem tych danych, z pełnym zakresem obowiązk&oacute;w wynikających z przepis&oacute;w dotyczących przetwarzania danych osobowych, jakie ciążą na administratorze.&nbsp;&nbsp;&nbsp;&nbsp;</div>
    </li>
</ol>
<br />
<br />
<ol start="13">
    <li dir="ltr">
    <div dir="ltr" role="presentation">ZABEZPIECZENIE DANYCH&nbsp;</div>
    </li>
</ol>
<ol>
    <li dir="ltr">
    <div dir="ltr" role="presentation">Dane gromadzone przez Operatora merytorycznego są zabezpieczone przed nieuprawnionym dostępem zabezpieczeniami systemowymi, fizycznymi i organizacyjnymi zgodnie z przyjętą i&nbsp;aktualnie obowiązującą w tym zakresie polityką bezpieczeństwa informacji i danych osobowych.</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">Operator merytoryczny oświadcza, iż dokłada należytej staranności, aby zapewnić wszystkim Użytkownikom wysoki poziom bezpieczeństwa w zakresie korzystania z dedykowanych im funkcji. Wszelkie zdarzenia mające wpływ na bezpieczeństwo przekazu informacji, danych, w tym r&oacute;wnież dotyczące podejrzenia udostępniania plik&oacute;w zawierających wirusy i innych plik&oacute;w o&nbsp;podobnym charakterze lub innych aniżeli pliki mechanizm&oacute;w destrukcyjnych należy zgłaszać mailowo na adres <a href="mailto:mooc_help@opi.org.pl">mooc_help@opi.org.pl</a>.</div>
    </li>
</ol>
<ol start="14">
    <li dir="ltr">
    <div dir="ltr" role="presentation">WSPARCIE MERYTORYCZNE I TECHNICZNE UŻYTKOWNIK&Oacute;W</div>
    <ol>
        <li dir="ltr">
        <div dir="ltr" role="presentation">Zakł&oacute;cenia w funkcjonowaniu lub problemy związane ze świadczonymi usługami w ramach Platformy NAVOICA mogą być zgłaszane przez Użytkownika za pośrednictwem adresu e-mail <a href="mailto:mooc_help@opi.org.pl">mooc_help@opi.org.pl</a>.</div>
        </li>
        <li dir="ltr">
        <div dir="ltr" role="presentation">Użytkownik może zgłosić zastrzeżenie w takim zakresie w jakim przewidziane Regulaminem dedykowane im Usługi nie są realizowane lub są realizowane niezgodnie z postanowieniami Regulaminu.</div>
        </li>
        <li dir="ltr">
        <div dir="ltr" role="presentation">Zgłoszenie powinno być przesłane w ciągu 14 dni od daty wystąpienia zdarzenia uzasadniającego przesłanie zgłoszenia.</div>
        </li>
        <li dir="ltr">
        <div dir="ltr" role="presentation">Zgłoszenie można złożyć za pomocą korespondencji elektronicznej na adres e-mail: <a href="mailto:mooc_help@opi.org.pl">mooc_help@opi.org.pl</a> lub w formie listu poleconego przesłanego na adres: Ośrodek Przetwarzania Informacji &ndash; Państwowy Instytut Badawczy, Al. Niepodległości 188b, 00-608 Warszawa.</div>
        </li>
        <li dir="ltr">
        <div dir="ltr" role="presentation">Zgłoszenie powinno zawierać co najmniej: imię i nazwisko, adres e-mail lub inny adres korespondencyjny, okoliczności uzasadniające zgłoszenie, a także konkretne żądanie związane ze zgłoszeniem.</div>
        </li>
        <li dir="ltr">
        <div dir="ltr" role="presentation">Jeżeli podane w zgłoszeniu dane lub informacje wymagają uzupełnienia, podmiot je rozpatrujący, zwr&oacute;ci się do zgłaszającego o&nbsp;uzupełnienie we wskazanym zakresie. W przypadku braku uzupełnienia zgłoszenie pozostanie bez rozpatrzenia.</div>
        </li>
        <li dir="ltr">
        <div dir="ltr" role="presentation">Operator techniczny lub Operator merytoryczny rozpoznaje zgłoszenie w terminie 30 dni od daty jego otrzymania w spos&oacute;b prawidłowy (zawierające wymagane elementy, niewymagające uzupełnienia). W sprawach zawiłych Operator techniczny może wydłużyć ten termin do 60 dni po uprzednim powiadomieniu zgłaszającego. Użytkownik otrzyma informację o sposobie rozpatrzenia zgłoszenia drogą korespondencji elektronicznej, na podany przez siebie adres e-mail.</div>
        </li>
        <li dir="ltr">
        <div dir="ltr" role="presentation">Operator techniczny zastrzega sobie prawo do pozostawienia reklamacji bez rozpoznania, jeżeli wynikać ona będzie z nieznajomości Regulaminu lub przepis&oacute;w prawa.</div>
        </li>
    </ol>
    </li>
</ol>
<div dir="ltr">&nbsp;&nbsp;&nbsp;</div>
<ol start="15">
    <li dir="ltr">
    <div dir="ltr" role="presentation">POSTANOWIENIA KOŃCOWE</div>
    </li>
</ol>
<ol>
    <li dir="ltr">
    <div dir="ltr" role="presentation">Operator merytoryczny&nbsp; zastrzega sobie prawo do zmiany treści Regulaminu.</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">Użytkownicy zostaną poinformowani o zmianach Regulaminu stosownym komunikatem zamieszczonym na Platformie NAVOICA oraz informacją przesłaną na adres e-mail podany odpowiednio w Formularzu rejestracyjnym lub zamieszczoną informacją o zmianie regulaminu wraz z jego treścią dostępną po zalogowaniu do Konta.</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">Użytkownik może odm&oacute;wić akceptacji zmian przesyłając Operatorowi technicznemu stosowne oświadczenie w tym zakresie w formie pisemnej, mailowej na adres <a href="mailto:mooc_help@opi.org.pl">mooc_help@opi.org.pl</a> lub, w przypadku posiadaczy Konta, zaznaczając brak akceptacji zmian po zalogowaniu do Konta. Oświadczenie o braku akceptacji zmian powinno być przekazane Operatorowi technicznemu niezwłocznie jednak nie p&oacute;źniej niż w terminie 30 dni od daty otrzymania powiadomienia o zmianie Regulaminu w&nbsp;spos&oacute;b określony w ust. 2. Brak oświadczenia w powyższym terminie jest uznany za akceptację zmian przez Użytkownika. Przesłanie oświadczenia jest r&oacute;wnoznaczne z&nbsp;rozwiązaniem Umowy przez Użytkownika z zachowaniem 14 dniowego terminu wypowiedzenia, liczonego od dnia otrzymania przez Operatora technicznego informacji o odmowie akceptacji zmian.</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">Użytkownik ponosi ryzyko nieotrzymania powiadomienia o zmianie Regulaminu z&nbsp;powodu nieaktualnego, nieprawdziwego lub należącego do innego podmiotu adresu e-mail.</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">W przypadku zmiany Regulaminu Użytkownikom wyświetlona zostanie lista najważniejszych zmian. Użytkownik zobowiązany jest do zapoznania się z&nbsp;Regulaminem w nowym brzmieniu.</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">Wszelkie spory związane z realizacją Umowy będą rozstrzygane przez polskie sądy powszechne właściwe ze względu na siedzibę Operatora, przy czym w przypadku spor&oacute;w na tle sposobu realizacji przez Operatora Usług, postępowanie sądowe może być wszczęte po wyczerpaniu drogi postępowania reklamacyjnego, w pozostałych przypadkach Strony zobowiązują się w&nbsp;pierwszej kolejności dążyć do polubownego rozstrzygnięcia spor&oacute;w w drodze negocjacji prowadzonych przez okres 90 dni.</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">Nie stanowi zmian Regulaminu: zmiana zawartych w nim danych teleadresowych dotyczących Operatora, zmiana danych wynikająca ze zmiany formy prawnej prowadzenia przez niego działalności, ani zmiana Polityki Prywatności, jeżeli jej zmiany wynikają z obowiązujących przepis&oacute;w prawa lub są bardziej korzystane dla Użytkownika.</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">Operator merytoryczny lub Operator techniczny ma prawo podjąć decyzję o zaprzestaniu lub zawieszeniu świadczenia Usługi. W takim przypadku poinformuje Użytkownik&oacute;w, zamieszczając na gł&oacute;wnej stronie internetowej Platformy stosowną informację. Zaprzestanie lub zawieszenie świadczenia Usługi nastąpi po upływie 30 dni od dnia zamieszczenia w/w informacji.</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">Prawem właściwym dla całości Umowy jest prawo polskie.</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">W kwestiach nieuregulowanych w Umowach zawartych z Operatorem zastosowanie mają przepisy prawa polskiego.</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">Jeżeli kt&oacute;rekolwiek postanowienie Regulaminu zostanie uznane prawomocnym orzeczeniem sądu za nieważne, pozostałe postanowienia pozostają w mocy.</div>
    </li>
    <li dir="ltr">
    <div dir="ltr" role="presentation">Regulamin obowiązuje od 7.02.2020r.</div>
    </li>
</ol>
</span></p>

    </section>
    </main>
</div>
