<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Terms of Service")}</%block>
<div class="container">
<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">

        <h3>${_('tos_title')}</h3>
        <p>${_('tos_intro_1')}</p>
        <p>${_('tos_intro_2')}</p>

        <h3 class="tos_dictionary_definitions_header">${_('tos_definitions_header')}</h3>
        <dl class="tos_dictionary_definitions">
            <dt>${_('tos_definitions_email_title')}</dt>
            <dd>${_('tos_definitions_email_text')}</dd>
            <dt>${_('tos_definitions_registration_form_title')}</dt>
            <dd>${_('tos_definitions_registration_form_text')}</dd>
            <dt>${_('tos_definitions_password_title')}</dt>
            <dd>${_('tos_definitions_password_text')}</dd>
            <dt>${_('tos_definitions_service_information_title')}</dt>
            <dd>${_('tos_definitions_service_information_text')}</dd>
            <dt>${_('tos_definitions_educational_unit_title')}</dt>
            <dd>${_('tos_definitions_educational_unit_text')}</dd>
            <dt>${_('tos_definitions_account_title')}</dt>
            <dd>${_('tos_definitions_account_text')}</dd>
            <dt>${_('tos_definitions_course_title')}</dt>
            <dd>${_('tos_definitions_course_text')}</dd>
            <dt>${_('tos_definitions_substantive_operator_title')}</dt>
            <dd>${_('tos_definitions_substantive_operator_text')}</dd>
            <dt>${_('tos_definitions_technical_operator_title')}</dt>
            <dd>${_('tos_definitions_technical_operator_text')}</dd>
            <dt>${_('tos_definitions_platform_title')}</dt>
            <dd>${_('tos_definitions_platform_text')}</dd>
            <dt>${_('tos_definitions_tos_title')}</dt>
            <dd>${_('tos_definitions_tos_text')}</dd>
            <dt>${_('tos_definitions_rodo_title')}</dt>
            <dd>${_('tos_definitions_rodo_text')}</dd>
            <dt>${_('tos_definitions_services_title')}</dt>
            <dd>${_('tos_definitions_services_text')}</dd>
            <dt>${_('tos_definitions_participant_title')}</dt>
            <dd>${_('tos_definitions_participant_text')}</dd>
            <dt>${_('tos_definitions_user_title')}</dt>
            <dd>${_('tos_definitions_user_text')}</dd>
            <dt>${_('tos_definitions_guidelines_title')}</dt>
            <dd>${_('tos_definitions_guidelines_text')}</dd>
        </dl>
        <ol>
            <li class="tos_main_list_element">
                ${_('tos_main_title')}
                <ol class="tos_main_list_sublist">
                    <li>${_('tos_main_paragraph_1')}</li>
                    <li>${_('tos_main_paragraph_2')}</li>
                    <li>${_('tos_main_paragraph_3')}</li>
                    <li>${_('tos_main_paragraph_4')}</li>
                    <li>${_('tos_main_paragraph_5')}</li>
                    <li>${_('tos_main_paragraph_6')}</li>
                    <li>${_('tos_main_paragraph_7')}</li>
                    <li>${_('tos_main_paragraph_8')}</li>
                    <li>${_('tos_main_paragraph_9')}</li>
                    <li>${_('tos_main_paragraph_10')}</li>
                </ol>
            </li>
            <li class="tos_main_list_element">
                ${_('tos_technical_title')}
                <ol class="tos_main_list_sublist">
                    <li>
                        ${_('tos_technical_paragraph_1')}
                        <ol>
                            <li><a href="https://navoica.pl">https://navoica.pl</a>${_('tos_technical_paragraph_1_section_1')}</li>
                            <li><a href="https://studio.navoica.pl">https://studio.navoica.pl</a>${_('tos_technical_paragraph_1_section_2')}</li>
                            <li>${_('tos_technical_paragraph_1_section_3')}</li>
                        </ol>
                    </li>
                    <li>${_('tos_technical_paragraph_2')}</li>
                    <li>${_('tos_technical_paragraph_3')}</li>
                    <li>${_('tos_technical_paragraph_4')}</li>
                    <li>
                        ${_('tos_technical_paragraph_5')}
                        <ol>
                            <li>${_('tos_technical_paragraph_5_section_1')}</li>
                            <li>${_('tos_technical_paragraph_5_section_2')}</li>
                            <li>${_('tos_technical_paragraph_5_section_3')}</li>
                        </ol>
                    </li>
                    <li>${_('tos_technical_paragraph_6')}</li>
                    <li>${_('tos_technical_paragraph_7')}</li>
                </ol>
            </li>
            <li class="tos_main_list_element">
                ${_('tos_ros_title')}
                <ol class="tos_main_list_sublist">
                    <li>${_('tos_ros_paragraph_1')}</li>
                    <li>
                        ${_('tos_ros_paragraph_2')}
                        <ol>
                            <li>${_('tos_ros_paragraph_2_section_1')}</li>
                            <li>${_('tos_ros_paragraph_2_section_2')}</li>
                            <li>${_('tos_ros_paragraph_2_section_3')}</li>
                            <li>${_('tos_ros_paragraph_2_section_4')}</li>
                            <li>${_('tos_ros_paragraph_2_section_5')}</li>
                            <li>${_('tos_ros_paragraph_2_section_6')}</li>
                            <li>${_('tos_ros_paragraph_2_section_7')}</li>
                            <li>${_('tos_ros_paragraph_2_section_8')}</li>
                            <li>${_('tos_ros_paragraph_2_section_9')}</li>
                        </ol>
                    </li>
                    <li>
                        ${_('tos_ros_paragraph_3')}
                        <ol>
                            <li>${_('tos_ros_paragraph_3_section_1')}</li>
                            <li>${_('tos_ros_paragraph_3_section_2')}</li>
                            <li>${_('tos_ros_paragraph_3_section_3')}</li>
                            <li>${_('tos_ros_paragraph_3_section_4')}</li>
                            <li>${_('tos_ros_paragraph_3_section_5')}</li>
                            <li>${_('tos_ros_paragraph_3_section_6')}</li>
                            <li>${_('tos_ros_paragraph_3_section_7')}</li>
                            <li>${_('tos_ros_paragraph_3_section_8')}</li>
                        </ol>
                    </li>
                </ol>
            </li>
            <li class="tos_main_list_element">
                ${_('tos_user_registration_title')}
                <ol class="tos_main_list_sublist">
                    <li>${_('tos_user_registration_paragraph_1')}</li>
                    <li>${_('tos_user_registration_paragraph_2')}<a href="https://navoica.pl/register">https://navoica.pl/register</a></li>
                    <li>
                        ${_('tos_user_registration_paragraph_3')}
                        <ol>
                            <li>${_('tos_user_registration_paragraph_3_section_1')}</li>
                            <li>${_('tos_user_registration_paragraph_3_section_2')}</li>
                            <li>${_('tos_user_registration_paragraph_3_section_3')}</li>
                            <li>${_('tos_user_registration_paragraph_3_section_4')}</li>
                        </ol>
                    </li>
                    <li>${_('tos_user_registration_paragraph_4')}</li>
                    <li>${_('tos_user_registration_paragraph_5')}</li>
                    <li>${_('tos_user_registration_paragraph_6')}</li>
                    <li>${_('tos_user_registration_paragraph_7')}</li>
                    <li>${_('tos_user_registration_paragraph_8')}</li>
                </ol>
            </li>
            <li class="tos_main_list_element">
                ${_('tos_contract_and_termination_title')}
                <ol class="tos_main_list_sublist">
                    <li>${_('tos_contract_and_termination_paragraph_1')}</li>
                    <li>${_('tos_contract_and_termination_paragraph_2')}</li>
                    <li>${_('tos_contract_and_termination_paragraph_3')}</li>
                    <li>${_('tos_contract_and_termination_paragraph_4')}</li>
                    <li>${_('tos_contract_and_termination_paragraph_5')}<a href="mailto:mooc_help@opi.org.pl">${_('mooc_help@opi.org.pl')}</a>${_('tos_contract_and_termination_paragraph_5_1')}</li>
                    <li>
                        ${_('tos_contract_and_termination_paragraph_6')}
                        <ol>
                            <li>${_('tos_contract_and_termination_paragraph_6_section_1')}</li>
                            <li>${_('tos_contract_and_termination_paragraph_6_section_2')}</li>
                            <li>${_('tos_contract_and_termination_paragraph_6_section_3')}</li>
                            <li>${_('tos_contract_and_termination_paragraph_6_section_4')}</li>
                            <li>${_('tos_contract_and_termination_paragraph_6_section_5')}</li>
                        </ol>
                    </li>
                    <li>${_('tos_contract_and_termination_paragraph_7')}</li>
                </ol>
            </li>
            <li class="tos_main_list_element">
                ${_('tos_rules_for_using_services_title')}
                <ol class="tos_main_list_sublist">
                    <li>${_('tos_rules_for_using_services_paragraph_1')}</li>
                    <li>${_('tos_rules_for_using_services_paragraph_2')}</li>
                    <li>${_('tos_rules_for_using_services_paragraph_3')}</li>
                    <li>${_('tos_rules_for_using_services_paragraph_4')}</li>
                    <li>${_('tos_rules_for_using_services_paragraph_5')}</li>
                    <li>${_('tos_rules_for_using_services_paragraph_6')}</li>
                    <li>
                        ${_('tos_rules_for_using_services_paragraph_7')}
                        <ol>
                            <li>${_('tos_rules_for_using_services_paragraph_7_section_1')}</li>
                            <li>${_('tos_rules_for_using_services_paragraph_7_section_2')}</li>
                            <li>${_('tos_rules_for_using_services_paragraph_7_section_3')}</li>
                            <li>${_('tos_rules_for_using_services_paragraph_7_section_4')}</li>
                        </ol>
                    </li>
                    <li>${_('tos_rules_for_using_services_paragraph_8')}</li>
                    <li>${_('tos_rules_for_using_services_paragraph_9')}</li>
                    <li>
                        ${_('tos_rules_for_using_services_paragraph_10')}
                        <ol>
                            <li>${_('tos_rules_for_using_services_paragraph_10_section_1')}</li>
                            <li>${_('tos_rules_for_using_services_paragraph_10_section_2')}</li>
                            <li>${_('tos_rules_for_using_services_paragraph_10_section_3')}</li>
                            <li>${_('tos_rules_for_using_services_paragraph_10_section_4')}</li>
                            <li>${_('tos_rules_for_using_services_paragraph_10_section_5')}</li>
                            <li>${_('tos_rules_for_using_services_paragraph_10_section_6')}</li>
                        </ol>
                    </li>
                    <li>${_('tos_rules_for_using_services_paragraph_11')}</li>
                </ol>
            </li>
            <li class="tos_main_list_element">
                ${_('tos_operators_rights_and_onligations_title')}

                <ol class="tos_main_list_sublist">
                    <li>${_('tos_operators_rights_and_onligations_paragraph_1')}</li>
                    <li>${_('tos_operators_rights_and_onligations_paragraph_2')}</li>
                    <li>${_('tos_operators_rights_and_onligations_paragraph_3')}</li>
                    <li>
                        ${_('tos_operators_rights_and_onligations_paragraph_4')}
                        <ol>
                            <li>${_('tos_operators_rights_and_onligations_paragraph_4_section_1')}</li>
                            <li>${_('tos_operators_rights_and_onligations_paragraph_4_section_2')}</li>
                            <li>${_('tos_operators_rights_and_onligations_paragraph_4_section_3')}</li>
                            <li>${_('tos_operators_rights_and_onligations_paragraph_4_section_4')}</li>
                            <li>${_('tos_operators_rights_and_onligations_paragraph_4_section_5')}</li>
                            <li>${_('tos_operators_rights_and_onligations_paragraph_4_section_6')}</li>
                            <li>${_('tos_operators_rights_and_onligations_paragraph_4_section_7')}</li>
                        </ol>
                    </li>
                    <li>${_('tos_operators_rights_and_onligations_paragraph_5')}</li>
                    <li>${_('tos_operators_rights_and_onligations_paragraph_6')}</li>
                    <li>${_('tos_operators_rights_and_onligations_paragraph_7')}</li>
                    <li>${_('tos_operators_rights_and_onligations_paragraph_8')}</li>
                </ol>
            </li>
            <li class="tos_main_list_element">
                ${_('tos_services_payment_title')}
                <ol class="tos_main_list_sublist">
                    <li>${_('tos_services_payment_paragraph_1')}</li>
                    <li>${_('tos_services_payment_paragraph_2')}</li>
                    <li>${_('tos_services_payment_paragraph_3')}</li>
                </ol>
            </li>
            <li class="tos_main_list_element">
                ${_('tos_responsibility_title')}
                <ol class="tos_main_list_sublist">
                    <li>${_('tos_responsibility_paragraph_1')}</li>
                    <li>${_('tos_responsibility_paragraph_2')}</li>
                    <li>
                        ${_('tos_responsibility_paragraph_3')}
                        <ol>
                            <li>${_('tos_responsibility_paragraph_3_section_1')}</li>
                            <li>${_('tos_responsibility_paragraph_3_section_2')}</li>
                            <li>${_('tos_responsibility_paragraph_3_section_3')}</li>
                            <li>${_('tos_responsibility_paragraph_3_section_4')}</li>
                            <li>${_('tos_responsibility_paragraph_3_section_5')}</li>
                            <li>${_('tos_responsibility_paragraph_3_section_6')}</li>
                            <li>${_('tos_responsibility_paragraph_3_section_7')}</li>
                            <li>${_('tos_responsibility_paragraph_3_section_8')}</li>
                            <li>${_('tos_responsibility_paragraph_3_section_9')}</li>
                            <li>${_('tos_responsibility_paragraph_3_section_10')}</li>
                        </ol>
                    </li>
                    <li>${_('tos_responsibility_paragraph_4')}</li>
                    <li>${_('tos_responsibility_paragraph_5')}</li>
                    <li>${_('tos_responsibility_paragraph_6')}</li>
                </ol>
            </li>
            <li class="tos_main_list_element">
                ${_('tos_copyrights_title')}
                <ol class="tos_main_list_sublist">
                    <li>${_('tos_copyrights_paragraph_1')}</li>
                    <li>${_('tos_copyrights_paragraph_2')}<a href="https://github.com/OPI-PIB">https://github.com/OPI-PIB</a></li>
                    <li>${_('tos_copyrights_paragraph_3')}</li>
                    <li>${_('tos_copyrights_paragraph_4')}</li>
                    <li>${_('tos_copyrights_paragraph_5')}</li>
                </ol>
            </li>
            <li class="tos_main_list_element">
                ${_('tos_courses_storage_title')}
                <ol class="tos_main_list_sublist">
                    <li>${_('tos_courses_storage_paragraph_1')}</li>
                    <li>${_('tos_courses_storage_paragraph_2')}</li>
                    <li>${_('tos_courses_storage_paragraph_3')}</li>
                    <li>${_('tos_courses_storage_paragraph_4')}</li>
                    <li>${_('tos_courses_storage_paragraph_5')}</li>
                    <li>${_('tos_courses_storage_paragraph_6')}</li>
                    <li>${_('tos_courses_storage_paragraph_7')}</li>
                    <li>${_('tos_courses_storage_paragraph_8')}</li>
                </ol>
            </li>
            <li class="tos_main_list_element">
                ${_('tos_personal_data_protection_title')}
                <ol class="tos_main_list_sublist">
                    <li>${_('tos_personal_data_protection_paragraph_1')}</li>
                    <li>${_('tos_personal_data_protection_paragraph_2')}</li>
                    <li>${_('tos_personal_data_protection_paragraph_3')}<a href="mailto:fmn@fmn.org.pl">fmn@fmn.org.pl.</a></li>
                    <li>${_('tos_personal_data_protection_paragraph_4')}</li>
                    <li>${_('tos_personal_data_protection_paragraph_5')}<a href="mailto:fmn@fmn.org.pl">fmn@fmn.org.pl.</a></li>
                    <li>${_('tos_personal_data_protection_paragraph_6')}</li>
                    <li>
                        ${_('tos_personal_data_protection_paragraph_7')}
                        <ol>
                            <li>${_('tos_personal_data_protection_paragraph_7_section_1')}</li>
                            <li>${_('tos_personal_data_protection_paragraph_7_section_2')}</li>
                            <li>${_('tos_personal_data_protection_paragraph_7_section_3')}</li>
                            <li>${_('tos_personal_data_protection_paragraph_7_section_4')}</li>
                            <li>${_('tos_personal_data_protection_paragraph_7_section_5')}</li>
                            <li>${_('tos_personal_data_protection_paragraph_7_section_6')}</li>
                        </ol>
                    </li>
                    <li>${_('tos_personal_data_protection_paragraph_8')}</li>
                    <li>${_('tos_personal_data_protection_paragraph_9')}</li>
                    <li>${_('tos_personal_data_protection_paragraph_10')}</li>
                    <li>${_('tos_personal_data_protection_paragraph_11')}</li>
                    <li>${_('tos_personal_data_protection_paragraph_12')}</li>
                    <li>${_('tos_personal_data_protection_paragraph_13')}</li>
                    <li>${_('tos_personal_data_protection_paragraph_14')}<a href="mailto:fmn@fmn.org.pl">fmn@fmn.org.pl.</a></li>
                    <li>${_('tos_personal_data_protection_paragraph_15')}</li>
                </ol>
            </li>
            <li class="tos_main_list_element">
                ${_('tos_data_protection_title')}
                <ol class="tos_main_list_sublist">
                    <li>${_('tos_data_protection_paragraph_1')}</li>
                    <li>${_('tos_data_protection_paragraph_2')}<a href="mailto:mooc_help@opi.org.pl">mooc_help@opi.org.pl.</a></li>
                </ol>
            </li>
            <li class="tos_main_list_element">
                ${_('tos_user_support_title')}
                <ol class="tos_main_list_sublist">
                    <li>${_('tos_user_support_paragraph_1')}<a href="mailto:mooc_help@opi.org.pl">mooc_help@opi.org.pl.</a></li>
                    <li>${_('tos_user_support_paragraph_2')}</li>
                    <li>${_('tos_user_support_paragraph_3')}</li>
                    <li>${_('tos_user_support_paragraph_4')}<a href="mailto:mooc_help@opi.org.pl">mooc_help@opi.org.pl</a>${_('tos_user_support_paragraph_4_1')}</li>
                    <li>${_('tos_user_support_paragraph_5')}</li>
                    <li>${_('tos_user_support_paragraph_6')}</li>
                    <li>${_('tos_user_support_paragraph_7')}</li>
                    <li>${_('tos_user_support_paragraph_8')}</li>
                </ol>
            </li>
            <li class="tos_main_list_element">
                ${_('tos_final_provisions_title')}
                <ol class="tos_main_list_sublist">
                    <li>${_('tos_final_provisions_paragraph_1')}</li>
                    <li>${_('tos_final_provisions_paragraph_2')}</li>
                    <li>${_('tos_final_provisions_paragraph_3')}<a href="mailto:mooc_help@opi.org.pl">${_('mooc_help@opi.org.pl')}</a>${_('tos_final_provisions_paragraph_3_1')}</li>
                    <li>${_('tos_final_provisions_paragraph_4')}</li>
                    <li>${_('tos_final_provisions_paragraph_5')}</li>
                    <li>${_('tos_final_provisions_paragraph_6')}</li>
                    <li>${_('tos_final_provisions_paragraph_7')}</li>
                    <li>${_('tos_final_provisions_paragraph_8')}</li>
                    <li>${_('tos_final_provisions_paragraph_9')}</li>
                    <li>${_('tos_final_provisions_paragraph_10')}</li>
                    <li>${_('tos_final_provisions_paragraph_11')}</li>
                    <li>${_('tos_final_provisions_paragraph_12')}</li>
                </ol>
            </li>
        </ol>
    </section>
</main>
</div>