@import "./variables";

a.btn {
  font-weight: $font-weight-semibold;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: $font-weight-bold;
}

.small {
  font-size: 13px;
}

body {
  font-size: 14px;
}

body > header {
  background-image: url(https://images.unsplash.com/photo-1542435503-956c469947f6?ixlib=rb-1.2.1&auto=format&fit=crop&w=2767&q=80);
  background-position: 50% 100%;
  background-size: cover;
  box-sizing: border-box;
  margin: $jumbotron-padding-y 0 0;
}

header .jumbotron {
  background: linear-gradient(135deg, #bc1823ee 0%, #f23043ee 100%);
  color: map_get($grays, "100");
  margin: 0;
  padding: 32px 0;
}

body > section {
  margin: 0;
  padding: 2*$font-size-base 0;

  &.border-top {
    border-color: map_get($grays, "400") !important;
  }
}

section .display-2 {
  margin: 0 0 2*$font-size-base;
}

.card {
  border: $card-border;
  box-shadow: 0 4px 12px -2px map_get($grays, "300"), 0 -2px 4px -4px map_get($grays, "300");
  color: $dark;

  &:hover {
    text-decoration: none;
  }

  &-header {
    //border-bottom: 1px solid map_get($grays, "300");
    font-size: 1.25*$font-size-base;
    font-weight: $font-weight-normal;
    padding: .75*$font-size-base .5*$font-size-base;
  }

  &-body {
    color: map_get($grays, "800");
    font-size: 14px;
    padding: 8px;
  }

  &-title {
    color: $black;
    font-size: 17px;
    font-weight: $font-weight-bold;
    line-height: 1.375;
    margin: 0 0 8px;
  }

  &-text {
    //font-size: $font-size-md;
  }

  &-footer {
    //font-size: .9375*$font-size-base;
    background: transparent;
    font-weight: $font-weight-semibold;
    padding: .5*$font-size-base;

    p {
      margin: 0;
    }
  }

  p {
  }

}

.dropdown-item {
  font-size: $font-size-sm;
}

.about-us {
  figure {
    img {
      height: 96px;
      width: 96px;
    }
  }
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer li {
  margin: .5*$font-size-base 0;
  padding: 0;
}

@include media-breakpoint-down(sm) {
  header .jumbotron {
    p {
      &.lead {
        font-size: 1.25 * $font-size-base;
      }
    }
  }

  /*
  .navbar {
    &-nav {
      padding: 0 0 .5*$font-size-base;

      .nav-item {
        border-top: 1px solid map_get($grays, "300");
        font-size: $font-size-base;
        //margin: 0 .5*$font-size-base;
        margin: 0;
        padding: 0;

        .nav-link {
          padding: .5*$font-size-base;
        }

        .dropdown-item {
          padding: .5*$font-size-base;
        }

        .btn {
          border: 0;
          padding: .5*$font-size-base;
          text-align: left;
          width: 100%;
        }
      }
    }
  }
  */

  .card {
    /*
    background: transparent;
    box-shadow: none;
    border-width: 1px 0 0;
    */

    &-header {
      //padding: .75*$font-size-base 0;
    }

    &-body {
      //padding: .5*$font-size-base 0 $font-size-base;
    }

    &-footer {
      //padding: .5*$font-size-base 0 $font-size-base;
    }

  }
}

@include media-breakpoint-up(sm) {
  /*
  .display-1 {
    font-size: $display1-sm-size;
  }

  .display-1 {
    font-size: $display1-sm-size;
  }

  .display-2 {
    font-size: $display2-sm-size;
  }

  .display-3 {
    //font-size: $display3-sm-size;
    font-size: $display4-sm-size;
    font-weight: $font-weight-normal;
  }

  .display-4 {
    font-size: $display4-sm-size;
    font-weight: $font-weight-normal;
  }
  */

  /*
  .card {
    &-body {
      > figure {
        //flex: 0 0 10*$font-size-base;
        flex: 0 0 8*$font-size-base;
        margin: 0 $font-size-base 0 0;
        // +++
        overflow: hidden;
        position: relative;
      }

      figure + div {
        flex: 1 1;
      }
    }
  }

  .about-us {
    .card-body {
      > figure {
        flex: 0 0 8*$font-size-base;
        margin: 0 $font-size-base 0 0;
      }
    }
  }
  */
}

@include media-breakpoint-down(md) {
  /*
  .navbar {
    &-nav {
      .nav-item {
        .nav-link {
          font-size: $font-size-base;
        }

        .dropdown-menu {
          border: 0;

        }

        .dropdown-item {
          font-size: $font-size-base;
          padding-left: 2*$font-size-base;
        }

        .btn {
          font-size: $font-size-base;
        }
      }
    }
  }
  */
}

@include media-breakpoint-up(md) {
  /*
  .display-1 {
    font-size: $display1-md-size;
  }

  .display-2 {
    font-size: $display2-md-size;
    font-size: 28px;
    font-weight: 700;
    margin: 0;
  }

  .display-3 {
    font-size: $display3-md-size;
  }

  .display-4 {
    font-size: $display4-md-size;
  }

  header .jumbotron {
    padding: 32px 0;

  }
  */

  /*
  .card {
    &-title {
      border-bottom: 1px solid rgba(0, 0, 0, 0.125);
      box-sizing: content-box;
      max-height: 2.75em;
      min-height: 2.75em;
      padding-bottom: 8px;
    }
  }
  */

}

@include media-breakpoint-up(lg) {
  /*
  .navbar {
    height: $jumbotron-padding;
  }
  */

  body > section {
    padding: 3*$font-size-base 0;
  }

  section .display-2 {
    margin: 0 0 3*$font-size-base;
  }

  /*
  .card {
    &-body {
      > figure {
        margin: 0 0 8px;
      }
    }

    &-text {
      font-size: .8750 * $font-size-base;
    }
  }
  */

  .about-us {
    figure {
      img {
        height: 8*$font-size-base;
        width: 8*$font-size-base;
      }
    }
  }

  .footer-logos .d-flex {
    justify-content: center;
  }

  footer {
    font-size: $font-size-md;
  }

  .small {
    font-size: $font-size-sm;
  }

}


/* 88888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888 */

/*
.navbar {
  .input-group {
    margin: $font-size-base 0;
    width: 100%;

    input, button {
      font-size: $font-size-base;
      color: map_get($grays, "900");
    }
  }
}

@include media-breakpoint-up(md) {
  .navbar {
    .input-group {
      max-width: 400px;
      margin: 0;
    }
  }
}

@include media-breakpoint-up(lg) {
  .navbar {
    .input-group {
      max-width: 600px;

      input, button {
        font-size: $small-font-size;
      }
    }
  }
}
*/

#content {
  background: #faf9f8 !important;
  //margin: $jumbotron-padding-y 0 0;
  //padding: 7*$font-size-base 0;
  padding: 24px 0;
}

#content .display-2 {
  margin: 0 0 2*$font-size-base;
}

main.container {
  display: flex;
  flex-flow: column;
  padding: 0 4px;

  > aside, > section {

    header {
      /*
      align-items: flex-start;
      border-bottom: 1px solid map_get($grays, "300");
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      margin-bottom: $font-size-base;
      padding-bottom: $font-size-base;
      */

      h2 {
        /*
        color: map_get($grays, "900");
        color: darkcyan;
        display: block;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: .025em;
        line-height: 1;
        margin: $font-size-base 0 0;
        text-align: center;
        text-transform: uppercase;
        word-spacing: .05em;
        */
      }
    }
  }
}

.search-facets-lists {
  margin-top: -1px;

  .header-facet {
    font-weight: $font-weight-bold;
  }

  .list-group {
    margin-bottom: 8px;

    &-item {
      align-items: flex-start;
      display: flex;
      //font-size: $small-font-size;
      //padding: .5 * $font-size-base;

      .count-number {
        margin-left: $font-size-base;
      }

      &.selected {
        background-color: map_get($grays, "100");
        border-color: map_get($grays, "300");
        //color: $red;

        .count-number {
          color: transparent;
          position: relative;

          &::before {
            color: $dark;
            content: "\f00d";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            position: absolute;
            right: 0;
            text-align: center;
          }

        }

      }

    }
  }
}

#discovery-form {
  background: rgba(200, 200, 200, .25);

  button, input {
    color: map_get($grays, "900");
  }
}

@include media-breakpoint-up(md) {
}

@include media-breakpoint-up(lg) {
}

.sr, .inline-search-container .inline-search .search-bar-label, .element-invisible {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal;
}

.card-body {
  .element {
    display: flex;
    flex-flow: row nowrap;
    font-weight: $font-weight-bold;
    margin: 0 0 8px;
  }

}

/**
 * XI 2019
 */

.navbar {
  align-items: center;
  background-color: $white;
  box-shadow: 0 2px 6px -1px rgba(0, 0, 0, .2);
  box-sizing: border-box;
  display: flex;
  height: 52px;
  margin: 0;
  padding: 0 8px;

  > .container {
    height: 32px;
    justify-content: flex-start;
  }

  &-brand {
    display: flex;
    margin: 0 16px 0 0;
    padding: 0;

    img {
      height: 34px;
      position: relative;
      top: -2px;
    }

  }

  form {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    margin-left: 0;
    margin-right: 16px;

    .input-group {
      flex: 0 1 320px;

      .form-control {
        align-items: center;
        background-color: map_get($grays, "100");
        border-color: map_get($grays, "500");
        box-shadow: 0 2px 6px -3px map_get($grays, "500") inset;
        display: flex;
        font-size: 14px;
        height: 32px;
        justify-content: left;
        line-height: normal;
        padding: 0 4px;

        &::placeholder {
          color: map_get($grays, "500");
          font-weight: 400;
          line-height: normal;
        }

        &::-moz-placeholder { /* Firefox 19+ */
          line-height: 32px;
        }

      }

    }

  }

  #discovery-form {
    display: none;
  }

  .btn {
    align-items: center;
    background: $white;
    border-color: map_get($grays, "500");
    color: $dark;
    display: flex;
    font-size: 14px;
    height: 32px;
    justify-content: center;
    line-height: 1;
    width: 36px;

    &:focus {
      box-shadow: 0 0 0 0.2rem #dee2e6;
      outline: none;
    }

  }

  &-toggler {
    align-items: center;
    background: $white;
    border-color: map_get($grays, "500");
    color: $dark;
    display: flex;
    font-size: 14px;
    height: 32px;
    justify-content: center;
    line-height: 1;
    width: 36px;

    &:focus {
      box-shadow: 0 0 0 0.2rem #dee2e6;
      outline: none;
    }

    &-icon {
      background-image: none;
      height: 1em;
      width: 1em;
    }

  }

  .fa, .fas, .far {
    color: $red;
  }

  &-collapse {
    display: flex;
    flex-flow: column;
    align-items: stretch;

    &.show {
      background: $white;
      box-shadow: 0 4px 12px -4px map_get($grays, "600");
      bottom: 8px;
      left: 8px;
      position: fixed;
      right: 8px;
      top: 53px;

      .navbar-nav {
        background: $white;
        flex: 1;

        .nav-item {

          &.dropdown {
            order: 1;
            margin-top: auto;
          }

          .dropdown-toggle {
            display: none;
          }

          .dropdown-menu {
            display: flex;

            &::before {
              content: "Ustaw język platformy Navoica";
              display: flex;
              padding: 8px;
            }
          }

        }

      }

    }

    .navbar-nav {
      margin: 0;
      padding: 0;

      .nav-item {
        box-shadow: 0 -1px 0 map_get($grays, "300");
        font-size: 14px;
        margin: 0;
        padding: 0;

        .nav-link {
          padding: 8px;
        }

        .dropdown-menu {
          border-width: 0;
          flex-flow: column;
        }

        .dropdown-item {
          padding: 8px;

          img {
            margin-right: 8px;
          }

        }

        .btn {
          align-items: center;
          border: 0;
          color: $red;
          font-size: 16px;
          height: auto;
          justify-content: space-between;
          padding: 16px 8px;
          text-align: left;
          width: 100%;

          &::after {
            content: '\f061';
            flex: 0 0 auto;
            font-family: "Font Awesome 5 Free";
            font-size: 14px;
          }

          &-primary {
            background: $red;
            color: $white;
          }

        }

      }

    }

  }

  .collapsing {
    display: none;
    transition: none;
    -webkit-transition: none;
  }

}

@include media-breakpoint-up(lg) {
  .navbar {

    form {
      flex: 1 1 auto;
      margin-left: auto;
      margin-right: 4px;
    }

    &-toggler {
      display: none;
    }

    &-collapse {
      flex-grow: 1;

      &.show {
        background: transparent;
        box-shadow: none;
        position: static;

        .navbar-nav {
          background: $white;

          .nav-item {

            &.dropdown {
              order: initial;
              margin-top: 0;
            }

            .dropdown-toggle {
              display: block;
            }

            .dropdown-menu {
              display: none;

              &::before {
                content: none;
              }
            }

          }

        }

      }

      .navbar-nav {
        align-items: center;
        display: flex;
        flex: 1;
        flex-flow: row nowrap;
        justify-content: flex-end;

        .nav-item {
          box-shadow: none;
          display: flex;
          flex: 0 0 auto;
          flex-flow: row nowrap;
          margin-left: 0;

          &.dropdown {

            .btn,
            .nav-link {
              margin-right: 16px;

            }

            .dropdown-menu {
              border-width: 1px;
              display: none;

              &.show {
                display: block;
              }
            }

          }

          .btn {
            align-items: center;
            background: $white;
            border: 1px solid map_get($grays, "500");
            color: $red;
            display: flex;
            font-size: 14px;
            height: 32px;
            justify-content: center;
            line-height: 1;
            margin-left: 4px;
            padding: 8px;
            width: auto;

            &::after {
              content: none;
            }

            &-primary {
              background: $red;
              border-color: $red;
              color: $white;
            }

            &.cat {
              margin-right: 16px;
            }

          }

        }

      }

    }
  }

}

body {

  header#page-header {
    background-image: url(https://images.unsplash.com/photo-1542435503-956c469947f6?ixlib=rb-1.2.1&auto=format&fit=crop&w=2767&q=80);
    background-position: 50% 100%;
    background-size: cover;
    box-sizing: border-box;
    margin: 2rem 0 0;

    .jumbotron {
      background: rgba(255, 255, 255, .75);
      color: map_get($grays, "900");
      margin: 0;
      padding: 16px 4px;
    }

    .display-2 {
      font-size: 18px;
      line-height: 24px;
      font-weight: 700;
      margin: 0;

      + p {
        margin: 0;
        font-size: 14px;
      }
    }

  }

  #content {
    padding: 24px 0;

    > main {
      margin: 0 4px;
      width: auto;
    }

    #filters {
      //margin: 0 0 12px;

      > header {
        border-bottom: 1px solid map_get($grays, "300");
        display: flex;
        justify-content: space-between;
        padding: 0 0 12px;

        h2, a {
          font-size: 14px;
          font-weight: 700;
          line-height: 1;
          margin: 0;

          strong {
            font-weight: 700;
          }

        }
      }

      .custom-control {
        min-height: 1.5em;
        padding-left: 1.5em;

        .custom-control-label::after,
        .custom-control-label::before {
          top: 0.125em;
          left: -1.5em;
          width: 1em;
          height: 1em;
        }

      }

    }

    #results {

      > header {
        padding: 12px 0 12px;

        h2, a {
          font-size: 14px;
          font-weight: 400;
          line-height: 1;
          margin: 0;

          strong {
            font-weight: 700;
            margin: 0 .1em;
          }

        }
      }

      .row {
        .col-lg-3 {
          flex: 0 0 100%;
          margin: 0 0 8px !important;
          max-width: 100%;
        }
      }

      .card {
        flex-flow: column;
        padding: 12px 8px 8px;

        &-body {
          //display: flex;
          display: block;
          //flex-flow: column;
          padding: 0;
          position: relative;

          .course-card-label {
            align-items: center;
            //background: #ffd700;
            background: linear-gradient(135deg, #ffd700 0%, #ffe97f 100%);
            border: 0;
            color: map_get($grays, "900");
            display: flex;
            flex: 0 0 auto;
            font-size: 14px;
            font-weight: $font-weight-bold;
            right: -16px;
            line-height: 1;
            margin-right: 0;
            min-width: auto;
            padding: 6px 8px;
            position: absolute;
            text-transform: lowercase;
            top: -3px;
            z-index: 10;

            &::after {
              background: transparent;
              border-bottom: 9px solid transparent;
              border-left: 8px solid #debd0a;
              content: "";
              display: block;
              height: 9px;
              right: 0;
              position: absolute;
              top: 100%;
              width: 8px;
            }

          }

          .card-title {
            border: 0;
            font-size: 19px;
            font-weight: 700;
            line-height: 24px;
            margin: 0 0 8px;
            padding: 0;

            a {
              font-weight: inherit;
            }

          }

          .course-card-label + .card-title a {

            &::before {
              background: transparent;
              content: "";
              display: inline-block;
              float: right;
              height: 10px;
              width: 68px;
            }

          }

          .element {
            margin: 0 0 8px;
          }

          figure {
            //display: flex;
            display: block;
            //flex: 1;
            margin: 0 0 8px;
            padding-top: 56.25%;
            position: relative;

            img {
              height: 100%;
              object-fit: cover;
              position: absolute;
              top: 0;
              width: 100%;
            }

          }

          .card-meta {
            margin: 0 0 8px;

            .meta {
              margin: 0;
              padding: 0;

              li {
                //display: block;
                list-style: none;
                margin: 0;
                padding: 0;

                &::before {
                  content: "\2022";
                  display: none;
                  margin: 0 4px 0 0;
                  text-align: left;
                  width: 8px;
                }

                &:first-child {
                  &::before {
                  }
                }

                strong {
                }

              }
            }

          }

          .card-desc {
            //display: flex;
            margin: 0 0 16px;

            .card-text {
              margin: 0 0 8px;
            }

          }
        }

        .card-footer {
          font-weight: 400;
          margin: 0 0 8px;
          padding: 0;
          //text-align: center;

          .btn {
            margin: 0 0 8px;
            padding: 8px;
            width: 100%;

            &[disabled] {
              background: map_get($grays, "200");
              border-color: map_get($grays, "400");
              color: map_get($grays, "600");
              text-shadow: 1px 1px 0 $white;
            }

            &-success {
              //background: #33b133;
              background: map_get($grays, "200");
              border-color: map_get($grays, "400");
              color: #17a517;
            }

            h5 {
              font-size: 17px;
              font-weight: 700;
              line-height: 1.5;
              margin: 0;

              + p {
                font-size: 14px;
                font-weight: 600;
                line-height: 1.5;
              }

            }

          }

          > div > p {
            font-size: 14px;
            font-weight: 400;

            time {
              font-weight: 700;
              white-space: nowrap;
            }

          }

        }

      }
    }

  }

  > footer {
    padding: 0 4px;

    h4.mt-5 {
      font-size: 16px;
      line-height: 1;
      margin: 16px 0 8px !important;
    }
  }


  @include media-breakpoint-up(sm) {
    #content {
      > main {
      }

      #filters {
        > header {
          h2, a {
            strong {
            }
          }
        }

        .custom-control {
          .custom-control-label::after,
          .custom-control-label::before {
          }
        }
      }

      #results {
        > header {
          h2, a {
            strong {
            }
          }
        }

        .row {
          .col-lg-3 {
          }
        }

        .card {
          &-body {
            align-items: flex-start;
            display: flex;
            flex-flow: row wrap;

            .course-card-label {
              &::after {
              }
            }

            .card-title {
              flex: 0 0 100%;

              a {
              }
            }

            .course-card-label + .card-title a {
              &::before {
              }
            }

            .element {
              flex: 0 0 100%;
            }

            figure {
              flex: 0 0 128px;
              height: 72px;
              margin: 0 8px 12px 0;
              padding-top: 0;
              position: static;

              img {
                position: static;
              }
            }

            .card-meta {
              flex: 1;
              margin: 0 0 8px;

              .meta {
                li {
                  &::before {
                  }

                  &:first-child {
                    &::before {
                    }
                  }

                  strong {
                  }
                }
              }
            }

            .card-desc {
              margin: 0 0 8px;

              .card-text {
              }
            }
          }

          .card-footer {
            .btn {
              &[disabled] {
              }

              &-success {
              }

              h5 {
                + p {
                }
              }
            }

            > div > p {
              time {
              }
            }
          }
        }
      }
    }
  }

  @include media-breakpoint-up(lg) {

    #content {
      > main {
        align-items: stretch;
        flex-flow: row wrap;

        #filters, > section {
          header {
            display: flex;
            justify-content: space-between;
            padding: 0 0 12px;

            h2, a {
              font-size: $h6-font-size;
              line-height: 1;
              margin: 0;
              text-align: left;
            }
          }
        }

        #filters {
          flex: 0 0 254px;
          margin-right: 8px;
          padding-right: 8px;

          #search-facets-lists {
            display: block !important;
          }
        }

        > section {
          flex: 1 1;
        }

        #results {

          > header {
            padding: 0 0 12px;

          }
        }
      }
    }
  }

  @include media-breakpoint-up(lg) {
    header#page-header {
      background-position: 50% 40%;

      .jumbotron {
        padding: 24px 4px;
      }

      .display-2 {
        font-size: 21px;

        + p {
          font-size: 16px;
        }
      }
    }

    #content {
      > main {
        margin: 0 auto;
      }

      #filters {
        > header {
          h2, a {
            strong {
            }
          }
        }

        .custom-control {
          .custom-control-label::after,
          .custom-control-label::before {
          }
        }
      }

      #results {
        > header {
          h2, a {
            strong {
            }
          }
        }

        .row {
          .col-lg-3 {
          }
        }

        .card {
          flex-flow: row nowrap;

          &-body {
            box-shadow: 1px 0 0 map_get($grays, "300");
            flex: 1;
            margin-right: 16px;
            padding-right: 8px;

            .course-card-label {
              right: -8px;

              &::after {
              }
            }

            .card-title {
              a {
              }
            }

            .course-card-label + .card-title a {
              &::before {
              }
            }

            .element {
            }

            figure {
              img {
              }
            }

            .card-meta {
              .meta {
                li {
                  &::before {
                  }

                  &:first-child {
                    &::before {
                    }
                  }

                  strong {
                  }
                }
              }
            }

            .card-desc {
              .card-text {
              }
            }
          }

          .card-footer {
            flex: 0 0 250px;

            .btn {
              &[disabled] {
              }

              &-success {
              }

              h5 {
                + p {
                }
              }
            }

            > div > p {
              time {
              }
            }
          }
        }
      }
    }
  }

}


/**
   Begin of Accordion
 */

.accordion-anchor {
  position: relative;
  top: -56px;
  visibility: hidden;
}

.accordion {
  border: 1px solid map_get($grays, "300");
  border-top: 0;
  margin: 0 0 16px;

  &:last-child {
    border-bottom: 1px solid map_get($grays, "300");
  }

  .card {
    border: 0;
    box-shadow: none;

    &:last-child {
      border-bottom: 0 !important;
    }

    &-header {
      background: $white;
      border-top: 1px solid map_get($grays, "300");
      display: flex;
      margin: 0;
      padding: 0;
      width: 100%;

      .btn {
        align-items: flex-start;
        border: 0;
        cursor: default;
        display: flex;
        flex: 1;
        flex-flow: row nowrap;
        font-size: 14px;
        font-weight: 700;
        justify-content: space-between;
        padding: 8px 8px;
        text-align: left;
        width: 100%;

        &-link {
          color: map_get($grays, "900");

          &:focus {
            text-decoration: none;
          }

          &:hover {
            text-decoration: none;
          }
        }

        &[aria-expanded] {
          cursor: pointer;
        }

        &::before {
          align-self: flex-start;
          display: flex;
          font-family: "Font Awesome 5 Free";
          font-size: 12px;
          font-weight: 600;
          flex: 0 0 24px;
          justify-content: flex-end;
          line-height: 21px;
          order: 1;

        }

      }

    }

    &-body {
      font-size: 14px;
      padding: 8px 8px;

      > .accordion {
        margin: -8px -8px;

        > .card:last-of-type {
        }

      }

      p {
        font-size: 14px;

        &:last-child {
          margin: 0;
        }

      }

      .list-group {
        margin: -8px 0;
        padding: 0;

        &:not(:first-child) {
          margin-top: 8px;
        }

        &:not(:last-child) {
          border-bottom: 1px solid map_get($grays, "300");
          margin-bottom: 8px;
        }

        &-item {
          border: 0;
          border-top: 1px solid map_get($grays, "300");
          padding: 8px 0;

          &:hover {
            background: transparent;
          }

          &-action {
            color: $red;
            display: block;
            padding: 0;

            &:hover {
              background: transparent;
              cursor: pointer;
            }

            + p {
              margin-top: 8px;
            }
          }

          p {
            font-weight: $font-weight-normal;
          }

        }

      }

    }

  }

  &.faq {
    .card {

      &-header {

        .btn {
          justify-content: space-between;

          &-cat {
            font-size: 16px;
            font-weight: 700;
          }

          &[aria-expanded="false"]::before {
            content: "\f078";
          }

          &[aria-expanded="true"]::before {
            content: "\f077";
          }

        }

      }

    }

    .accordion {
      .card {

        &-header {

          .btn {
            font-weight: 600;
          }

        }

      }

    }

  }

  &.toc {
    .card {

      &-header {

        .btn {
          justify-content: flex-start;

          &[aria-expanded="false"]::before {
            content: "\f078";
          }

          &[aria-expanded="true"]::before {
            content: "\f054";
            left: 2px;
            position: relative;
          }

          &::before {
            flex: 0 0 20px;
            justify-content: flex-start;
            order: unset;
          }

        }

      }

      &-body {
        padding: 8px 8px 8px 28px;

        > .accordion {
          margin: -8px -8px;
        }

        p {
          font-size: 14px;
        }

      }

    }

    .accordion {

      .card {

        &.body {
          padding-left: 28px;
        }

      }

    }

  }

  .accordion {
    border: 0;

    .card {

      &-header {

        .btn {
          font-weight: 400;
        }

      }

    }

  }

}

@include media-breakpoint-up(lg) {
  .accordion {
    margin: 0 0 16px;

    .card {

      &-header {
        .btn {
          font-size: 16px;
          padding: 12px 8px;
        }
      }

      &-body {
        font-size: 16px;
        padding: 12px 8px;

        > .accordion {
          margin: -12px -8px;

        }

        p {
          font-size: 16px !important;

          &:last-child {
            margin: 0;
          }

        }

        .list-group {
          margin: -12px 0;
          padding: 0;

          &:not(:first-child) {
            margin-top: 12px;
          }

          &:not(:last-child) {
            border-bottom: 1px solid map_get($grays, "300");
            margin-bottom: 12px;
          }

          &-item {
            border: 0;
            border-top: 1px solid map_get($grays, "300");
            padding: 12px 0;

            &:hover {
              background: transparent;
            }

            &-action {
              &:hover {
                background: transparent;
                cursor: pointer;
              }

              + p {
                margin-top: 12px;
              }
            }

            p {
              font-weight: $font-weight-normal;
            }

          }

        }

      }

    }

    &.toc {
      .card {

        &-body {
          font-size: 16px;
          padding: 12px 8px 12px 28px;

          > .accordion {
            margin: -12px -8px;
          }

          p {
            font-size: 16px;
          }

        }

      }

    }

    &.faq {
      .card {

        &-header {

          .btn {

            &-cat {
              font-size: 18px;
            }
          }

        }

      }

    }

  }

}

/**
   End of FAQ Accordion
 */


/**
   Begin of FAQ Categories
 */

#faq-categories {
  display: flex;
  flex-flow: column;
  justify-content: stretch;
  margin: 0 0 32px;

  > .list-group-item {
    align-items: flex-start;
    box-shadow: 0 4px 12px -2px map_get($grays, "300"), 0 -2px 4px -4px map_get($grays, "300");
    color: $red;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0 0 8px;

    &:hover {
      cursor: pointer;
    }

    i {
      align-items: center;
      background: map_get($grays, "100");
      border: 1px solid map_get($grays, "200");
      border-radius: 50%;
      padding: 4px;
      display: flex;
      flex: 0 0 36px;
      font-size: 18px;
      height: 36px;
      justify-content: center;
      margin-right: 8px;
    }

    div {
      align-items: flex-start;
      display: flex;
      flex: 1;
      flex-flow: column;
      justify-content: flex-start;

      h5 {
        font-size: 16px;
        line-height: 1.5;
        margin: -4px 0 0;
      }

      p {
        margin: 0;
      }

    }


  }

}

@include media-breakpoint-up(md) {
  #faq-categories {
    flex-flow: row wrap;
    justify-content: flex-start;
    margin: 0 -2% 32px 0;

    > .list-group-item {
      flex: 0 1 32%;
      flex-flow: row wrap;
      margin: 0 1% 8px 0;
      min-height: 88px;
    }

  }

}

@include media-breakpoint-up(lg) {
  #faq-categories {

    > .list-group-item {
      padding: 12px 8px;

      div {

        h5 {
          font-size: 18px;
        }

      }

    }

  }

}

.accordion {

  &-wrapper {
    margin-bottom: 32px;
  }

  &-switch {

    > div {
      display: flex;
    }

  }

}

/**
   End of FAQ Categories
 */


#filters {
  display: none !important;
}


/**
 Zaświadczenie
 */

@function get-vw($target) {
  $vw-context: (1000*.01) * 1px;
  @return ($target/$vw-context) * 1vw;
}

$cw: 100vw - get-vw(16px);

@function calc-interpolation($min-screen, $min-value, $max-screen, $max-value) {
  $a: ($max-value - $min-value) / ($max-screen - $min-screen);
  $b: $min-value - $a * $min-screen;

  $sign: "+";
  @if ($b < 0) {
    $sign: "-";
    $b: abs($b);
  }
  @return calc(#{$a*100}vw #{$sign} #{$b});
}

@mixin interpolate($properties, $min-screen, $max-screen, $min-value, $max-value) {
  & {
    @each $property in $properties {
      #{$property}: $min-value;
    }

    @media screen and (min-width: $min-screen) {
      @each $property in $properties {
        #{$property}: calc-interpolation($min-screen, $min-value, $max-screen, $max-value);
      }
    }

    @media screen and (min-width: $max-screen) {
      @each $property in $properties {
        #{$property}: $max-value;
      }
    }
  }
}

/*
 * Certificate
 */

@media only screen {
  body {
    #content {
      main {
        &.container {
          flex-direction: column;
        }

        section {
          display: flex;
          flex-direction: column;
          @include interpolate(font-size, 328px, 1000px, 4.480px, 14px);

          #authentication {
            background: $white;
            box-shadow: 0 4px 12px -2px map_get($grays, "300"), 0 -2px 4px -4px map_get($grays, "300");
            display: flex;
            flex-direction: column;
            flex: 0 0 50em;
            justify-content: flex-start;
            margin: 0 auto;
            width: 100%;

            > header {
              align-items: flex-end;
              background: #fb2f2e;
              background-image: url(../assets/header.jpg);
              background-position: center bottom;
              background-size: cover;
              border-bottom: .429em solid #959d9d;
              box-sizing: border-box;
              color: $white;
              display: flex;
              font-size: inherit;
              font-weight: 300;
              flex: 0 0 9.643em;
              justify-content: space-around;
              padding-bottom: .714em;
              text-transform: uppercase;

              > div {
                font-size: 4.5em;
                line-height: 1;
              }

            }

            > footer {
              background: #fb2f2e;
              background-image: url(../assets/header.jpg);
              background-position: center bottom;
              background-size: cover;
              border-top: .429em solid #959d9d;
              box-sizing: content-box;
              flex: 0 0 2em;
              margin-top: auto;
            }

            > div {
              display: flex;
              flex: 1;
              flex-direction: column;
              justify-content: flex-start;
              padding: 0 4em;

              .hr {
                background: #fb2f2e;
                border: 0;
                display: block;
                height: .214em;
                margin-bottom: 1.286em;
                width: 14.286em;
              }

              .label {
                font-size: inherit;
                margin-bottom: .429em;
              }

              p {
                margin: 0;
              }

              #logos {
                display: flex;
                height: 6.429em;
                padding: 1.287em 0 2.286em;

                #platform {
                  flex: 1;

                  img {
                    height: 2.857em;
                  }
                }

                #administrator {
                  flex: 0 1 12.857em;

                  img {
                    max-height: 2.857em;
                  }
                }
              }

              #person {
                margin-bottom: 1.286em;
                margin-left: 14.286em;

                h1 {
                  font-size: 2.571em;
                  letter-spacing: .02em;
                  line-height: 1;
                  margin: 0;
                  word-spacing: .02em;
                }
              }

              #course {
                display: flex;

                .label {
                  box-sizing: border-box;
                  display: flex;
                  flex: 0 0 14.286em;
                  justify-content: flex-end;
                  margin-top: 1.714em;
                  padding-right: 2em;

                  > div {
                    font-size: 1.286em;
                  }

                }

                #title {
                  //margin-bottom: 3.214em;

                  h2 {
                    font-size: 1.714em;
                    line-height: 1.250;
                    margin: 0;
                  }
                }

              }

            }

            #authentication-info {
              display: flex;
              justify-content: space-between;
              margin-bottom: 1.429em;
              margin-top: auto;

              .hr {
                margin-bottom: .429em;
              }

              .value {
                font-size: 1.429em;
                font-weight: 700;
                line-height: 1.2;
              }

              #authentication-date {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                #authentication-note {
                  margin-right: 7.857em;
                }
              }

              #experts {
                flex: 0 0 21.429em;

                > .label {
                  margin-bottom: 0;
                }

                .signature {
                  height: 3.214em;
                }
              }
            }
          }
        }

      }
    }
  }
}

@media only print {
  @page {
    margin: 0;
    padding: 0;
    size: A4 landscape;
  }

  html {
    background: white;
    margin: 0;
    padding: 0;
  }

  body {
    background: white;
    height: 190mm;
    margin: 10mm auto 0;
    padding: 0;
    width: 270mm;

    > nav, > header, > footer {
      display: none !important;
    }

    #content {
      background: white !important;
      padding: 0 !important;

      main {
        margin: 0 auto !important;
        padding: 0 !important;

        &.container {
          flex-direction: column;
        }

        section {
          align-items: flex-start;
          display: flex;
          flex-direction: column;
          //@include interpolate(font-size, 328px, 1000px, 4.480px, 14px);
          font-size: 10.5pt;

          #authentication {
            background: $white;
            box-shadow: none;
            display: flex;
            flex-direction: column;
            flex: 0 0 190mm;
            justify-content: flex-start;
            margin: 0 auto;
            width: 270mm;

            > header {
              align-items: flex-end;
              background: #fb2f2e;
              background-image: url(../assets/header.jpg);
              background-position: center bottom;
              background-size: cover;
              border-bottom: .429em solid #959d9d;
              box-sizing: border-box;
              color: $white;
              display: flex;
              font-size: inherit;
              font-weight: 300;
              flex: 0 0 9.643em;
              justify-content: space-around;
              padding-bottom: .714em;
              text-transform: uppercase;

              > div {
                font-size: 4.5em;
                line-height: 1;
              }

            }

            > footer {
              background: #fb2f2e;
              background-image: url(../assets/header.jpg);
              background-position: center bottom;
              background-size: cover;
              border-top: .429em solid #959d9d;
              box-sizing: content-box;
              flex: 0 0 2em;
              margin-top: auto;
            }

            > div {
              display: flex;
              flex: 1;
              flex-direction: column;
              justify-content: flex-start;
              padding: 0 4em;

              .hr {
                background: #fb2f2e;
                border: 0;
                display: block;
                height: .214em;
                margin-bottom: 1.286em;
                width: 14.286em;
              }

              .label {
                font-size: inherit;
                margin-bottom: .429em;
              }

              p {
                margin: 0;
              }

              #logos {
                display: flex;
                height: 6.429em;
                padding: 1.287em 0 2.286em;

                #platform {
                  flex: 1;

                  img {
                    height: 2.857em;
                  }
                }

                #administrator {
                  flex: 0 1 12.857em;

                  img {
                    max-height: 2.857em;
                  }
                }
              }

              #person {
                margin-bottom: 1.286em;
                margin-left: 14.286em;

                h1 {
                  font-size: 2.571em;
                  letter-spacing: .02em;
                  line-height: 1;
                  margin: 0;
                  word-spacing: .02em;
                }
              }

              #course {
                display: flex;

                .label {
                  box-sizing: border-box;
                  display: flex;
                  flex: 0 0 14.286em;
                  justify-content: flex-end;
                  margin-top: 1.714em;
                  padding-right: 2em;

                  > div {
                    font-size: 1.286em;
                  }

                }

                #title {
                  //margin-bottom: 3.214em;

                  h2 {
                    font-size: 1.714em;
                    line-height: 1.250;
                    margin: 0;
                  }
                }

              }

            }

            #authentication-info {
              display: flex;
              justify-content: space-between;
              margin-bottom: 1.429em;
              margin-top: auto;

              .hr {
                margin-bottom: .429em;
              }

              .value {
                font-size: 1.429em;
                font-weight: 700;
                line-height: 1.2;
              }

              #authentication-date {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                #authentication-note {
                  margin-right: 7.857em;
                }
              }

              #experts {
                flex: 0 0 21.429em;

                > .label {
                  margin-bottom: 0;
                }

                .signature {
                  height: 3.214em;
                }
              }
            }
          }

          #authentication + div {
            display: none !important;
          }

        }

      }
    }
  }
}

@include media-breakpoint-up(lg) {
  body {
    #content {
      main {
        &.container {
          flex-direction: column;
        }

        section {
          display: flex;
          flex-direction: column;

          #authentication {
            flex: 0 0 700px;
            width: 1000px;
          }

        }

      }
    }
  }
}

@include media-breakpoint-up(lg) {
  body {
    .jumbotron {
      > .container {
        padding: 0;
      }
    }

    #content {
      main {
        &.container {
          padding: 0;
        }
      }
    }
  }
}


//old footer, navbar and btn

.fa, .fas {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}

.fa-download::before {
  content: "\f019";
}

.introduction-copy {
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
}

footer {
  display: block;

  .container {
    max-width: 1280px;
  }

  .container, .container-fluid {
    width: 100%;
    padding-right: 8px;
    padding-left: 8px;
    margin-right: auto;
    margin-left: auto;
  }

  .footer-copyright {
    text-align: center;
    font-size: 12px;
    color:
    #c2c2c2;
    padding: 24px 0px;
    margin: 0px;
  }

  .border-top {
    border-top: 1px solid #dee2e6 !important;
  }

  .mb-3 {
    margin-bottom: 0.5rem !important;
  }

  h4 {
    font-weight: 600;
  }

  a:not(.card) {
    font-weight: 600;
  }
}

#authentication {
  font-family: "Signika Negative", "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}