<div class="videojs_block">
    <style scoped>.vjs-menu-item {
        margin-bottom: 0 !important
    }</style>
    <h2>{{ display_name }}</h2>
    <video class="video-js vjs-default-skin" controls
           src="https://objectstorage.eu-frankfurt-1.oraclecloud.com/n/opiopc/b/OPI_public_1/o/videos%2F{{ url }}"
           preload="auto" width="100%" height="400" data-setup='{"language":"pl"}'>
        <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that
            <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
        {% if subtitle_url %}
        <track kind='captions' src='{{ subtitle_url }}'
               srclang='pl' label='Polski' default/>
        {% endif %}

    </video>
    {% if allow_download or source_url != "" %}
        <ul>
            {% if allow_download %}
                <li class="video-download-button">
                    <a href="https://objectstorage.eu-frankfurt-1.oraclecloud.com/n/opiopc/b/OPI_public_1/o/videos%2F{{ url }}"
                       download>Download the video</a>
                </li>
            {% endif %}
            {% if source_url != "" %}
                <li class="video-download-button">
                    <a href="https://objectstorage.eu-frankfurt-1.oraclecloud.com/n/opiopc/b/OPI_public_1/o/videos%2F{{ source_url }}"
                       download>{% if source_text == "" %}Download the source document{% else %}
                        {{ source_text }}{% endif %}</a>
                </li>
            {% endif %}
        </ul>
    {% endif %}
</div>