<div class="videojs_block">
    <h2>{{ display_name }}</h2>
    <video id="navoica-video" controls class="video-js vjs-fluid"
           preload="auto"
           data-setup='{"language":"pl"}'>

        {% if 'youtube' in url or 'youtu.be' in url %}
        <source src="{{ url }}"
                type="video/youtube"/>
        {% else %}
        <source
                src="https://objectstorage.eu-frankfurt-1.oraclecloud.com/n/opiopc/b/OPI_public_1/o/videos%2F{{ url }}"
                type="video/mp4"/>
        {% endif %}
        <p class="vjs-no-js">Aby obejrzeć ten film, włącz JavaScript i rozważ
            uaktualnienie do przeglądarki internetowej która
            <a href="http://videojs.com/html5-video-support/" target="_blank">obsługuje
                wideo HTML5</a></p>
        {% if subtitle_url %}
        <track kind='captions' src='{{ subtitle_url }}'
               srclang='pl' label='Polski' default/>
        {% endif %}
    </video>
</div>
