#page-footer {
  > .container {
    margin: 0 auto;
    padding: 16px 8px;
  }

  h4 {
    font-size: 16px;
    font-weight: 700;
  }

  ul {
    list-style: none;
    padding: 0 0 16px;
  }

}