<%def name="online_help_token()"><% return "course" %></%def>
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
from six import text_type
%>
<%page args="course" expression_filter="h"/>



<div class="col-lg-3 col-md-6 mb-3">
	<a href="${reverse('about_course', args=[text_type(course.id)])}" class="card h-100">
		<div class="card-body d-flex flex-column flex-sm-row flex-md-row flex-lg-column">
		 <%
			  course_start_date = course.advertised_start or course.start
	 	 %>
			<figure>
	  			<img class="card-img-top" src="${course.course_image_url}" alt="">
			</figure>
	   	    <h4 class="card-title">${course.display_name_with_default}</h4>
         </div>

		<div class="card-footer small">
			% if course.organizer:
				<p class="card-text">${settings.ALL_COURSE_ORGANIZER_DICT[course.organizer]}</p>
	  		% endif
			% if course_start_date is not None:
                ${_('Starts')}:  <span class="localized_datetime" data-language="${LANGUAGE_CODE}" data-format-language="${LANGUAGE_CODE}" data-format="shortDate" data-datetime="${course_start_date}"></span>
            % endif
        </div>
	</a>
</div>

<%static:require_module_async module_name="js/dateutil_factory" class_name="DateUtilFactory">
DateUtilFactory.transform(iterationKey=".localized_datetime");
</%static:require_module_async>
