## mako
<%page expression_filter="h"/>
<%!
from datetime import date
from django.core.urlresolvers import reverse
from django.utils.translation import ugettext as _
from branding.api import get_footer
from openedx.core.djangoapps.lang_pref.api import footer_language_selector_is_enabled
from django.conf import settings
%>
<% footer = get_footer(is_secure=is_secure) %>
<%namespace name='static' file='static_content.html'/>

<footer class="border-top d-print-none">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mr-auto">
                <h4 class="mt-5 mb-3">${_('Navoica.pl')}</h4>
                <p align="justify">${_('Polish MOOC platform offering free of charge online courses for every registered user.')}</p>
                <a href="https://www.facebook.com/NAVOICA/" target="_blank">
                    <div class="fb-link-icon">
                        <i class="fab fa-facebook-f m-auto" alt="Facebook"></i>
                    </div>
                </a>
            </div>

            <div class="col-lg-3">
                <h4 class="mt-5 mb-3">${_('About us')}</h4>
                <ul>
                    % for item_num, link in enumerate(footer['navigation_links'], start=1):
                    <li>
                        <a href="${link['url']}">${link['title']}</a>
                    </li>
                    % endfor
                </ul>
            </div>

            <div class="col-lg-3">
                <h4 class="mt-5 mb-3">${_('Legal information')}</h4>
                <ul>
                    <li><a href="/tos">${_('Terms of use')}</a></li>
                    <li><a href="/privacy">${_('Privacy Policy')}</a></li>
                    <li><a href="/honor">${_('Honor code ')}</a></li>
                </ul>
            </div>
        </div>
        
        <div class="row footer-logos mt-5 pt-5 mb-5 border-top justify-content-between flex-md-row flex-column">
            <a href="http://www.nauka.gov.pl/" target="_blank">
                <img style="width:18.563rem" src="/static/images/patrons/logo_mnisw.jpg" alt="${_('Ministry of Science and Higher Education')}">
                <span class="sr">${_('open in a new window')}</span>
            </a>
            <a href="https://www.krasp.org.pl/" target="_blank">
                <img style="width:8rem" src="/static/images/patrons/logo_krasp.jpg" alt="${_('The Conference of Rectors of Academic Schools in Poland')}">
                <span class="sr">${_('open in a new window')}</span>
            </a>
           <a href="http://fmn.org.pl/" target="_blank">
               <img style="width:13.75rem" src="/static/images/patrons/logo_fmn.jpg" alt="${_('The Young Science Foundation')}">
               <span class="sr">${_('open in a new window')}</span>
           </a>
           <a href="https://opi.org.pl/" target="_blank">
               <img style="width:11.313rem" src="/static/images/patrons/logo_opi_pib.png" alt="${_('National Information Processing Institute – National Research Institute')}">
               <span class="sr">${_('open in a new window')}</span>
            </a>
        </div>
        <% current_year = date.today().year %>
        <p class="footer-copyright"><span>&copy; Copyright 2018-${current_year} Navoica.pl</span> — ${_('All rights reserved  ')} | ver. Nawojka ${ settings.PLATFORM_VERSION }</p>
    </div>
</footer>

% if include_dependencies:
<%static:js group='base_vendor'/>
<%static:css group='style-vendor'/>
<%include file="widgets/segment-io.html" />
<%include file="widgets/segment-io-footer.html" />
% endif
% if footer_css_urls:
% for url in footer_css_urls:
<link rel="stylesheet" type="text/css" href="${url}"></link>
% endfor

</body>
</html>
% endif
