## mako
<%page expression_filter="h" args="online_help_token"/>
<%!
from datetime import date
from django.core.urlresolvers import reverse
from django.utils.translation import ugettext as _
from branding.api import get_footer
from openedx.core.djangoapps.lang_pref.api import footer_language_selector_is_enabled
from django.conf import settings
%>
<%namespace name='static' file='static_content.html'/>
<%include file="${static.get_template_path(relative_path='header/header.html')}"  args="online_help_token=online_help_token"  />

