<%page expression_filter="h"/>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse

from openedx.core.djangolib.markup import HTML, Text
%>

<%block name="pagetitle"> ${_('Polish MOOC platform')}</%block>

<header id="header">
    <div id="jumbotron">
        <div class="container">
            <h1 class="display-1 text-center text-uppercase text-darkblack">${_('ACCESSIBLE KNOWLEDGE')}</h1>
            <p class="lead text-center my-3">${_('Free online courses offered by Polish universities and institutions')}</p>
	      % if settings.FEATURES.get('ENABLE_COURSE_DISCOVERY'):
				<form method="get" action="/courses">
					<div class="input-group my-2 p-2">
					  <input class="form-control form-control-lg" type="search" name="search_query" placeholder="${_('What do you want to learn?')}">
					  <button class="btn btn-outline-secondary btn-lg" type="submit" id="button-addon2">${_('Search')}</button>
					  </div>
			  </form>
		   % endif
		</div>
	  </div>
	</div>
</section>
<%include file="index_promo_video.html" />
</header>

<%include file="${courses_list}" />
<section class="about-us border-top">
    <div class="container">

        <h2 class="display-2 text-center">${_('About Navoica')}</h2>

        <div class="row">
            <div class="col-md-4 mb-3 h-100 text-center">
                <div class="card-body d-flex flex-column flex-sm-row flex-md-column">
                    <figure class="mb-3">
                        <img class="mx-auto" src="/static/images/navoica-wirtualne-kursy.png" alt="">
                    </figure>
                    <div class="text-sm-left text-md-center">
                        <h3 class="card-title">${_('Wide range of online courses ')}</h3>
                        <p class="card-text">${_('A broad spectrum of courses with varying levels of expertise. Everyone can find an interesting course for themselves.')}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 h-100 text-center">
                <div class="card-body d-flex flex-column flex-sm-row flex-md-column">
                    <figure class="mb-3">
                        <img class="mx-auto" src="/static/images/navoica-platforma-ksztalcenia.png" alt="">
                    </figure>
                    <div class="text-sm-left text-md-center">
                        <h3 class="card-title">${_('Publicly available learning platform')}</h3>
                        <p class="card-text">${_('We reach anyone who wants to learn \\u2013 regardless of their age or place of residence.')}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 h-100 text-center">
                <div class="card-body d-flex flex-column flex-sm-row flex-md-column">
                    <figure class="mb-3">
                        <img class="mx-auto" src="/static/images/navoica-siec-wspolpracy.png" alt="">
                    </figure>
                    <div class="text-sm-left text-md-center">
                        <h3 class="card-title">${_('Network of universities and institutions ')}</h3>
                        <p class="card-text">${_('New online learning ecosystem brings together: universities, research institutes, businesses and NGOs. Find out more about Navoica')}</p>
                    </div>
                </div>
            </div>
        </div>

      <div class="mt-4 text-center" style="display: none">
            <a class="btn btn-outline-primary btn-lg" href="" target="_blank" role="button">${_('Find out more about Navoica')}</a>
      </div>

    </div>

</section>

% if show_homepage_promo_video:
  <section id="video-modal" class="modal home-page-video-modal video-modal">
    <div class="inner-wrapper">
      <iframe title="YouTube Video" width="640" height="360" src="//www.youtube.com/embed/${homepage_promo_video_youtube_id}?showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
  </section>
% endif

<%block name="js_extra">
   <script type="text/javascript">
      $(window).load(function() {
         if(getParameterByName('next')) {
              $('#login').trigger("click");
         }
      })
   </script>
</%block>

% if show_signup_immediately is not UNDEFINED:
  ## NOTE: This won't work in production, because anonymous views are cached, so it will
  ## show either with or without this extra js for 3 minutes at a time.
<script type="text/javascript">
  $(window).load(function() {$('#signup_action').trigger("click");});
</script>
<script src="jjs/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
% endif
