<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
%>


<aside id="filter" class="sidebar">
  <header id="header-login">
    <h2 id="h2">
      <span class="d-none d-md-block">${_("Helpful Information")}</span>
    </h2>
  </header>

      % if settings.FEATURES.get('AUTH_USE_OPENID'):
    <!-- <div class="cta cta-login-options-openid">
      <h3>${_("Login via OpenID")}</h3>
      <p>${_('You can now start learning with {platform_name} by logging in with your <a rel="external" href="http://openid.net/">OpenID account</a>.').format(platform_name=platform_name)}</p>
      <a class="action action-login-openid" href="#">${_("Login via OpenID")}</a>
    </div> -->
    % endif
  
  <div id="basic-data-facets" class="collapse">
    <ul class="course-details list-group list-group-flush">
      <li class="list-group-item">
        <div class="course-details-icon easy">
          <i class="fas fa-user-times" aria-hidden="true"></i>
        </div>
        <div class="course-details-content">
          <h3 class="custom-h6">${_("Not Enrolled?")}</h3>
          <div><a href="${reverse('register_user')}">${_("Sign up for {platform_name} today!").format(platform_name=platform_name)}</a></div>
        </div>
      </li>

    % if settings.MKTG_URL_LINK_MAP.get('FAQ'):
      <li class="list-group-item">
        <div class="course-details-icon">
          <i class="far fa-envelope-open" aria-hidden="true"></i>
        </div>
        <div class="course-details-content">
          <h3 class="custom-h6">${_("Need Help?")}</h3>
          <div>${_("Looking for help signing in or with your {platform_name} account?").format(platform_name=platform_name)}<br>
          Skontaktuj się z naszym działem pomocy technicznej dostępnym pod adresem <a href="mailto:mooc_help@opi.org.pl">mooc_help@opi.org.pl</a>.
          </div>
         </div>
       </li>
    </ul>
    <a href="https://www.facebook.com/NAVOICA/" class="fb-link-icon-big center" target="_blank">
      <i class="fab fa-facebook-f m-auto" title="${_('Navoica page on Facebook')}"></i>
      <span class="sr">${_('open in a new window')}</span>
    </a>
   </div>
  % endif
</aside>
