<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>

<%!
from django.core.urlresolvers import reverse
from django.utils.translation import ugettext as _
import third_party_auth
from third_party_auth import provider, pipeline
%>

<%block name="pagetitle">${_("Log in")}</%block>

<%block name="bodyclass">view-loginn</%block>

<%block name="js_extra">
  <script type="text/javascript">
	  let $loginInput = $('.js-input-login');
	  let $email = $('#email');
	  let $password = $('#password');
	  let $jsEmailField = $('.js-email-field');
	  let $jsPasswordField = $('.js-password-field');
	  let $loginForm = $('#login-form');

    $(function() {

      // adding js class for styling with accessibility in mind
      $('body').addClass('js');

      // show forgot password modal UI if URL contains matching DOM ID
      if ($.deparam.fragment()['forgot-password-modal'] !== undefined) {
        $('.pwd-reset').click();
      }

      // new window/tab opening
      $('a[rel="external"], a[class="new-vp"]')
      .click( function() {
        window.open( $(this).attr('href') );
        return false;
      });

      // form field label styling on focus
      $("form :input").focus(function() {
        $("label[for='" + this.id + "']").parent().addClass("is-focused");
      }).blur(function() {
        $("label").parent().removeClass("is-focused");
      });

      $email.focus();
    });

    (function() {
      toggleSubmitButton(true);

		$loginForm.on('submit', function() {
        toggleSubmitButton(false);
      });

		$loginForm.on('ajax:error', function(event, request, status_string) {
        toggleSubmitButton(true);

        if (request.status === 403) {
          $('.message.submission-error').removeClass('is-shown');
          $('.third-party-signin.message').addClass('is-shown').focus();
          $('.third-party-signin.message .instructions').html(request.responseText);
        } else {
          $('.third-party-signin.message').removeClass('is-shown');
          $('.message.submission-error').addClass('is-shown').focus();
          $('.message.submission-error').html(gettext("Your request could not be completed.  Please try again."));
        }
      });

		$loginForm.on('ajax:success', function(event, json, xhr) {
        if(json.success) {
          var nextUrl = "${login_redirect_url}";
          if (json.redirect_url) {
            nextUrl = json.redirect_url; // Most likely third party auth completion. This trumps 'nextUrl' above.
          }
          if (!isExternal(nextUrl)) {
            location.href=nextUrl;
          } else {
            location.href="${reverse('dashboard')}";
          }
        } else if(json.hasOwnProperty('redirect')) {
          // Shibboleth authentication redirect requested by the server:
          var u=decodeURI(window.location.search);
          if (!isExternal(json.redirect)) { // a paranoid check.  Our server is the one providing json.redirect
              location.href=json.redirect+u;
          } // else we just remain on this page, which is fine since this particular path implies a login failure
            // that has been generated via packet tampering (json.redirect has been messed with).
        } else {
          toggleSubmitButton(true);
          if ($email.val() !== '' && $('#password').val() !== '') {
			  $('.message.submission-error').addClass('is-shown').focus();
			  $('.message.submission-error .message-copy').html(json.value);
			  $loginInput.attr('aria-invalid', true).addClass('error-field');
			  $('.js-error-message').html(json.value);
		  } else {
			  if ($email.val() === '') {
				  $('.message.submission-error').removeClass('is-shown');
				  $jsEmailField.find('#email').attr('aria-invalid', true).addClass('error-field');
				  $jsEmailField.find('.js-error-message').text("${_('Fill e-mail address')}");
			  } else {
				  $jsEmailField.find('#email').removeAttr('aria-invalid').removeClass('error-field');
				  $jsEmailField.find('.js-error-message').text('');
			  }

			  if ($password.val() === '') {
				  $('.message.submission-error').removeClass('is-shown');
				  $jsPasswordField.find('#password').attr('aria-invalid', true).addClass('error-field');
				  $jsPasswordField.find('.js-error-message').text("${_('Fill password')}");
			  } else {
				  $jsPasswordField.find('#password').removeAttr('aria-invalid').removeClass('error-field');
				  $jsPasswordField.find('.js-error-message').text('');
			  }
		  }

        }
      });

		$loginInput.removeAttr('aria-invalid').removeClass('error-field');
		$(".js-forgot-password-link").click(function() {
			$("#forgot-password-modal").show();
			$("#forgot-password-modal .close-modal").focus();
		});

    })(this);

    function toggleSubmitButton(enable) {
      var $submitButton = $('form .form-actions #submit');

      if(enable) {
        $submitButton.
          removeClass('is-disabled').
          attr('aria-disabled', false).
          removeProp('disabled').
          removeAttr('disabled').
          html("<i class='fas fa-check' aria-hidden='true'></i> ${_('Sign in')}");
      }
      else {
        $submitButton.
          addClass('is-disabled').
          prop('disabled', true).
          text("${_(u'Processing your account information')}");
      }
    }

    function thirdPartySignin(event, url) {
      event.preventDefault();
      window.location.href = url;
    }

    (function post_form_if_pipeline_running(pipeline_running) {
       // If the pipeline is running, the user has already authenticated via a
       // third-party provider. We want to invoke /login_ajax to loop in the
       // code that does logging and sets cookies on the request. It is most
       // consistent to do that by using the same mechanism that is used when
       // the use does first-party sign-in: POSTing the sign-in form.
       if (pipeline_running) {
		   $loginForm.submit();
       }
    })(${pipeline_running})
  </script>
</%block>

<%include file="forgot_password_modal.html" />





<div id="content" class="border-top">
  <main class="login" id="skip-main">
  
  %if banner_account_activation_message:
	<div class="dashboard-banner">
		<div class="wrapper-msg urgency-high">
		  <div class="msg">
			<div class="msg-content">
			  <h2 class="title">${_("You're almost there!")}</h2>
			  <div class="copy">
				<p class='activation-message'>
					${ banner_account_activation_message | n, decode.utf8 }
				</p>
			  </div>
			</div>
		  </div>
		</div>
	</div>
%endif

%if account_activation_messages:
  <div class="activation-message-container">
	% for account_activation_message in account_activation_messages:
	  <div class="account-activation ${account_activation_message.tags}" role="alert" aria-label="Account Activation Message" tabindex="-1">
		<div class="message-copy nomargin" >
		  ${ account_activation_message | n, decode.utf8 }
		</div>
	  </div>
	% endfor
  </div>
%endif

    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-home" role="tabpanel">
        <div class="d-flex">
          <article id="result">
           <header class="header-login">
             <h2 class="custom-h2">
               <span class="d-none d-md-block">${_("Login form")}</span>
             </h2>
            </header>
            <h1 class="mt-0"><strong>${_("Please log in")}</strong><br>${_("to access your account and courses")}</h1>
      
      <form id="login-form" method="post" data-remote="true" action="/login_ajax" novalidate autocomplete="off">

		  <!-- status messages -->
		  <div role="alert" class="status message" id="alert-info" tabindex="-1">
			<h3 class="message-title">${_("We're Sorry, {platform_name} accounts are unavailable currently").format(platform_name=platform_name)}</h3>
		  </div>

		  <div role="alert" class="status message submission-error" id="alert-primary" tabindex="-1">
			<h3 class="message-title">${_("We couldn't log you in.")} </h3>
			<ul class="message-copy">
			  <li>${_("Your email or password is incorrect")}</li>
			</ul>
		  </div>

		  <div role="alert" class="third-party-signin message" tabindex="-1">
			<p class="instructions"> </p>
		  </div>

		  % if third_party_auth_error:
			<div role="alert" class="status message third-party-auth-error is-shown" tabindex="-1">
			  <h3 class="message-title">${_("An error occurred when signing you in to {platform_name}.").format(platform_name=platform_name)} </h3>
			  <ul class="message-copy">
				<li>${third_party_auth_error}</li>
			  </ul>
			</div>
		  % endif

		  <p class="instructions">
			${_('Please provide the following information to log into your {platform_name} account. Required fields are noted by <strong class="indicator">an asterisk (*)</strong>.').format(platform_name=platform_name)}
		  </p>

		  <div class="group group-form group-form-requiredinformation">
			<h2 class="sr">${_('Required Information')}</h2>
			
			<div class="form-group form-group-required field text js-email-field">
              <label for="email">E-mail <sup><i class="fa fa-asterisk text-navoica-red pr-1 f-10" aria-hidden="true"></i><span class="visible-hidden text-navoica-red f-14">(${_('required')})</span></sup></label>
              <input class="form-control js-input-login" id="email" type="email" name="email" value="" spellcheck="false" placeholder="${_('example: username@domain.com')}" autocomplete="on" required aria-required="true" aria-describedby="emailHelp">
				<small id="error-email" aria-atomic="true" aria-live="assertive" class="js-error-message text-navoica-red"></small>
				<small id="emailHelp" class="tip tip-input form-text text-darkgrey">${_("This is the e-mail address you used to register with {platform}").format(platform=platform_name)}</small>
			</div>
            <div class="form-group form-group-required field password js-password-field">
              <div class="d-flex justify-content-between align-items-center">
                <label for="password">${_('Password')} <sup><i class="fa fa-asterisk text-navoica-red pr-1 f-10" aria-hidden="true"></i><span class="visible-hidden text-navoica-red f-14">(${_('required')})</span></sup></label>
              </div>
              <input type="password" class="form-control js-input-login" id="password" name="password" value="" spellcheck="false" autocapitalize="off" required aria-required="true">
				<small aria-atomic="true" aria-live="assertive" class="js-error-message text-navoica-red"></small>
            </div>
		  </div>
		  <div class="form-group d-flex justify-between flex-sm-row">
              <div class="custom-control custom-checkbox mr-auto">
				<label for="customCheck1">
                	<input type="checkbox" class="custom-control-input" id="customCheck1" name="remember" aria-label="${_('Remember me')}">
				  	<span class="custom-control-label font-weight-normal">${_('Remember me')}</span>
                </label>
              </div>
			  <div class="tip tip-input">
				  <a href="#forgot-password-modal" data-toggle="modal" data-target="forgot-password-modal" rel="leanModal" class="pwd-reset action action-forgotpw text-navoica-red js-forgot-password-link" role="button" aria-haspopup="true">${_('Forgot password?')}</a>
			  </div>
            </div>
          <div class="form-actions login-button">
            <button type="submit" class="btn btn-primary action action-primary action-update" name="submit" id="submit"><i class="fas fa-check" aria-hidden="true"></i> ${_('Sign in')}</button>
          </div>
		</form>
		% if third_party_auth.is_enabled():

		  <span class="deco-divider">
			## Developers: this is a sentence fragment, which is usually frowned upon.  The design of the pags uses this fragment to provide an "else" clause underneath a number of choices.  It's OK to leave it.
			## Translators: this is the last choice of a number of choices of how to log in to the site.
			<!--<span class="copy">${_('or')}</span>-->
		  </span>

		<div class="form-actions form-third-party-auth">


		% for enabled in provider.Registry.displayed_for_login():
		  ## Translators: provider_name is the name of an external, third-party user authentication provider (like Google or LinkedIn).
		  <button type="submit" class="button button-primary button-${enabled.provider_id} login-${enabled.provider_id}" onclick="thirdPartySignin(event, '${pipeline_url[enabled.provider_id]}');">
			% if enabled.icon_class:
			<span class="icon fa ${enabled.icon_class}" aria-hidden="true"></span>
			% else:
			<span class="icon" aria-hidden="true"><img class="icon-image" src="${enabled.icon_image.url}" alt="${enabled.name} icon" /></span>
			% endif
			${_('Sign in with {provider_name}').format(provider_name=enabled.name)}
		  </button>
		% endfor

		</div>

		% endif


       </article>

	<%
	  # allow for theming overrides on the registration sidebars, otherwise default to pre-existing ones
	  sidebar_file = static.get_template_path('login-sidebar.html')
	%>

		<%include file="${sidebar_file}" />


     </div> 
    </div>
	</div>
  </main>
</div>
