## mako

<%page args="active_page=None" expression_filter="h" />
<%namespace name='static' file='/static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.utils import translation
from django.conf import settings
from django.contrib.staticfiles import finders
from openedx.core.djangolib.js_utils import dump_js_escaped_json
from openedx.core.djangolib.markup import HTML, Text
from xmodule.partitions.partitions_service import get_all_partitions_for_course
from courseware.courses import get_course_about_section
%>

<%
show_preview_menu = course and staff_access and supports_preview_menu
%>


<script type="module" src="${static.url('js/course_info.js')}"></script>

% if request.path.endswith("course/"):

<%
  if course.organizer:
      def get_translation_in(language, s):
          with translation.override(language):
              return translation.gettext(s)

      course_organize = settings.ALL_COURSE_ORGANIZER_DICT[course.organizer]
      if not finders.find('images/org/{}.png'.format(course_organize)):
          course_organize = get_translation_in('pl', settings.ALL_COURSE_ORGANIZER_DICT[course.organizer])
%>

% if show_preview_menu:
    <%
    def selected(is_selected):
      return "selected" if is_selected else ""

    course_partitions = get_all_partitions_for_course(course)
    masquerade_user_name = masquerade.user_name if masquerade else None
    masquerade_group_id = masquerade.group_id if masquerade else None
    staff_selected = selected(not masquerade or masquerade.role != "student")
    specific_student_selected = selected(not staff_selected and masquerade.user_name)
    student_selected = selected(not staff_selected and not specific_student_selected and not masquerade_group_id)
    %>


<header class="header-course bg-light">
  <div class="jumbotron">
    <div class="container">
      <div class="d-flex">
        <article>

          <h1 class="display-2">${course.display_name_with_default}</h1>
          <p class="lead mt-3">${_("Course edition")}: <strong>${course.id.run}</strong></p>
          <p class="lead mby-3">${get_course_about_section(request, course, "short_description")}</p>

        <div class="wrapper-preview-menu">
          <div class="preview-menu">
           <div class="action-preview">
             <form action="#" class="action-preview-form" method="post">
                <div class="action-preview-actions">
                  <label>${_("View this course as")}</label>
		    <select id="action-preview-select" class="custom-select action-preview-select">
			<option value="staff" ${staff_selected}>${_("Staff")}</option>
			<option value="student" ${student_selected}>${_("Learner")}</option>
			<option value="specific student" ${specific_student_selected}>${_("Specific learner")}</option>
			% if course_partitions:
			  % for course_partition in course_partitions:
			    % for group in sorted(course_partition.groups, key=lambda group: group.name):
				<option value="group.id" data-group-id="${group.id}" data-partition-id="${course_partition.id}" ${selected(masquerade_group_id== group.id)}>${_("Learner in {content_group}").format(content_group=group.name)}</option>
			    % endfor
			  % endfor
			% endif
		      </select>
                </div>
		<div class="action-preview-username-container">
		    <label for="action-preview-username">${_("Username or email:")}</label>
		    <input type="text" class="form-control action-preview-username js-learner-username" id="action-preview-username">
		</div>
		<button type="submit" class="sr-only" name="submit" value="submit">${_("Set preview mode")}</button>
	     </form>
	    </div>
	    % if specific_student_selected:
	      <div class="preview-specific-student-notice">
		<p>${Text(_("You are now viewing the course as {i_start}{user_name}{i_end}.")).format(
								user_name=masquerade_user_name,
								i_start=HTML(u'<i>'),
								i_end=HTML(u'</i>'),
							)}
		</p>
              </div>
	    % endif
	  </div>
	</div>
     </article>

  <aside>
        <div class="sidebar-right-header">
            <h2>${_("Course Organizer")}</h2>
	    </div>
	    <div class="d-flex flex-column flex-sm-row flex-md-row flex-lg-column">
           <div class="organizer-logo">
              <p class="mt-2 mx-auto text-center">
                % if course_organize:
                      <img src="/static/images/org/${course_organize}.png" alt="${course_organize}" height="80" class="d-block mt-4">
                % endif
              </p>
            </div>
        </div>
  </aside>

    </div>
  </div>
  </div>
</header>


    <%
    preview_options = {
        "courseId": course.id,
        "disableStudentAccess": disable_student_access if disable_student_access is not UNDEFINED else False,
        "specificStudentSelected": specific_student_selected,
        "masqueradeUsername" : masquerade_user_name if masquerade_user_name is not UNDEFINED else None,
    }
    %>
    <%static:require_module_async module_name="lms/js/preview/preview_factory" class_name="PreviewFactory">
        PreviewFactory(${preview_options | n, dump_js_escaped_json});
    </%static:require_module_async>

% else:

% if course:
<header class="header-course bg-light course-container-heading">
  <div class="jumbotron">
    <div class="container">
      <div class="d-flex">
        <article>
          <h1 class="display-2">${course.display_name_with_default}</h1>
          <p class="lead mt-3"> ${_("Course edition")}: <strong>${course.id.run}</strong></p>
          <p class="lead mby-3">${get_course_about_section(request, course, "short_description")}</p>
     </article>
  <aside>
    <div class="sidebar-right-header">
	    <!-- <h2>Organizator</h2> -->
        <h2>${_("Course Organizer")}</h2>
	</div>
	<div class="d-flex flex-column flex-sm-row flex-md-row flex-lg-column">
           <div class="organizer-logo">
              <p class="mt-2 mx-auto text-center">
                % if course_organize:
                      <img src="/static/images/org/${course_organize}.png" alt="${course_organize}" height="80" class="d-block mt-4">
                % endif
              </p>
            </div>
    </div>
	</aside>

    </div>
  </div>
  </div>
</header>


% endif

% endif

% else:

<div class="header-course bg-light course-container-heading"></div>

% endif

% if show_preview_menu and not request.path.endswith("course/"):
	<%
    def selected(is_selected):
      return "selected" if is_selected else ""

    course_partitions = get_all_partitions_for_course(course)
    masquerade_user_name = masquerade.user_name if masquerade else None
    masquerade_group_id = masquerade.group_id if masquerade else None
    staff_selected = selected(not masquerade or masquerade.role != "student")
    specific_student_selected = selected(not staff_selected and masquerade.user_name)
    student_selected = selected(not staff_selected and not specific_student_selected and not masquerade_group_id)
  %>
	<header class="header-course bg-light row justify-content-md-center">
		<div class="col-md-6 pt-4">
			<div class="wrapper-preview-menu">
			  <div class="preview-menu">
			   <div class="action-preview">
				 <form action="#" class="action-preview-form" method="post">
					<div class="action-preview-actions">
					  <label>Zobacz ten kurs jako</label>
				<select id="action-preview-select" class="custom-select action-preview-select">
				<option value="staff" ${staff_selected}>${_("Staff")}</option>
				<option value="student" ${student_selected}>${_("Learner")}</option>
				<option value="specific student" ${specific_student_selected}>${_("Specific learner")}</option>
				% if course_partitions:
				  % for course_partition in course_partitions:
					% for group in sorted(course_partition.groups, key=lambda group: group.name):
					<option value="group.id" data-group-id="${group.id}" data-partition-id="${course_partition.id}" ${selected(masquerade_group_id== group.id)}>${_("Learner in {content_group}").format(content_group=group.name)}</option>
					% endfor
				  % endfor
				% endif
				  </select>
					</div>
			<div class="action-preview-username-container">
				<label for="action-preview-username">${_("Username or email:")}</label>
				<input type="text" class="form-control action-preview-username js-learner-username" id="action-preview-username">
			</div>
			<button type="submit" class="sr-only" name="submit" value="submit">${_("Set preview mode")}</button>
			 </form>
			</div>
			% if specific_student_selected:
			  <div class="preview-specific-student-notice">
			<p>${Text(_("You are now viewing the course as {i_start}{user_name}{i_end}.")).format(
									user_name=masquerade_user_name,
									i_start=HTML(u'<i>'),
									i_end=HTML(u'</i>'),
								)}
			</p>
				  </div>
			% endif
		  </div>
		</div>
	</div>
	</header>

	    <%
    preview_options = {
        "courseId": course.id,
        "disableStudentAccess": disable_student_access if disable_student_access is not UNDEFINED else False,
        "specificStudentSelected": specific_student_selected,
        "masqueradeUsername" : masquerade_user_name if masquerade_user_name is not UNDEFINED else None,
    }
    %>
    <%static:require_module_async module_name="lms/js/preview/preview_factory" class_name="PreviewFactory">
        PreviewFactory(${preview_options | n, dump_js_escaped_json});
    </%static:require_module_async>
% endif
