<%page expression_filter="h"/>
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
%>
<%namespace file='main.html' import="login_query"/>
<%namespace name='static' file='static_content.html'/>


% if has_extauth_info is UNDEFINED:

<div id="basic-data-facets" class="collapse">
  <ul class="course-details list-group list-group-flush">
    <li class="list-group-item">
      <div class="course-details-icon easy">
        <i class="fas fa-user-check" aria-hidden="true"></i>
      </div>
      <div class="course-details-content">
        <h6>${_("Already registered?")}</h6>
        <div>
          <a class="btn-login-action" href="${reverse('signin_user')}${login_query()}">
      ${_("Log in")} </a>
        </div>
      </div>
    </li>

% endif

## TODO: Use a %block tag or something to allow themes to
##       override in a more generalizable fashion.
    <li class="list-group-item">
      <div class="course-details-icon">
        <i class="fas fa-graduation-cap" aria-hidden="true"></i>
      </div>
      <div class="course-details-content">
        <h6>${_("Welcome to {platform_name}").format(platform_name=platform_name)}</h6>
        <div>${_("Registering with {platform_name} gives you access to all of our current and future free courses. Not ready to take a course just yet? Registering puts you on our mailing list - we will update you as courses are added.").format(platform_name=platform_name)}
        </div>
      </div>
    </li>

    <li class="list-group-item">
      <div class="course-details-icon">
        <i class="fas fa-arrow-right" aria-hidden="true"></i>
      </div>
      <div class="course-details-content">
        <h6>${_("Next Steps")}</h6>
        <div>${_("As part of joining {platform_name}, you will receive an email message with instructions for activating your account. Don't see the email? Check your spam folder and mark {platform_name} emails as 'not spam'. At {platform_name}, we communicate mostly through email.").format(platform_name=platform_name)}
        </div>
      </div>
    </li>

% if settings.MKTG_URL_LINK_MAP.get('FAQ'):
    <li class="list-group-item">
      <div class="course-details-icon">
        <i class="far fa-envelope-open" aria-hidden="true"></i>
      </div>
      <div class="course-details-content">
        <h6>${_("Need Help?")}</h6>
        <div>${_("Need help registering with {platform_name}?").format(platform_name=platform_name)}
    	${_(" Please contact our Help Center at ")}	
          <a href="mailto:mooc_help@opi.org.pl">
            ${_("mooc_help@opi.org.pl.")}
          </a>
          <br>
        ${_("You can find the answers to most of your questions in our list of FAQs. After you enroll in a course, you can also find answers in the course discussions.")}</p>
        </div>
      </div>
    </li>
  </ul>
</div>
% endif
