<%!
import third_party_auth
from third_party_auth import pipeline, provider
from django.utils.translation import ugettext as _, ungettext
from django_countries import countries
from student.models import UserProfile
%>

<input type="hidden" name="csrfmiddlewaretoken" value="${ csrf_token }">

<!-- status messages -->
<div id="alert-info" role="alert" class="status message" tabindex="-1">
    <h3 class="message-title">${_("We're sorry, but this version of your browser is not supported. Try again using a different browser or a newer version of your browser.")}</h3>
</div>

<div id="alert-primary" role="alert" class="status message submission-error" tabindex="-1">
    <h3 class="message-title">${_("The following errors occurred while processing your registration:")}</h3>
    <ul class="message-copy js-alert-error-message"></ul>
</div>

% if third_party_auth.is_enabled():

% if not running_pipeline:

<div class="form-actions form-third-party-auth">

    % for enabled in provider.Registry.displayed_for_login():
    ## Translators: provider_name is the name of an external, third-party user authentication service (like Google or LinkedIn).
    <button type="submit" class="button button-primary button-${enabled.provider_id} register-${enabled.provider_id}" onclick="thirdPartySignin(event, '${pipeline_urls[enabled.provider_id]}');">
        % if enabled.icon_class:
        <span class="icon fa ${enabled.icon_class}" aria-hidden="true"></span>
        % else:
        <span class="icon" aria-hidden="true"><img class="icon-image" src="${enabled.icon_image.url}" alt="${enabled.name} icon"/></span>
        % endif
        ${_('Sign up with {provider_name}').format(provider_name=enabled.name)}
    </button>
    % endfor

</div>

<!--<span class="deco-divider">
    ## Developers: this is a sentence fragment, which is usually frowned upon.  The design of the pags uses this fragment to provide an "else" clause underneath a number of choices.  It's OK to leave it.
    ## Translators: this is the last choice of a number of choices of how to log in to the site.
    <span class="copy">${_('or')}</span>
  </span>-->

<p class="instructions">
    ${_('Create your own {platform_name} account below').format(platform_name=platform_name)}
    <span class="note">${_('Required fields are noted by <strong class="indicator">an asterisk (*)</strong>.')}</span>
</p>


% else:

<p class="instructions">
    ## Translators: selected_provider is the name of an external, third-party user authentication service (like Google or LinkedIn).
    ${_("You've successfully signed in with {selected_provider}.").format(selected_provider='<strong>%s</strong>' % selected_provider)}<br/>
    ${_("We just need a little more information before you start learning with {platform_name}.").format(platform_name=settings.PLATFORM_NAME)}
</p>

% endif

% else:

<p class="instructions">
    ${_("Please complete the following fields to register for an account. ")}<br/>
    ${_('Required fields are noted by <strong class="indicator">an asterisk (*)</strong>.')}
</p>

% endif

<div class="group ml-2">
    <h2 class="sr">${_('Required Information')}</h2>

    % if has_extauth_info is UNDEFINED:

    <div class="list-input">
        <div class="field text form-group form-group-required js-email-field" id="field-email">
            <label for="email">${_('E-mail')}<sup><i class="fa fa-asterisk text-navoica-red pr-1 f-10" aria-hidden="true"></i><span class="text-navoica-red f-14">(${_('required')})</span></sup></label>
            <input class="form-control js-register-field" id="email" type="email" name="email" value="${email}" placeholder="${_('example: username@domain.com')}" spellcheck="false" autocomplete="on" required aria-required="true"/>
            <small aria-atomic="true" aria-live="assertive" class="js-error-message text-navoica-red d-flex flex-nowrap"></small>
        </div>

        <div class="field text form-group form-group-required js-name-field" id="field-name">
            <label for="name">${_('Full Name')}<sup><i class="fa fa-asterisk text-navoica-red pr-1 f-10" aria-hidden="true"></i><span class="text-navoica-red f-14">(${_('required')})</span></sup></label>
            <input class="form-control js-register-field" id="name" type="text" name="name" value="${name}" placeholder="${_('example: Jane Doe')}" required aria-required="true" aria-describedby="name-tip"/>
            <small aria-atomic="true" aria-live="assertive" class="js-error-message text-navoica-red d-flex flex-nowrap"></small>
            <span class="tip tip-input text-darkgrey" id="name-tip">${_("Your legal name, used for any certificates you earn.")}</span>
        </div>
        <div class="field text form-group form-group-required js-username-field" id="field-username">
            <label for="username">${_('Public Username')}<sup><i class="fa fa-asterisk text-navoica-red pr-1 f-10" aria-hidden="true"></i><span class="text-navoica-red f-14">(${_('required')})</span></sup></label>
            <input class="form-control js-register-field" id="username" type="text" name="username" value="${username}" placeholder="${_('example: JaneDoe')}" required aria-required="true" aria-describedby="username-tip"/>
            <small aria-atomic="true" aria-live="assertive" class="js-error-message text-navoica-red d-flex flex-nowrap"></small>
            <span class="tip tip-input text-darkgrey" id="username-tip">${_('Will be shown in any discussions or forums you participate in')} <strong>(${_('cannot be changed later')})</strong></span>
        </div>

        % if third_party_auth.is_enabled() and running_pipeline:

        <div class="is-disabled field optional password form-group form-group-required field-password js-password-field" hidden>
            <label for="password">${_('Password')}</label>
            <input class="form-control js-register-field" id="password" type="password" name="password" value="" spellcheck="false" disabled required aria-required="true"/>
            <small aria-atomic="true" aria-live="assertive" class="js-error-message text-navoica-red d-flex flex-nowrap"></small>
        </div>

        % else:

        <div class="field form-group form-group-required field-password js-password-field">
            <label for="password">${_('Password')}<sup><i class="fa fa-asterisk text-navoica-red pr-1 f-10" aria-hidden="true"></i><span class="text-navoica-red f-14">(${_('required')})</span></sup></label>
            <input class="form-control js-register-field" id="password" type="password" name="password" value="" spellcheck="false" required aria-required="true" aria-describedby="password-tip"/>
            <small aria-atomic="true" aria-live="assertive" class="js-error-message text-navoica-red d-flex flex-nowrap"></small>
            <span class="tip tip-input text-darkgrey" id="password-tip">
				<% min_length = 8 %>
                ${_("Your password must be at least {num} characters long.").format(num=min_length)}
			</span>
        </div>

        <div class="field password form-group form-group-required field-password js-confirm-password-field">
            <label for="confirm_password">${_('Confirm Password')}<sup><i class="fa fa-asterisk text-navoica-red pr-1 f-10" aria-hidden="true"></i><span class="text-navoica-red f-14">(${_('required')})</span></sup></label>
            <input class="form-control js-register-field" id="confirm_password" type="password" value="" spellcheck="false" required aria-required="true" name="confirm_password" />
            <small aria-atomic="true" aria-live="assertive" class="js-error-message text-navoica-red d-flex flex-nowrap"></small>
        </div>

        % endif
    </div>

    % else:

    <div class="message">
        <h3 class="message-title">${_("Welcome {username}").format(username=extauth_id)}</h3>
        <p class="message-copy">${_("Enter a Public Display Name:")}</p>
    </div>

    <div class="list-input">

        % if ask_for_email:

        <div class="field text js-email-field" id="field-email">
            <label for="email">${_("E-mail")}<sup><i class="fa fa-asterisk text-navoica-red pr-1 f-10" aria-hidden="true"></i><span class="text-navoica-red f-14">(${_('required')})</span></sup></label>
            <input class="js-register-field" id="email" type="email" name="email" value="" placeholder="${_('example: username@domain.com')}" spellcheck="false" required aria-required="true"/>
            <small aria-atomic="true" aria-live="assertive" class="js-error-message text-navoica-red d-flex flex-nowrap"></small>
        </div>

        % endif

        <div class="field text js-username-field" id="field-username">
            <label for="username">${_('Public Display Name')}<sup><i class="fa fa-asterisk text-navoica-red pr-1 f-10" aria-hidden="true"></i><span class="text-navoica-red f-14">(${_('required')})</span></sup></label>
            <input class="js-register-field" id="username" type="text" name="username" value="${extauth_username}" placeholder="${_('example: JaneDoe')}" required aria-required="true" aria-describedby="username-tip"/>
            <small aria-atomic="true" aria-live="assertive" class="js-error-message text-navoica-red d-flex flex-nowrap"></small>
            <span class="tip tip-input text-darkgrey" id="username-tip">${_('Will be shown in any discussions or forums you participate in')} <strong>(${_('cannot be changed later')})</strong></span>
        </div>

        % if ask_for_fullname:

        <div class="field text js-name-field" id="field-name">
            <label for="name">${_('Full Name')} <sup><i class="fa fa-asterisk text-navoica-red pr-1 f-10" aria-hidden="true"></i><span class="text-navoica-red f-14">(${_('required')})</span></sup></label>
            <input class="js-register-field" id="name" type="text" name="name" value="" placeholder="$_('example: Jane Doe')}" aria-describedby="name-tip"/>
            <small aria-atomic="true" aria-live="assertive" class="js-error-message text-navoica-red d-flex flex-nowrap"></small>
            <span class="tip tip-input text-darkgrey" id="name-tip">${_("Your legal name, used for any certificates you earn.")}</span>
        </div>

        % endif

    </div>

    % endif
</div>

<div class="group pt-5 mt-5 ml-2">
    <h2 class="sr">${_("Additional Personal Information")}</h2>

    <div class="list-input">
        % if settings.REGISTRATION_EXTRA_FIELDS['city'] != 'hidden':
        <div class="field ${settings.REGISTRATION_EXTRA_FIELDS['city']} text" id="field-city">
            <label for="city">${_('City')}</label>
            <input id="city" type="text" name="city" value="" placeholder="${_('example: New York')}" ${'required aria-required="true"' if settings.REGISTRATION_EXTRA_FIELDS['city'] == 'required' else ''} />
        </div>
        % endif
        % if settings.REGISTRATION_EXTRA_FIELDS['country'] != 'hidden':
        <div class="field-group form-group form-group-${settings.REGISTRATION_EXTRA_FIELDS['country']}">
            <div class="field ${settings.REGISTRATION_EXTRA_FIELDS['country']} select border-0" id="field-country">
                <label for="country">${_("Country")}</label>
                <select class="custom-select ${settings.REGISTRATION_EXTRA_FIELDS['country']}" id="country" name="country" ${'required aria-required="true"' if settings.REGISTRATION_EXTRA_FIELDS['country'] == 'required' else ''}>
                <option value="PL">${_("Poland")}</option>
                %for code, country_name in countries:
                <option value="${code}">${ unicode(country_name) }</option>
                %endfor
                </select>
            </div>
        </div>
        % endif
        % if settings.REGISTRATION_EXTRA_FIELDS['level_of_education'] != 'hidden':
        <div class="field-group field-education-level  form-group form-group-${settings.REGISTRATION_EXTRA_FIELDS['level_of_education']}">
            <div class="field ${settings.REGISTRATION_EXTRA_FIELDS['level_of_education']} select border-0" id="field-education-level">
                <label for="education-level">${_("Highest Level of Education Completed")}</label>
                <select class="custom-select" id="education-level" name="level_of_education" ${'required aria-required="true"' if settings.REGISTRATION_EXTRA_FIELDS['level_of_education'] == 'required' else ''}>
                <option value="">--</option>
                %for code, ed_level in UserProfile.LEVEL_OF_EDUCATION_CHOICES:
                <option value="${code}">${_(ed_level)}</option>
                %endfor
                </select>
            </div>
        </div>
        % endif

        <div class="row mx-0">
            <div class="col-md-6 pl-md-0 pl-0">
                % if settings.REGISTRATION_EXTRA_FIELDS['gender'] != 'hidden':
                <div class="field-group field-gender form-group form-group-${settings.REGISTRATION_EXTRA_FIELDS['gender']}">
                    <div class="field ${settings.REGISTRATION_EXTRA_FIELDS['gender']} select border-0" id="field-gender">
                        <label for="gender">${_("Gender")}</label>
                        <select class="form-control" id="gender" name="gender" ${'required aria-required="true"' if settings.REGISTRATION_EXTRA_FIELDS['gender'] == 'required' else ''}>
                        <option value="">--</option>
                        %for code, gender in UserProfile.GENDER_CHOICES:
                        <option value="${code}">${_(gender)}</option>
                        %endfor
                        </select>
                    </div>
                </div>
            </div>
            % endif
            % if settings.REGISTRATION_EXTRA_FIELDS['year_of_birth'] != 'hidden':
            <div class="col-md-6 pr-md-0 pl-0">
                <div class="field-group field-yob form-group form-group-${settings.REGISTRATION_EXTRA_FIELDS['year_of_birth']}">
                    <div class="field ${settings.REGISTRATION_EXTRA_FIELDS['year_of_birth']} select border-0" id="field-yob">
                        <label for="yob">${_("Year of Birth")}</label>
                        <select class="form-control" id="yob" name="year_of_birth" ${'required aria-required="true"' if settings.REGISTRATION_EXTRA_FIELDS['year_of_birth'] == 'required' else ''}>
                        <option value="">--</option>
                        %for year in UserProfile.VALID_YEARS:
                        <option value="${year}">${year}</option>
                        %endfor
                        </select>
                    </div>
                    % endif
                </div>
            </div>

        </div>
    </div>

    % if settings.REGISTRATION_EXTRA_FIELDS['goals'] != 'hidden':
    <div class="group group-form group-form-personalinformation2">
        <div class="list-input">
            % if settings.REGISTRATION_EXTRA_FIELDS['mailing_address'] != 'hidden':
            <div class="field ${settings.REGISTRATION_EXTRA_FIELDS['mailing_address']} text" id="field-address-mailing">
                <label for="address-mailing">${_("Mailing Address")}</label>
                <textarea id="address-mailing" name="mailing_address" value="" ${'required aria-required="true"' if settings.REGISTRATION_EXTRA_FIELDS['mailing_address'] == 'required' else ''}></textarea>
            </div>
            % endif

            % if settings.REGISTRATION_EXTRA_FIELDS['goals'] != 'hidden':
            <div class="field ${settings.REGISTRATION_EXTRA_FIELDS['goals']} text" id="field-goals">
                <label for="goals">${_("Please share with us your reasons for registering with {platform_name}").format(platform_name=platform_name)}</label>
                <textarea class="form-control" id="goals" name="goals" value="" ${'required aria-required="true"' if settings.REGISTRATION_EXTRA_FIELDS['goals'] == 'required' else ''}></textarea>
            </div>
            % endif
        </div>
    </div>
    % endif
</div>

<div class="group pt-5 mt-5 ml-2">
    <h2 class="sr">${_("Account Acknowledgements")}</h2>


    % if has_extauth_info is UNDEFINED or ask_for_tos :


    <div class="form-group js-terms-of-service-field">
        <div class="custom-control custom-checkbox">
            <input type="checkbox" name="terms_of_service" class="custom-control-input js-register-field" id="terms_of_service" value="true" required aria-required="true">
            <label class="custom-control-label" for="terms_of_service">${_('I agree to the {link_start}Terms of Service{link_end}').format(
                link_start='<a href="{url}" class="new-vp text-navoica-red">'.format(url=marketing_link('TOS')),
                    link_end='</a>')} <sup><i class="fa fa-asterisk text-navoica-red pr-1 f-10" aria-hidden="true"></i><span class="text-navoica-red f-14">(${_('required')})</span></sup></label>
        </div>
        <small aria-atomic="true" aria-live="assertive" class="js-error-message text-navoica-red d-flex flex-nowrap"></small>
    </div>
    % endif

    % if settings.REGISTRATION_EXTRA_FIELDS['honor_code'] != 'hidden':
    ## check if we have an Honor Code link in our marketing map
    % if marketing_link('HONOR') and marketing_link('HONOR') != '#':

    <div class="form-group js-honor-code-field">
        <div class="custom-control custom-checkbox">
            <input name="honor_code" type="checkbox" class="custom-control-input js-register-field" id="honor_code" value="true" required aria-required="true">
            <%
            honor_code_path = marketing_link('HONOR')
            %>
            <label class="custom-control-label" for="honor_code">${_('I agree to the {link_start}Honor Code{link_end}').format(
                link_start='<a href="{url}" class="new-vp text-navoica-red">'.format(url=honor_code_path),
                    link_end='</a>')} <sup><i class="fa fa-asterisk text-navoica-red pr-1 f-10" aria-hidden="true"></i><span class="text-navoica-red f-14">(${_('required')})</span></sup></label>
        </div>
        <small aria-atomic="true" aria-live="assertive" class="js-error-message text-navoica-red d-flex flex-nowrap"></small>
    </div>


    % endif
    % endif

</div>


<div class="login-button form-actions">
    <button type="submit" class="btn btn-primary" id="submit"><i class="fas fa-check" aria-hidden="true"></i> ${_('Register')}</button>
</div>
