<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%namespace file='main.html' import="login_query"/>
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
from django.utils import html
from django_countries import countries
from student.models import UserProfile
from datetime import date
import third_party_auth
from third_party_auth import pipeline, provider
import calendar
%>

<%block name="pagetitle">${_("Register for {platform_name}").format(platform_name=platform_name)}</%block>

<%block name="bodyclass">view-register</%block>

<%block name="js_extra">
<script type="text/javascript">
    $(function () {

        // adding js class for styling with accessibility in mind
        $('body').addClass('js');

        // new window/tab opening
        $('a[rel="external"], a[class="new-vp"]')
            .click(function () {
                window.open($(this).attr('href'));
                return false;
            });

        // form field label styling on focus
        $("form :input").focus(function () {
            $("label[for='" + this.id + "']").parent().addClass("is-focused");
        }).blur(function () {
            $("label").parent().removeClass("is-focused");
        });

    });


    (function () {
        toggleSubmitButton(true);

        $('#register-form').on('submit', function () {
            toggleSubmitButton(false);
        });

        $('#register-form').on('ajax:error', function () {
            toggleSubmitButton(true);
        });

        $('#register-form').on('ajax:success', function (event, json, xhr) {
            var nextUrl = "${login_redirect_url}";
            if (json.redirect_url) {
                nextUrl = json.redirect_url; // Most likely third party auth completion. This trumps 'nextUrl' above.
            }
            if (!isExternal(nextUrl)) {
                location.href = nextUrl;
            } else {
                location.href = "${reverse('dashboard')}";
            }
        });

        let validationPattern = {
            email: {
                isValid: false,
                message: "${_('A properly formatted e-mail is required')}",
                field: "${_('E-mail')}",
                pattern: /^(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|"(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*")@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])$/,
            },
            name: {
                isValid: false,
                message: "${_('Your legal name must be a minimum of two characters long')}",
                field: "${_('Full Name')}",
                pattern: /^[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]{2,255}$/,
            },
            username: {
                isValid: false,
                message: "${_('Usernames can only contain letters (A-Z, a-z), numerals (0-9), underscores (_), and hyphens (-) and must be between 2 and 255 characters long.')}",
                field: "${_('Public Username')}",
                pattern: /^[a-zA-Z0-9_-]{2,30}$/,
            },
            password: {
                isValid: false,
                message: "${_('A valid password is required')}",
                field: "${_('Password')}",
                pattern: /^[A-Za-z\d@$!%*?&_]{8,75}$/,
            },
            confirm_password: {
                isValid: false,
                message: "${_('Passwords Don\'t Match')}",
                field: "${_('Confirm Password')}",
                pattern: function(passwordVal, passwordConfirmVal) { return passwordVal === passwordConfirmVal }
            },
            terms_of_service: {
                isValid: false,
                message: "${_('You must accept the terms of service.')}",
                field: "${_('Terms of Service')}",
            },
            honor_code: {
                isValid: false,
                message: "${_('To enroll, you must follow the honor code.')}",
                field: "${_('Honor Code')}",
            }
        };

        function addMsgError(key, msg) {
            $('#' + key).attr('aria-invalid', true).addClass('error-field');
            $('.js-' + key.replace(/_/g, '-') + '-field').find('.js-error-message').text(msg || validationPattern[key].message);
        }

        function removeMsgError($this) {
            $this.removeAttr('aria-invalid').removeClass('error-field');
            $('.js-' + $this.attr('id').replace(/_/g, '-') + '-field').find('.js-error-message').text('');
        }

        function addMessageAlert(field, errorMsg, key) {
            $("<p/>").attr('id', 'text-' + key).text(errorMsg).prepend('<span class="font-weight-bolder">' + field + ': ' + '</span>').appendTo('.js-alert-error-message');
        }

        function validateForm(json) {
            let isValidForm = [];
            $('input.js-register-field').each(function() {
                for (let key in validationPattern) {

                    if (validationPattern.hasOwnProperty(key) && $(this).prop('name') === key) {

                            if ($(this).prop('type') !== 'checkbox' && $(this).prop('name') !== 'confirm_password') {
                                    if (validationPattern && validationPattern[key] && typeof validationPattern[key].pattern !== 'function' && validationPattern[key].pattern.test($(this).val())) {
                                        let $this = $(this);
                                        removeMsgError($this);
                                        $('.js-alert-error-message').find('#text-' + key).remove();
                                        validationPattern[key].isValid = true;
                                    } else {
                                        addMsgError(key);
                                        const field = validationPattern && validationPattern[key] && validationPattern[key].field;
                                        const msg = validationPattern && validationPattern[key] && validationPattern[key].message;
                                        addMessageAlert(field, msg, key);
                                        validationPattern[key].isValid = false;
                                    }
                            } else if ($(this).prop('name') === 'confirm_password') {
                                let $confirmPassword = $('#confirm_password');
                                if ($confirmPassword.val() !== '' && validationPattern && validationPattern[key] && validationPattern[key].pattern($('#password').val(), $(this).val())) {
                                    let $this = $(this);
                                    removeMsgError($this);
                                    $('.js-alert-error-message').find('#text-' + key).remove();
                                    validationPattern[key].isValid = true;
                                } else {
                                    if ($confirmPassword.val() === '') {
                                        let confirmPasswordTranslation = "${_('A valid confirm password is required')}";
                                        addMsgError(key, confirmPasswordTranslation);
                                        const field = validationPattern && validationPattern[key] && validationPattern[key].field;
                                        addMessageAlert(field, confirmPasswordTranslation, key);
                                        validationPattern[key].isValid = false;
                                    } else {
                                        addMsgError(key);
                                        const field = validationPattern && validationPattern[key] && validationPattern[key].field;
                                        const msg = validationPattern && validationPattern[key] && validationPattern[key].message;
                                        addMessageAlert(field, msg, key);
                                        validationPattern[key].isValid = false;
                                    }
                                }
                            } else {
                                if ($(this).is(':checked')) {
                                    let $this = $(this);
                                    removeMsgError($this);
                                    $('.js-alert-error-message').find('#text-' + key).remove();
                                    validationPattern[key].isValid = true;
                                } else {
                                    addMsgError(key);
                                    const field = validationPattern && validationPattern[key] && validationPattern[key].field;
                                    const msg = validationPattern && validationPattern[key] && validationPattern[key].message;
                                    addMessageAlert(field, msg, key);
                                    validationPattern[key].isValid = false;
                                }
                            }
                    }
                }
            });

            $('input.js-register-field').each(function() {
                for (let key in validationPattern) {
                    let validField = validationPattern && validationPattern[key] && validationPattern[key].isValid;
                    isValidForm.push(validField)
                }
            });

            isValidForm = isValidForm && isValidForm.every(function(elem) {
                return elem === true;
            })

            if (isValidForm && json.field) {
                addMsgError(json.field, json.value);
                addMessageAlert(json.field, json.value, json.field);
            }
        }

        $('#register-form').on('ajax:error', function (event, jqXHR, textStatus) {
            toggleSubmitButton(true);
            json = $.parseJSON(jqXHR.responseText);
            $('.status.message.submission-error').addClass('is-shown').focus();
            $('.status.message.submission-error .message-copy').css("display", "block");
            $(".field-error").removeClass('field-error');
            $("[data-field='" + json.field + "']").addClass('field-error');
            $('.js-alert-error-message').empty();
            validateForm(json);
        });
    })(this);

    function thirdPartySignin(event, url) {
        event.preventDefault();
        window.location.href = url;
    }

    function toggleSubmitButton(enable) {
        var $submitButton = $('form .form-actions #submit');

        if (enable) {
            $submitButton.removeClass('is-disabled').attr('aria-disabled', false).removeProp('disabled').removeAttr('disabled').html("<i class='fas fa-check' aria-hidden='true'></i> ${_('Register')}");
        }
        else {
            $submitButton.addClass('is-disabled').prop('disabled', true).text("${_('Processing your account information')}");
        }
    }
</script>
</%block>


<div id="content" class="border-top">
  <section class="register container login" id="skip-main">
    <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel">
    <div class="d-flex">
       <article id="result">
           <header class="header-login">
             <h2 class="custom-h2">
              <span class="d-none d-md-block">${_("Registration form")}</span>
            </h2>
          </header>
            <h1 class="mt-0"><strong>${_("Welcome!")}</strong><br> ${_("Register below to create your {platform_name} account").format(platform_name=platform_name)}</h1>

            <section role="main">
                <form id="register-form" method="post" data-remote="true" action="/create_account" novalidate aria-label="${_('Registration form')}">
                    <%
                    # allow for theming override on the registration form
                    registration_form = static.get_template_path('register-form.html')
                    %>
                    <%include file="${registration_form}" />
                </form>
             </section>

        </article>

        <aside>
          <div class="header-login">
            <h2 id="h2">
              <span class="d-none d-md-block">${_("Helpful Information")}</span>
            </h2>
          </div>
            <%
            # allow for theming overrides on the registration sidebars, otherwise default to pre-existing ones
            sidebar_file = static.get_template_path('register-sidebar.html')
            %>

            <%include file="${sidebar_file}" />
        </aside>

      </div>
   </div>
   </div>
  </section>
 </div>
