## mako

<%page expression_filter="h"/>

<%!
from django.utils.translation import ugettext as _
from openedx.core.djangolib.markup import HTML, Text
%>

<%inherit file="../main.html"/>
<%namespace name='static' file='../static_content.html'/>

<%block name="title">
    <title>${_("Reset Your {platform_name} Password").format(platform_name=platform_name)}</title>
</%block>

<%block name="head_extra">
    <link type="text/css" rel="stylesheet" href="${STATIC_URL}paragon/static/paragon.min.css">
</%block>

<%block name="bodyclass">view-passwordreset</%block>

<%block name="body">
<div id="password-reset-confirm-container" class="content-login login-register-content">
    <main id="skip-main" class="login">
    % if validlink:
        ${static.renderReact(
	        component="PasswordResetConfirmation",
	        id="password-reset-confirm-react",
	        props={
                'csrfToken': csrf_token,
                'errorMessage': err_msg if err_msg else '',
            },
        )}
    % else:
        <div class="login__section login__invalid__link status submission-error d-flex">
            <img src="/static/images/Component42.svg"  alt="" width="105" height="95">
            <div class = "login__message">
                <h1 class="message-title f-22 h-30 mb-2">${_("Invalid link")}</h1>
                <p class="message-copy f-16 h-24 mb-2">
                    ${Text(_(
                        "The password reset link is no longer valid. It has probably "
                        "already been used. To generate a new link, go to the login "
                        "page and click {start_strong}Forgot password?{end_strong}."
                        )).format(
                            start_strong=HTML('<strong>"'),
                            end_strong=HTML('"</strong>')
                        )
                    }
                </p>
                <a class="f-16 h-24" href="/login">${_("Go to the login page")}</a>
           </div> 
        </div>
    % endif
    </main>
</div>
</%block>
