## mako

<%page expression_filter="h"/>

<%!
from django.utils.translation import ugettext as _
from openedx.core.djangolib.markup import HTML, Text
%>

<%inherit file="../main.html"/>

<%block name="title">
    <title>${_("Your Password Reset is Complete")}</title>
</%block>

<%block name="bodyextra">
    <script type="text/javascript">
        $(function() {
            'use strict';
            // adding js class for styling with accessibility in mind
            $('body').addClass('js');
        });
    </script>
</%block>

<%block name="bodyclass">view-passwordreset</%block>

<%block name="body">
<div id="password-reset-complete-container" class="login__reset content-login text-center">
    <section id="password-reset-complete-anchor" class="login__section form-type">
        <div id="password-reset-complete" class="form-wrapper">
            <div class="status submission-success" aria-live="polite">
                <h4 class="message-title h-30 f-22">${_("Your password has been reset")}</h4>
                <p class="message-copy f-16 h-24 mt-3">
                ${Text(_("{start_link}Log in{end_link}")).format(
                    start_link=HTML('<a href="/login">'),
                    end_link=HTML('</a>')
                )}
                </p>
            </div>
        </div>
    </section>
</div>
</%block>
