## mako

<%page expression_filter="h"/>
<%namespace name='static' file='../static_content.html'/>

<%!
import json

from django.conf import settings
from django.utils.translation import ugettext as _
from django.template.defaultfilters import escapejs
from django.urls import reverse
from courseware.courses import get_course_about_section

from django_comment_client.permissions import has_permission
from openedx.core.djangolib.js_utils import dump_js_escaped_json, js_escaped_string
from openedx.core.djangolib.markup import HTML, Text
from openedx.features.course_experience import UNIFIED_COURSE_TAB_FLAG, SHOW_REVIEWS_TOOL_FLAG
from openedx.features.learner_analytics import ENABLE_DASHBOARD_TAB
from openedx.features.portfolio_project import INCLUDE_PORTFOLIO_UPSELL_MODAL
%>

<%block name="header_extras">
  <link rel="stylesheet" type="text/css" href="${static.url('paragon/static/paragon.min.css')}" />
</%block>

<%block name="js_extra">
  <%static:js group='dashboard'/>
  <script type="text/javascript">
    $(document).ready(function() {
      edx.dashboard.legacy.init({
        changeEmailSettings: "${reverse('change_email_settings') | n, js_escaped_string}"
      });
    });
  </script>
</%block>

<%block name="content">


<div class="border-top py-5" id="content">

  <main class="container">

   <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel">
      <div class="d-flex">
        % if ENABLE_DASHBOARD_TAB.is_enabled(course_key):
            ${static.renderReact(
              component="UpsellExperimentModal",
              id="upsell-modal",
              props={},
            )}
        % endif

        % if INCLUDE_PORTFOLIO_UPSELL_MODAL.is_enabled():
            ${static.renderReact(
                component="PortfolioExperimentUpsellModal",
                id="portfolio-experiment-upsell-modal",
                props={}
            )}
        % endif
        <aside id="filter" class="sidebar">
            % if has_goal_permission:
                <div class="section section-goals ${'' if current_goal else 'hidden'}">
                    <div class="current-goal-container">
                        <label class="title title-label hd-6" for="goal">
                            <h3 class="hd-6">${_("Goal: ")}</h3>
                        </label>
                        <h3 class="title hd-6">${_("Goal: ")}</h3>
                        <div class="goal">
                            <span class="text">${goal_options[current_goal.goal_key] if current_goal else ""}</span>
                        </div>
                        <select class="edit-goal-select" id="goal">
                            % for goal, goal_text in goal_options.items():
                                <option value="${goal}" ${"selected" if current_goal and current_goal.goal_key == goal else ""}>${goal_text}</option>
                            % endfor
                        </select>
                        <span class="sr sr-update-response-msg" aria-live="polite"></span>
                        <span class="response-icon" aria-hidden="true"></span>
                        <span class="sr">${_("Edit your course goal:")}</span>
                        <button class="edit-icon">
                            <span class="sr">${_("Edit your course goal:")}</span>
                            <span class="fa fa-pencil" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            % endif
            % if course_tools:
                <header class="courses-list-header">
                    <h2 class="custom-h2">
                    <span class="d-none d-md-block">${_("Course Tools")}</span>
                    </h2>
                </header>
                <ul class="course-details list-group list-group-flush mb-3">
                    % for course_tool in course_tools:
                        <li class="list-group-item">
                          <div class="course-details-icon">
                            <i class="icon ${course_tool.icon_classes()}" aria-hidden="true"></i>
                          </div>
                            <div class="course-details-content">
                              <a href="${course_tool.url(course_key)}">${course_tool.title()}</a>
                            </div>
                        </li>
                    % endfor

                    <li class="list-group-item">
                        <div class="course-details-icon">
                            <i class="icon fas fa-envelope" aria-hidden="true"></i>
                        </div>
                        <div class="course-details-content">
                            <a href="#email-settings-modal" class="action-email-settings" rel="leanModal" data-course-id="${course.id}" data-course-number="${course.number}" data-optout="${course.id in course_optouts}">${_('Email Settings')}</a>
                        </div>
                    </li>
                </ul>
            % endif
            % if upgrade_url and upgrade_price:
                <div class="section section-upgrade course-home-sidebar-upgrade">
                    <h3 class="hd hd-6">${_("Pursue a verified certificate")}</h3>
                        <img src="https://courses.edx.org/static/images/edx-verified-mini-cert.png" alt="">
                        <div class="upgrade-container">
                            <p>
                                <a class="btn-brand btn-upgrade"
                                   href="${upgrade_url}"
                                   data-creative="sidebarupsell"
                                   data-position="sidebar-message">
                                   ${_("Upgrade ({price})").format(price=upgrade_price)}
                                </a>
                            </p>
                            <p><button class="btn-link btn-small promo-learn-more">${_('Learn More')}</button></p>
                        </div>
                </div>
            % endif
            % if dates_fragment:
                <div class="course-details list-group list-group-flush mb-3">
                    ${HTML(dates_fragment.body_html())}
                </div>
            % endif
            ## % if handouts_html:
            ##     <div class="section section-handouts">
            ##         <h3 class="hd-6 section-title">${_("Course Handouts")}</h3>
            ##             ${HTML(handouts_html)}
            ##     </div>
            ## % endif
            </aside>
        <article id="results">
            <div id="updates">
                % if update_message_fragment and UNIFIED_COURSE_TAB_FLAG.is_enabled(course.id):
                    <div class="section section-update-message">
                        ${HTML(update_message_fragment.body_html())}
                    </div>
                % endif
            </div>
            <header class="courses-list-header">
                <h2 class="custom-h2">
                    <!-- <span class="d-name d-md-block">Spis treści</span> -->
                    <span class="d-name d-md-block">${_("Table of Contents")}</span>
                </h2>
                </header>
            % if settings.FEATURES.get('ENABLE_COURSEWARE_SEARCH'):
                <div id="discovery-form1" class="input-group my-3 p-2">
                    <form class="search-form input-group" role="search" action="${reverse('openedx.course_search.course_search_results', args=[course_key])}">
                        <label class="field-label sr-only" for="search" id="search-hint">${_('Search the course')}</label>
                        <input
                            class="field-input input-text search-input form-control"
                            type="search"
                            name="query"
                            id="search"
                            placeholder="${_('Search the course')}"
                            />
                        <span class="input-group-btn">
                            <button class="btn btn-light btn-oytline-secondary" type="submit">${_('Search')}</button>
                        </span>
                    </form>
                </div>
            % endif
            <div class="form-actions">
                % if resume_course_url:
                    <a class="btn btn-primary action-resume-course btn-w-100" href="${resume_course_url}">
                    % if has_visited_course:
                    <span data-action-type="resume">${_("Resume Course")}</span>
                    % else:
                     <span data-action-type="start">${_("Start Course")}</span>
                    % endif
                    </a>
                % endif
                <button class="btn btn-link action-resume-course float-right btn-w-100"
                      id="expand-collapse-outline-all-button"
                      aria-expanded="false"
                      aria-controls="course-outline-block-tree">
                    <span class="expand-collapse-outline-all-extra-padding" id="expand-collapse-outline-all-span">${_("Expand All")}</span>
                    <span class="icon fa fa-caret-down ui-toggle-dd fa-rotate-0" id="caret"></span>
               </button>
            </div>
            <section class="faq">
                % if course_home_message_fragment:
                    ${HTML(course_home_message_fragment.body_html())}
                % endif

            % if outline_fragment:
                ${HTML(outline_fragment.body_html())}
            % endif
            </section>
        </article>
      </div>
    </div>
    % if course_sock_fragment:
        ${HTML(course_sock_fragment.body_html())}
    % endif

   </div>
  </main>
</div>

<section id="email-settings-modal" class="modal" aria-hidden="true">
    <div class="inner-wrapper" role="dialog" aria-labelledby="email-settings-title">
        <div class="modal-header">
            <h5 id="email-settings-title" class="modal-title">
                ${Text(_("Email Settings for {course_number}")).format(course_number=HTML('<span id="email_settings_course_number"></span>'))}
                <span class="sr">,
                ## Translators: this text gives status on if the modal interface (a menu or piece of UI that takes the full focus of the screen) is open or not
                    ${_("window open")}
                </span>
            </h5>


        <button class="close-modal">
          <span class="icon fa fa-remove" aria-hidden="true"></span>
          <span class="sr">
          ## Translators: this is a control to allow users to exit out of this modal interface (a menu or piece of UI that takes the full focus of the screen)
          ${_("Close")}
          </span>
        </button>
        <hr/>
    </div>

    <div>
      <form id="email_settings_form" method="post">
        <div class="modal-body">
            <div id="track-info">
                <input name="course_id" id="email_settings_course_id" type="hidden" />
                <label for="receive_emails">${_("Receive course emails")} <input type="checkbox" id="receive_emails" name="receive_emails" /></label>
            </div>
        </div>
        <hr/>
        <div class="submit modal-body">
          <input class="btn btn-primary btn-sm form-actions d-flex w-100" type="submit" id="submit" value="${_("Save Settings")}" />
        </div>
      </form>
    </div>
</div>
  </section>

</%block>

<%static:webpack entry="CourseHome">
    new CourseHome({
        courseRunKey: "${course_key | n, js_escaped_string}",
        resumeCourseLink: ".action-resume-course",
        courseToolLink: ".course-tool-link",
        goalApiUrl: "${goal_api_url | n, js_escaped_string}",
        username: "${username | n, js_escaped_string}",
        courseId: "${course.id | n, js_escaped_string}",
    });
</%static:webpack>

<%static:webpack entry="Enrollment">
    new CourseEnrollment('.enroll-btn', '${course_key | n, js_escaped_string}');
</%static:webpack>
<%static:require_module_async module_name="js/dateutil_factory" class_name="DateUtilFactory">
    DateUtilFactory.transform('.localized-datetime');
</%static:require_module_async>
