## mako

<%page expression_filter="h"/>
<%namespace name='static' file='../static_content.html'/>

<%!
from django.utils.translation import ugettext as _
from openedx.core.djangolib.js_utils import js_escaped_string
from openedx.core.djangolib.markup import HTML
%>

<%block name="content">
<div class="welcome-message">
   <div class="d-flex justify-content-between">
        <h2 id="h2">${_('Welcome Message')}</h2>
        <div class="dismiss-message">
            <button class="btn btn-sm btn-outline-primary red">
                <span class="dissmis-action" data-action-type="resume"></span>
            </button>
         </div>
    </div>
    <div id="welcome-message-content">
        ${HTML(welcome_message_html)}
    </div>
    <hr>
</div>

</%block>

<%static:webpack entry="WelcomeMessage">
    new WelcomeMessage({
        dismissUrl: "${dismiss_url | n, js_escaped_string}",
    });
</%static:webpack>
