## mako

<%page expression_filter="h" args="online_help_token, use_cookie_banner=False"/>

<%namespace name='static' file='../static_content.html'/>
<%namespace file='../main.html' import="login_query"/>
<%!
from django.core.urlresolvers import reverse
from django.utils.translation import ugettext as _

from lms.djangoapps.ccx.overrides import get_current_ccx
from openedx.core.djangolib.markup import HTML, Text

# App that handles subdomain specific branding
from branding import api as branding_api
from openedx.core.djangoapps.lang_pref.api import header_language_selector_is_enabled, released_languages

# GDPR Flag
from openedx.features.course_experience import ENABLE_GDPR_COMPAT_FLAG
%>

## Provide a hook for themes to inject branding on top.
<%block name="navigation_top" />

## Add UI Toolkit components if using the Pattern Library
% if uses_pattern_library:
<%block name="js_extra">
<%static:require_module module_name="js/header_factory" class_name="HeaderFactory">
HeaderFactory();
</%static:require_module>
</%block>
% endif

<!-- Navigation -->


<div id="header-navigation" class="bg-white">
    % if use_cookie_banner and ENABLE_GDPR_COMPAT_FLAG.is_enabled_without_course_context():
    ${static.renderReact(
    component="CookiePolicyBanner",
    id="cookie-policy-banner",
    props={}
    )}
    % endif
    <div class="container">

        <div class="navbar navbar-expand-md justify-content-between">

            <a class="navbar-brand mr-3" href="/">
                <img src="/static/images/logo-light-bg.svg" alt="${_('Navoica logo')}">
            </a>

            % if course and user.is_authenticated():

            <span id="" class="course-preview-title d-flex flex-column flex-wrap mr-auto">
              % if course.organizer:
                          <span class="provider text-uppercase text-darkgrey w-100">${settings.ALL_COURSE_ORGANIZER_DICT[course.organizer]}</span><br>

             % else:
                          <span class="provider text-uppercase text-darkgrey w-100">${course.display_org_with_default}</span><br>

              % endif
             <span class="course-name text-primary text-uppercase">${course.display_name_with_default}</span>
           </span>

            % else:


            % if request.path != '/':
            <form method="GET" action="/courses" class="form-inline mr-auto d-none d-xl-block">
                <div class="input-group w-100">
                    <label for="search-course" class="sr-only">${_('What do you want to learn?')}</label>
                    <input class="form-control search-input" id="search-course" type="search" name="search_query" placeholder="${_('What do you want to learn?')}" aria-label="${_('What do you want to learn?')}">
                    <div class="input-group-append">
                        <button class="btn btn-light btn-outline-secondary" type="submit" aria-label="${_('Search')}"><i class="fa fa-search mx-0" aria-hidden="true"></i></button>
                    </div>
                </div>
            </form>
            % else:
            <div></div>
            % endif

            % endif

            <nav aria-label="Nawiguj do wybranych stron platformy Nawojka">

                <div class="dropdown ml-auto">
                    <button id="mooc-my-mooc"
                            class="btn btn-outline-primary border-secondary dropdown-toggle"
                            data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false" aria-label="Menu - Moja Nawojka">
                        <em class="fa fa-bars"></em>
                    </button>
                    <div id="mooc-my-mooc-menu"
                        class="dropdown-menu dropdown-menu-right"
                        aria-labelledby="mooc-my-mooc" role="menu">
                        <div role="heading" aria-level="6" aria-hidden="true" class="dropdown-header text-uppercase" id="my-account">${_('My Account')}</div>
                        % if user.is_authenticated():
                        <%include file="navbar-authenticated.html" args="online_help_token=online_help_token"/>
                        % else:
                        <%include file="navbar-not-authenticated.html" args="online_help_token=online_help_token"/>
                        % endif
                    </div>

                </div>

                <div class="collapse navbar-collapse desktop-menu" id="navbarResponsive">

                    <div class="navbar-nav ml-auto">
                        % if user.is_authenticated():
                        <%include file="navbar-authenticated.html" args="online_help_token=online_help_token"/>
                        % else:
                        <%include file="navbar-not-authenticated.html" args="online_help_token=online_help_token"/>
                        % endif


                    </div>
                </div>

            </nav>


        </div>

    </div>
</div>




% if course:
<!--[if lte IE 9]>
<div class="ie-banner" aria-hidden="true">${Text(_('{begin_strong}Warning:{end_strong} Your browser is not fully supported. We strongly recommend using {chrome_link} or {ff_link}.')).format(
    begin_strong=HTML('<strong>'),
        end_strong=HTML('</strong>'),
    chrome_link=HTML('<a href="https://www.google.com/chrome" target="_blank">Chrome</a>'),
    ff_link=HTML('<a href="http://www.mozilla.org/firefox" target="_blank">Firefox</a>'),
    )}
</div>
<![endif]-->
% endif

<%
unsupported_browser_alert_versions = settings.FEATURES.get('UNSUPPORTED_BROWSER_ALERT_VERSIONS')
%>
<script>
    var $buoop = {
        notify:${unsupported_browser_alert_versions | n, decode.utf8},
        api:5,
        reminder:0,
        unsupported:true
    };
    function $buo_f() {
        var e = document.createElement("script");
        e.src = "//browser-update.org/update.min.js";
        document.body.appendChild(e);
    };
    try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
    catch(e){window.attachEvent("onload", $buo_f)}
  </script>
% if settings.FEATURES.get('ENABLE_COOKIE_CONSENT', False):
<%include file="../widgets/cookie-consent.html" />
% endif

% if header_language_selector_is_enabled():
<% languages = settings.LANGUAGES %>
% if len(languages) > 1:
<form action="/i18n/setlang/" method="post" class="settings-language-form" id="language-settings-form">
    <input type="hidden" id="csrf_token" name="csrfmiddlewaretoken" value="${csrf_token}">
    % if user.is_authenticated():
    <input title="preference api" type="hidden" class="url-endpoint"
           value="${reverse('preferences_api', kwargs={'username': user.username})}" data-user-is-authenticated="true">
    % else:
    <input title="session update url" type="hidden" class="url-endpoint" value="${reverse('session_language')}"
           data-user-is-authenticated="false">
    % endif
    <label><span class="sr">${_("Choose Language")}</span>
        <select class="input select language-selector" id="settings-language-value" name="language">
            % for language in languages:
                % if language[0] == LANGUAGE_CODE:
                <option value="${language[0]}" selected="selected">${language[1]}</option>
                % else:
                <option value="${language[0]}">${language[1]}</option>
                % endif
            % endfor
        </select>
    </label>
</form>
% endif
% endif
