## mako

<%page expression_filter="h"/>

<%namespace name='static' file='../static_content.html'/>
<%namespace file='../main.html' import="login_query"/>

<%!
from django.core.urlresolvers import reverse
from django.utils.translation import ugettext as _
from six import text_type
from openedx.core.djangoapps.lang_pref.api import header_language_selector_is_enabled
%>

<%
mktg_site_enabled = static.get_value('ENABLE_MKTG_SITE', settings.FEATURES.get('ENABLE_MKTG_SITE', False))
courses_are_browsable = settings.FEATURES.get('COURSES_ARE_BROWSABLE')
allows_login = not settings.FEATURES['DISABLE_LOGIN_BUTTON'] and not combined_login_and_register
can_discover_courses = settings.FEATURES.get('ENABLE_COURSE_DISCOVERY')
restrict_enroll_for_course = course and settings.FEATURES.get('RESTRICT_ENROLL_BY_REG_METHOD') and course.enrollment_domain
allow_public_account_creation = static.get_value('ALLOW_PUBLIC_ACCOUNT_CREATION', settings.FEATURES.get('ALLOW_PUBLIC_ACCOUNT_CREATION'))
%>

<div role="menuitem" class="nav-item desktop-menu">
    % if request.path == '/':
    <a href="/" class="btn btn-link active" aria-current="page">${_("Home")}</a>
    % else:
    <a href="/" class="btn btn-link">${_("Home")}</a>
    % endif
</div>
% if courses_are_browsable:
<div role="menuitem" class="nav-item desktop-menu">
    % if request.path == '/courses':
    <a href="${marketing_link('COURSES')}" class="btn btn-link active" aria-current="page">${_("Discover New")}</a>
    % else:
    <a href="${marketing_link('COURSES')}" class="btn btn-link">${_("Discover New")}</a>
    % endif
</div>
<div class="desktop-menu header-navigation__separator"></div>
<%include file="navbar-language-desktop.html"/>
% endif

% if mktg_site_enabled:
    <div role="menuitem" class="nav-item">
        <a class="nav-link" href="${marketing_link('HOW_IT_WORKS')}">${_("How it Works")}</a>
    </div>
    <div role="menuitem" class="nav-item">
        <a class="nav-link" href="${marketing_link('SCHOOLS')}">${_("Schools")}</a>
    </div>
% endif

% if allows_login:
    % if restrict_enroll_for_course:
    <div role="menuitem" class="nav-item desktop-menu mx-0">
        % if request.path == '/register':
        <a class="btn btn-link active header-navigation__btn-register" aria-current="page" href="${reverse('course-specific-register', args=[text_type(course.id)])}"> ${_("Register")}</a>
        % else:
        <a class="btn btn-link header-navigation__btn-register" href="${reverse('course-specific-register', args=[text_type(course.id)])}"> ${_("Register")}</a>
        %endif
    </div>
    <div role="menuitem" class="mobile-menu">
        <a class="dropdown-item" href="${reverse('course-specific-register', args=[text_type(course.id)])}">${_("Register")}</a>
    </div>
    <div role="menuitem" class="nav-item">
        <a href="${reverse('course-specific-login', args=[text_type(course.id)])}${login_query()}" class="btn header-navigation__btn-login">${_("Sign in")}</a>
    </div>
    % else:
    <div role="menuitem" class="nav-item desktop-menu">
        % if request.path == '/login':
        <a href="/login${login_query()}" class="btn header-navigation__btn-login active" aria-current="page"><img src="/static/images/my-account-icon.png" alt="" class="header-navigation__btn-login--icon" />${_("Log in")}</a>
        % else:
        <a href="/login${login_query()}" class="btn header-navigation__btn-login"><span class="header-navigation__btn-login--icon"></span>${_("Log in")}</a>
        %endif
    </div>
    <div role="menuitem" class="mobile-menu">
        <a class="dropdown-item" href="/login${login_query()}"><span class="header-navigation__btn-login--icon"></span>${_("Log in")}</a>
    </div>
    <div class="desktop-menu header-navigation__separator--mini"></div>
        % if allow_public_account_creation:
        <div role="menuitem" class="nav-item desktop-menu mx-0">
            % if request.path == '/register':
            <a class="btn btn-link active header-navigation__btn-register" aria-current="page" href="/register${login_query()}">${_("Register")}</a>
            % else:
            <a class="btn btn-link header-navigation__btn-register" href="/register${login_query()}">${_("Register")}</a>
            % endif
        </div>
        <div role="menuitem" class="mobile-menu">
            <a class="dropdown-item" href="/register${login_query()}">${_("Register")}</a>
        </div>
        % endif
    % endif
% endif


<hr class="dropdown-divider mobile-menu my-0" />
<div role="heading" aria-level="6" aria-hidden="true" class="dropdown-header text-uppercase mobile-menu">${_("Courses")}</div>

<div role="menuitem" class="mobile-menu">
    <a class="dropdown-item" href="${marketing_link('COURSES')}">${_("Discover New")}</a>
</div>

% if header_language_selector_is_enabled():
<%include file="navbar-language-mobile.html"/>
% endif
