## mako

<%page expression_filter="h" args="online_help_token"/>

<%namespace name='static' file='../static_content.html'/>
<%namespace file='../main.html' import="login_query"/>
<%!
from django.core.urlresolvers import reverse
from django.utils.translation import ugettext as _
from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers
%>

<%
show_explore_courses = settings.FEATURES.get('COURSES_ARE_BROWSABLE') and not show_program_listing
show_sysadmin_dashboard = settings.FEATURES.get('ENABLE_SYSADMIN_DASHBOARD','') and user.is_staff
self.real_user = getattr(user, 'real_user', user)
%>

<div class="nav-item desktop-menu" role="menuitem">
    <a class="btn btn-outline-primary btn-sm" href="${marketing_link('COURSES')}">${_("Discover New")}</a>
</div>

% if show_sysadmin_dashboard:
<div class="mobile-nav-item hidden-mobile nav-item" role="menuitem">
    ## Translators: This is short for "System administration".
    <a class="tab-nav-link" href="${reverse('sysadmin')}">${_("Sysadmin")}</a>
</div>
% endif

% if should_display_shopping_cart_func() and not (course and static.is_request_in_themed_site()): # see shoppingcart.context_processor.user_has_cart_context_processor
<div class="mobile-nav-item hidden-mobile nav-item" role="menuitem">
    <a class="shopping-cart" href="${reverse('shoppingcart.views.show_cart')}">
        <span class="icon fa fa-shopping-cart" aria-hidden="true"></span> ${_("Shopping Cart")}
    </a>
</div>
% endif

<%include file="user_dropdown.html"/>

