## mako

<%page expression_filter="h"/>

<%namespace name='static' file='../static_content.html'/>
<%namespace file='../main.html' import="login_query"/>

<%!
from django.core.urlresolvers import reverse
from django.utils.translation import ugettext as _
from six import text_type
%>

<%
mktg_site_enabled = static.get_value('ENABLE_MKTG_SITE', settings.FEATURES.get('ENABLE_MKTG_SITE', False))
courses_are_browsable = settings.FEATURES.get('COURSES_ARE_BROWSABLE')
allows_login = not settings.FEATURES['DISABLE_LOGIN_BUTTON'] and not combined_login_and_register
can_discover_courses = settings.FEATURES.get('ENABLE_COURSE_DISCOVERY')
restrict_enroll_for_course = course and settings.FEATURES.get('RESTRICT_ENROLL_BY_REG_METHOD') and course.enrollment_domain
allow_public_account_creation = static.get_value('ALLOW_PUBLIC_ACCOUNT_CREATION', settings.FEATURES.get('ALLOW_PUBLIC_ACCOUNT_CREATION'))
%>

<!--<ul class="list-menu m-0 p-0">-->
% if courses_are_browsable:
<div role="menu" class="nav-item desktop-menu">
    <a href="${marketing_link('COURSES')}"><button type="button" class="btn btn-outline-primary btn-sm">${_("Discover New")}</button></a>
</div>
% endif

<!--
<li class="nav-item">
    <a class="btn btn-outline-primary" href="http://polskimooc.edu.pl" target="_blank">${_("About")}</a>
</li>

<li class="nav-item">
    <a class="btn btn-outline-primary" href="${marketing_link('CONTACT')}">${_("Contact")}</a>
</li>


<li class="nav-item">
    <a class="nav-link" href="${marketing_link('BLOG')}">${_("News")}</a>
</li>
-->
% if mktg_site_enabled:


<div role="menuitem" class="nav-item">
    <a class="nav-link" href="${marketing_link('HOW_IT_WORKS')}">${_("How it Works")}</a>
</div>

<div role="menuitem" class="nav-item">
    <a class="nav-link" href="${marketing_link('SCHOOLS')}">${_("Schools")}</a>
</div>
% endif

% if allows_login:
        % if restrict_enroll_for_course:
<div role="menuitem" class="nav-item desktop-menu">
    <a class="btn btn-primary btn-smr" href="${reverse('course-specific-register', args=[text_type(course.id)])}"> ${_("Register")}</a>
</div>
<div role="menuitem" class="mobile-menu">
    <a class="dropdown-item" href="${reverse('course-specific-register', args=[text_type(course.id)])}">${_("Register")}</a>
</div>
<div role="menuitem" class="nav-item">
    <a href="${reverse('course-specific-login', args=[text_type(course.id)])}${login_query()}"><button type="button" class="btn btn-outline-primary btn-sm"> ${_("Sign in")}</button></a>
</div>

% else:
<div role="menuitem" class="nav-item desktop-menu">
    <a href="/login${login_query()}"><button type="button" class="btn btn-outline-primary btn-sm"> ${_("Log in")}</button></a>
</div>
<div role="menuitem" class="mobile-menu">
    <a class="dropdown-item" href="/login${login_query()}">${_("Log in")}</a>
</div>
% if allow_public_account_creation:
<div role="menuitem" class="nav-item desktop-menu">
    <a class="btn btn-primary btn-sm" href="/register${login_query()}">${_("Register")}</a>
</div>
<div role="menuitem" class="mobile-menu">
    <a class="dropdown-item" href="/register${login_query()}">${_("Register")}</a>
</div>
% endif
% endif
% endif
<!--</ul>-->

<hr class="dropdown-divider mobile-menu my-0" />
<div role="heading" aria-level="6" aria-hidden="true" class="dropdown-header text-uppercase mobile-menu">${_("Courses")}</div>

<div role="menuitem" class="mobile-menu">
    <a class="dropdown-item" href="${marketing_link('COURSES')}">${_("Discover New")}</a>
</div>

<!--<hr class="dropdown-divider mobile-menu my-0" />
<div role="heading" aria-level="6" aria-hidden="true" class="dropdown-header text-uppercase mobile-menu" id="language-mobile">${_("Choose Language")}</div>

<div class="mobile-menu" role="menuitem" aria-labelledby="language-mobile">
    <a class="dropdown-item text-capitalize"
       href="#"
       aria-label="Ustaw język interfejsu strony na polski">
        <img class="mooc-lang-flag"
             src="/static/images/pl-lang.png"
             aria-hidden="true"
             alt="Język polski"
             height="32">${_('Polish')}
    </a></li>
<div class="mobile-menu" role="menuitem" aria-labelledby="language-mobile">
    <a class="dropdown-item text-capitalize"
       href="#"
       aria-label="Set the website interface language to English">
        <img class="mooc-lang-flag"
             src="/static/images/en-lang.png"
             aria-hidden="true"
             alt="English language"
             height="32">${_('English')}
    </a></div>-->
