## mako
<%page expression_filter="h"/>
<%namespace name='static' file='static_content.html'/>

<%!
from django.core.urlresolvers import reverse
from django.utils.translation import ugettext as _

from openedx.core.djangoapps.user_api.accounts.image_helpers import get_profile_image_urls_for_user
from openedx.core.djangoapps.user_api.accounts.utils import retrieve_last_sitewide_block_completed
from openedx.features.enterprise_support.utils import get_enterprise_learner_generic_name
%>

<%
## This template should not use the target student's details when masquerading, see TNL-4895
self.real_user = getattr(user, 'real_user', user)
profile_image_url = get_profile_image_urls_for_user(self.real_user)['medium']
username = self.real_user.username
resume_block = retrieve_last_sitewide_block_completed(username)
displayname = get_enterprise_learner_generic_name(request) or username
%>

<li class="mobile-menu"><a class="dropdown-item" href="${reverse('dashboard')}">${_("My Courses")}</a></li>
<li class="mobile-menu"><a class="dropdown-item" href="${reverse('learner_profile', kwargs={'username': username})}">${_("Profile")}</a></li>
<li class="mobile-menu"><a class="dropdown-item" href="${reverse('account_settings')}">${_("Account")}</a></li>

<hr class="dropdown-divider mobile-menu my-0" />
<div role="heading" aria-level="6" aria-hidden="true" class="dropdown-header text-uppercase mobile-menu">${_("Courses")}</div>
<li class="mobile-menu">
    <a class="dropdown-item" href="${marketing_link('COURSES')}">${_("Discover New")}</a>
</li>
<!--<hr class="dropdown-divider mobile-menu my-0" />
<h6 class="dropdown-header text-uppercase mobile-menu">${_("Choose Language")}</h6>
<li class="mobile-menu">
    <a class="dropdown-item text-capitalize"
       href="#"
       aria-label="Ustaw język interfejsu strony na polski">
        <img class="mooc-lang-flag"
             src="/static/images/pl-lang.png"
             aria-hidden="true"
             alt="Język polski"
             height="32">${_('Polish')}
    </a></li>
<li class="mobile-menu">
    <a class="dropdown-item text-capitalize"
       href="#"
       aria-label="Set the website interface language to English">
        <img class="mooc-lang-flag"
             src="/static/images/en-lang.png"
             aria-hidden="true"
             alt="English language"
             height="32">${_('English')}
    </a></li>-->
<hr class="dropdown-divider mobile-menu my-0" />
<li class="mobile-menu"><a class="dropdown-item" href="${reverse('logout')}">${_("Sign Out")}</a></li>
<li class="nav-item dropdown my-account desktop-menu">
            <button class="btn btn-primary btn-sm dropdown-toggle" type="button"  id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="${username} Menu">
             <!-- 
             <img class="mr-2 rounded-circle" src="${profile_image_url}" width="32" height="32">
	     -->				
             ${displayname}
             </button>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="${reverse('dashboard')}">${_("My Courses")}</a>
                <a class="dropdown-item" href="${reverse('learner_profile', kwargs={'username': username})}">${_("Profile")}</a>
                <a class="dropdown-item" href="${reverse('account_settings')}">${_("Account")}</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="${reverse('logout')}">${_("Sign Out")}</a>
            </div>

</li>

