// forums - inline discussion styling
// ====================

@import '../../edx-pattern-library-shims/form';

.discussion.inline-discussion {
  // background: pink;
  h2 {
    color: map_get($grays, "900");
    color: teal;
    display: block;
    font-size: $font-size-base;
    font-weight: $font-weight-bold;
    letter-spacing: .02em;
    line-height: 1.7143;
    margin: $font-size-base 0 0;
    padding: calc(.25em + 1px) 0;
    text-transform: uppercase;
    word-spacing: .04em;

    font-size: 0.875rem;
    margin: 0;
    text-align: left;
  }
  
  .page-header {
    width: 100%;
  //  padding-right: 8px;
  //  padding-left: 8px;
    margin-right: auto;
    margin-left: auto;

    border-bottom: 1px solid map_get($grays, "300");
    margin-bottom: $font-size-base;
    margin-top: $font-size-base;
    padding-bottom: $font-size-base;

  }

  @media (min-width: 960px) {
    .page-header {
      max-width: 960px;
    }
  }

  @media (min-width: 1280px) {
    .page-header {
      max-width: 1280px;
    }
  }

  .inline-threads {
    border: 1px solid $forum-color-border;
    border-radius: $forum-border-radius;
  }

  .inline-thread {
    border: 1px solid $forum-color-border;
    border-radius: $forum-border-radius;

    .forum-nav-bar {
      padding: ($baseline / 2) ($baseline / 4);
      color: $forum-color-navigation-bar;
      position: relative;

      .all-posts-btn {
        color: $forum-color-primary;

        .icon {
          @include margin-left($baseline / 2);
        }
      }
    }

    .forum-content {
      padding: $baseline / 2;
      overflow-y: auto;
    }
  }

  .new-post-article {
    position: relative;
    border: 1px solid $forum-color-border;

    .add-post-cancel {
      @include right($baseline / 2);

      top: $baseline / 2;
      position: absolute;
      color: $blue;

      &:hover,
      &:focus {
        border-color: transparent;
        box-shadow: none;
        background-color: transparent;
        background-image: none;
      }
    }
  }

}
